<div class='chat_boxes' room_id='${room_id}'>
        <div class='not_chatting_box' onclick='grown(event)'>
            <div class='chat_boxes_top_profile'>
                <div class='top_profile_ava'>

                </div>
                <div class='top_profile_name_status'>
                    <div class='chat_name '>
                        ${friend_name}
                    </div>
                </div>
            </div>
            <svg onclick='close_box(event)' class="svgIcon" height="16px" width="16px" version="1.1" viewBox="0 0 16 16"
                x="0px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                xml:space="preserve" y="0px">
                <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
                    <g transform="translate(-712.000000, -1096.000000)">
                        <g stroke="#bec2c9" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                            transform="translate(709.000000, 320.000000)">
                            <path d="M5.833,778.833 L16.167,789.167"></path>
                            <path d="M16.167,778.833 L5.833,789.167"></path>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
        <div class='chatting_box' >
            <div class='chat_boxes_top' onclick='shrink(event)'>
            
                <div class='chat_boxes_top_profile'>
                    <div class='top_profile_ava'>

                    </div>
                    <div class='top_profile_name_status'>
                        <a class='chat_name ' >
                            ${friend_name}
                        </a>
                        <div class='chat_status'>
                            Đang hoạt động
                        </div>
                    </div>
                </div>
                <svg onclick='close_box(event)' class="svgIcon" height="16px" width="16px" version="1.1"
                    viewBox="0 0 16 16" x="0px" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" y="0px">
                    <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
                        <g transform="translate(-712.000000, -1096.000000)">
                            <g stroke="#bec2c9" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                transform="translate(709.000000, 320.000000)">
                                <path d="M5.833,778.833 L16.167,789.167"></path>
                                <path d="M16.167,778.833 L5.833,789.167"></path>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <div class='chat_boxes_middle' onclick='focus_bottom(event)' onscroll='real_middle_scroll(event)' >
                ${list}
            </div>
            <div class='chat_boxes_bottom'  >
            <form onsubmit='return false'>
                <input type='text' placeholder="Nhập tin nhắn" class='input-text'  maxlength="255">
                <svg  class="svgIcon" height="16px" width="16px" version="1.1" viewBox="0 0 16 16" x="0px"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
                    y="0px">
                    <path
                        d="M11,8.3L2.6,8.8C2.4,8.8,2.3,8.9,2.3,9l-1.2,4.1c-0.2,0.5,0,1.1,0.4,1.5C1.7,14.9,2,15,2.4,15c0.2,0,0.4,0,0.6-0.1l11.2-5.6 C14.8,9,15.1,8.4,15,7.8c-0.1-0.4-0.4-0.8-0.8-1L3,1.1C2.5,0.9,1.9,1,1.5,1.3C1,1.7,0.9,2.3,1.1,2.9L2.3,7c0,0.1,0.2,0.2,0.3,0.2 L11,7.7c0,0,0.3,0,0.3,0.3S11,8.3,11,8.3z"
                        fill="#BEC3C9"></path>
                </svg>
                <button class='hidden_button'></button>
            <form>
            </div>
        </div>
    </div>



