                                                    <div class='reply' reply_id=${reply_id}>
                                                        <div class="ava_side">

                                                        </div>
                                                        <div class="not_ava_side">
                                                            <div class="not_ava_side_comment">
                                                                <div class="not_setting">
                                                                    <div class="user_name">
                                                                        ${user_name}
                                                                    </div>
                                                                    <div class="user_comment">
                                                                        ${content}
                                                                    </div>

                                                                </div>
                                                                <div class="comment_not_text_right">
                                                                    <div class=" comment_setting">
                                                                        <div class="setting modify_comment">
                                                                            Chỉnh sửa bình luận
                                                                        </div>
                                                                        <div class="setting delete_comment ">
                                                                            Xoá
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="not_ava_side_interact">
                                                                <div class="like">
                                                                    Thích
                                                                </div>
                                                                <div class="rep">
                                                                    Trả lời
                                                                </div>
                                                                <div class="time"
                                                                    created_at=${origin_created_at}>
                                                                    ${reply_created_at} 
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>