<div id="profile_page">
  <div class="profile-container">
    <div class="profile-clearfix">
      <%= render 'partials/friend_top' %>
      <%= render 'partials/friend_body' %>
    </div>
  </div>
</div>
