<div id="profile_page">
  <div class="profile-container">
    <div class="profile-clearfix">
        <%= render 'partials/not_friend_top' %>
        <%= render 'partials/not_friend_body' %>
    </div>
  </div>
</div>