<div class="body_profile_wraper">
    <div class="body_profile_inner_left">
        <div class="time_line_items_review">
            <div class="items_review_contain">
                <div class="display_and_padding">
                    <div class="m_r_star_icon">
                        <div class="star_icon_contain">
                            <i id="star_icon"></i>
                        </div>
                    </div>
                    <div class="items_review_content">80 items for you to review</div>
                    <div style="padding-top: 3px;">
                        <i id="close_icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="time_line_intro_card">
            <div class="intro_card_contain">
                <div class="intro_symbol">
                    <i id="intro_icon"></i>
                    <span>Intro</span>
                </div>
                <div class="intro_bio">
                    <div class="intro_bio_clearfix">
                        <i id="intro_bio_icon"></i>
                        <span class="intro_bio_content">Add a short bio to tell people more about yourself.</span>
                        <div class="intro_bio_content_2">Add Bio</div>
                    </div>
                </div>
                <div class="intro_details">
                    <ul class="intro_details_list">
                        <li class="intro_details_item">
                            <div class="intro_details_item_clearfix">
                                <i id="icon_1" class="intro_details_icon"></i>
                                <div class="intro_details_item_content">Worked at <a>FakeBook</a></div>
                            </div>
                        </li>
                        <li class="intro_details_item">
                            <div class="intro_details_item_clearfix">
                                <i id="icon_2" class="intro_details_icon"></i>
                                <div class="intro_details_item_content">Went to <a>FakeBook</a></div>
                            </div>
                        </li>
                        <li class="intro_details_item">
                            <div class="intro_details_item_clearfix">
                                <i id="icon_3" class="intro_details_icon"></i>
                                <div class="intro_details_item_content">Lives in <a>FakeBook</a></div>
                            </div>
                        </li>
                        <li class="intro_details_item">
                            <div class="intro_details_item_clearfix">
                                <i id="icon_4" class="intro_details_icon"></i>
                                <div class="intro_details_item_content">From <a>FakeBook</a></div>
                            </div>
                        </li>
                    </ul>
                    <div class="intro_details_edit">Edit Details</div>
                </div>
                <div class="intro_feature">
                    <div class="intro_feature_clearfix">
                        <i id="intro_feature_icon"></i>
                        <span>Showcase what's important to you by adding photos, pages, groups and more to your featured
                            section on your public profile.
                        </span>
                        <a href="">Add to Featured</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="time_line_photo">
            <div class="time_line_photo_contain">
                <i id="time_line_photo_icon"></i>
                <div class="time_line_photo_content">
                    <div class="content_1">Photos</div>
                    <div class="content_2">Add Photo</div>
                </div>
            </div>
        </div>
        <div class="time_line_friends">
            <div class="time_line_friends_inner">
                <div class="friend_time_line_title">
                    <div class="friend_time_line_icon">
                        <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yv/r/gfh6ZI4vOdW.png?_nc_x=PHiPcX9m_kU" alt=""
                            width="24px" height="24px">
                    </div>
                    <div class="friend_title_content">
                        <div class="friend_photo_list">
                            <div class="content_1">Friends</div>
                            <span class="dot_symbol">.</span>
                            <div class="friend_count"><%= @current_user_friend_count %></div>
                        </div>
                        <div class="find_friend">Find Friends</div>
                    </div>
                </div>
                <div class="friend_time_line_content">
                    <div class="friend_time_line_clearfix">
                        <% @allFriendOfCurrentUser.each do |arr|%>
                        <a href="http://localhost:3000/friend/<%= arr.id%>" class="friend_item">
                            <div class="friend_avatar">
                                <%= image_tag arr.avatar.url(:medium) ,class: 'current_user_friend_ava', width: '101px', height: '101px' %>
                            </div>
                            <div class="friend_name"><%= arr.name %></div>
                        </a>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="time_line_footer">
            <div class="footer_laguage">
                <div class="footer_laguage_clearfix">
                    <div class="laguage_list">
                        <span>English (US)</span>
                        <span class="dot_symbol">.</span>
                        <span class="not_focus_laguage">Tiếng Việt</span>
                        <span class="dot_symbol">.</span>
                        <span class="not_focus_laguage">中文(台灣)</span>
                        <span class="dot_symbol">.</span>
                        <span class="not_focus_laguage">Español</span>
                        <span class="dot_symbol">.</span>
                        <span class="not_focus_laguage">Português (Brasil)</span>
                    </div>
                    <div class="laguage_more_option">
                        <div class="laguage_more_option_btn"><i id="more_option_icon"></i></div>
                    </div>
                </div>
            </div>
            <div class="footer_privacy">
                <div class="content_1">
                    <span class="content_1_item">Privacy</span>
                    <span class="dot_symbol">.</span>
                    <span class="content_1_item">Terms</span>
                    <span class="dot_symbol">.</span>
                    <span class="content_1_item">Advertising</span>
                    <span class="dot_symbol">.</span>
                    <span class="content_1_item">Ad Choices
                        <i id="ad_choice_icon"></i>
                    </span>
                    <span class="dot_symbol">.</span>
                    <span class="content_1_item">Cookies</span>
                    <span class="dot_symbol">.</span>
                    <span class="content_1_item">More
                        <i id="more_icon"></i>
                    </span>
                </div>
                <div class="content_2">
                    <span> Facebook © 2019</span>
                </div>
            </div>
        </div>
    </div>
    <div class='post_bar profilee' style='margin:0'>
        <div class='new_post'>
            <div class='taobaiviet'>
                <div class='inner_taobaiviet'>
                    Tạo bài viết
                </div>
            </div>
            <div class='noi_taobaiviet'>
                <div class='inner_noi_taobaiviet'>
                    <div class='content_taobaiviet'>
                        <div class='inner_content_taobaiviet'>
                            <div class='ava_content_taobaiviet'>
                                <%= image_tag current_user.avatar.url(:medium), width:'40px', height:'40px' %>
                            </div>
                            <textarea class='content_content_taobaiviet'
                                placeholder='<%= current_user.name.titleize %> ơi,bạn đang nghĩ gì?'></textarea>
                        </div>

                    </div>
                    <div class='attach_taobaiviet'>
                        <div class='inner_attach'>
                            <div class='attach'>
                                <div class='inner_attach'>
                                    <div class='attach_ava'>

                                    </div>
                                    <div class='attach_text'>
                                        Ảnh/Video
                                    </div>
                                </div>
                            </div>
                            <div class='post_status c' post_mode='to_public'>
                                <div class='post_status_select'>
                                    <div class='aisenhinthay_out'>
                                        <div class='aisenhinthay_in'>
                                            Ai sẽ nhìn thấy nội dung này?
                                        </div>
                                    </div>
                                    <div class='status_modes'>
                                        <div class='mode mode_1' post_mode='to_public'>
                                            <div class='mode_main_icon'>

                                            </div>
                                            <div class='mode_main_not_icon'>
                                                <div class='mode_main_text'>
                                                    Công khai
                                                </div>
                                                <div class='mode_detail'>
                                                    Mọi người trên hoặc ngoài Fakebook
                                                </div>
                                            </div>
                                        </div>
                                        <div class='mode mode_2' post_mode='to_friends'>
                                            <div class='mode_main_icon'>
                                            </div>
                                            <div class='mode_main_not_icon'>
                                                <div class='mode_main_text'>
                                                    Bạn bè
                                                </div>
                                                <div class='mode_detail'>
                                                    Bạn bè của bạn trên Fakebook
                                                </div>
                                            </div>
                                        </div>
                                        <div class='mode mode_3' post_mode='to_me'>
                                            <div class='mode_main_icon'>

                                            </div>
                                            <div class='mode_main_not_icon'>
                                                <div class='mode_main_text'>
                                                    Chỉ mình tôi
                                                </div>
                                                <div class='mode_detail'>
                                                    Chỉ mình tôi
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='post_status_icon'>

                                </div>
                                <div class='post_status_text'>
                                    Công khai
                                </div>
                                <div class='post_status_arrow'>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='post_upload'>
                <div class='post_upload_button'>
                    <div class='post_upload_button_text'>
                        Đăng
                    </div>
                </div>
            </div>
        </div>
        <div class='watch_post'>
            <% @posts_and_user.each do |p|%>
            <div class='post' post_id=<%= p[:post].id %>>
                <div class='post_side'>
                    <div class='post_content'>
                        <div class='post_not_text'>
                            <div class='post_not_text_left'>
                                <div class='post_ava'>
                                    <a
                                        href="http://localhost:3000/friend/<%= p[:user].id %>"><%= image_tag p[:user].avatar.url(:thumb), width:'40px', height: '40px' %></a>
                                </div>
                                <div class='post_not_ava'>
                                    <a class='post_user_name' href="http://localhost:3000/friend/<%=p[:user].id%>">
                                        <%= p[:user].name.titleize %>
                                    </a>
                                    <div class='post_time_and_mode'>
                                        <a class='post_time' created_at='<%= p[:post].created_at%>'>
                                            <%= p[:post].created_at%>
                                        </a>
                                        <% if p[:user].id == current_user.id %>
                                        <div class='post_mode_setting c' post_mode=<%= p[:post].status%>>
                                            <% if p[:post].status  == "to_public" %>
                                            <div class='post_mode_icon post_mode_icon_0'>
                                                <%elsif p[:post].status  == "to_friends"%>
                                                <div class='post_mode_icon post_mode_icon_1'>
                                                    <%else%>
                                                    <div class='post_mode_icon post_mode_icon_2'>
                                                        <%end%>
                                                    </div>
                                                    <div class='post_status_arrow'>

                                                    </div>
                                                    <div class='post_mode_setting_setting'>
                                                        <div class='aisenhinthay_out'>
                                                            <div class='aisenhinthay_in'>
                                                                Ai sẽ nhìn thấy nội dung này?
                                                            </div>
                                                        </div>
                                                        <div class='status_modes'>
                                                            <div class='mode1 mode_1' post_mode='to_public'>
                                                                <div class='mode_main_icon'>

                                                                </div>
                                                                <div class='mode_main_not_icon'>
                                                                    <div class='mode_main_text'>
                                                                        Công khai
                                                                    </div>
                                                                    <div class='mode_detail'>
                                                                        Mọi người trên hoặc ngoài Fakebook
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class='mode1 mode_2' post_mode='to_friends'>
                                                                <div class='mode_main_icon'>
                                                                </div>
                                                                <div class='mode_main_not_icon'>
                                                                    <div class='mode_main_text'>
                                                                        Bạn bè
                                                                    </div>
                                                                    <div class='mode_detail'>
                                                                        Bạn bè của bạn trên Fakebook
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class='mode1 mode_3' post_mode='to_me'>
                                                                <div class='mode_main_icon'>

                                                                </div>
                                                                <div class='mode_main_not_icon'>
                                                                    <div class='mode_main_text'>
                                                                        Chỉ mình tôi
                                                                    </div>
                                                                    <div class='mode_detail'>
                                                                        Chỉ mình tôi
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <%end%>
                                            </div>
                                        </div>
                                    </div>
                                    <% if p[:user].id == current_user.id %>
                                    <div class='post_not_text_right'>
                                        <div class='post_setting'>
                                            <div class='setting modify_post'>
                                                Chỉnh sửa bài viết
                                            </div>
                                            <div class='setting delete_post '>
                                                Xoá
                                            </div>
                                        </div>
                                    </div>
                                    <%end%>

                                </div>
                                <div class='post_text'><%=p[:post].content%></div>
                                <% if !p[:post].avatar_file_name.nil? %>
                                <div class="post_image_contain">
                                    <%= image_tag p[:post].avatar.url %>
                                </div>
                                <% end %>
                                <% if p[:post].like_count > 0 || p[:post].comment_count > 0 %>
                                <div class='likes_and_posts'>
                                    <div class='like_side'>
                                        <%if p[:post].like_count > 0%>
                                        <i class='count_icon'></i>
                                        <div class='like_count'>
                                            <div class='like_num'>
                                                <%= p[:post].like_count %>
                                            </div>
                                        </div>
                                        <%end%>
                                    </div>
                                    <div class='comment_side'>
                                        <%if p[:post].comment_count > 0%>
                                        <div class='comment_count'>
                                            <div class='count_num'>
                                                <%= p[:post].comment_count %>
                                            </div>
                                            <div class='count_text'>
                                                Bình luận
                                            </div>
                                        </div>
                                        <%end%>

                                    </div>
                                </div>
                                <%end%>
                            </div>
                            <div class='post_interact'>
                                <div class='post_like'>
                                    <div class='post_like_inner'>
                                        <%if p[:boolean]==false %>
                                        <div class='post_like_inner_icon'>

                                        </div>
                                        <div class='post_like_inner_text'>
                                            Thích
                                        </div>
                                        <%else%>
                                        <svg aria-labelledby="js_115" preserveAspectRatio="xMinYMax meet" version="1.1"
                                            viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" height="16"
                                            width="16">
                                            <g style="fill:rgb(0, 132, 355)">
                                                <path
                                                    d="M16,9.1c0-0.8-0.3-1.1-0.6-1.3c0.2-0.3,0.3-0.7,0.3-1.2c0-1-0.8-1.7-2.1-1.7h-3.1c0.1-0.5,0.2-1.3,0.2-1.8 c0-1.1-0.3-2.4-1.2-3C9.3,0.1,9,0,8.7,0C8.1,0,7.7,0.2,7.6,0.4C7.5,0.5,7.5,0.6,7.5,0.7L7.6,3c0,0.2,0,0.4-0.1,0.5L5.7,6.6 c0,0-0.1,0.1-0.1,0.1l0,0l0,0L5.3,6.8C5.1,7,5,7.2,5,7.4v6.1c0,0.2,0.1,0.4,0.2,0.5c0.1,0.1,1,1,2,1h5.2c0.9,0,1.4-0.3,1.8-0.9 c0.3-0.5,0.2-1,0.1-1.4c0.5-0.2,0.9-0.5,1.1-1.2c0.1-0.4,0-0.8-0.2-1C15.6,10.3,16,9.9,16,9.1z">
                                                </path>
                                                <path
                                                    d="M3.3,6H0.7C0.3,6,0,6.3,0,6.7v8.5C0,15.7,0.3,16,0.7,16h2.5C3.7,16,4,15.7,4,15.3V6.7C4,6.3,3.7,6,3.3,6z">
                                                </path>
                                            </g>
                                        </svg>
                                        <div class='post_like_inner_text blue_text'>
                                            Thích
                                        </div>
                                        <%end%>
                                    </div>
                                </div>
                                <div class='post_cmt'>
                                    <div class='post_cmt_inner'>
                                        <div class='post_cmt_inner_icon'>

                                        </div>
                                        <div class='post_cmt_inner_text'>
                                            Bình luận
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='cmt_side'>
                            <div class='read_comment'>
                                <%if p[:comment_left] > 0 %>
                                <%if p[:comment_left] < 10 %>
                                <div class='comment_paginate'>
                                    <div class='inner_panigate'>
                                        Xem thêm <%= p[:comment_left] %> bình luận
                                    </div>
                                </div>
                                <%else%>
                                <div class='comment_paginate'>
                                    <div class='inner_panigate'>
                                        Xem thêm 10 bình luận
                                    </div>
                                </div>
                                <%end%>
                                <%end%>
                                <div class='comment_show'>
                                    <% p[:comments_and_users].each do |cau| %>
                                    <div class='comment' comment_id='<%= cau[:comment].id%>'>
                                        <div class='not_reply_side'>
                                            <div class='ava_side'>
                                                <%= image_tag cau[:user].avatar.url(:thumb), width:'32px', height:'32px' %>
                                            </div>
                                            <div class='not_ava_side'>
                                                <div class='not_ava_side_comment'>
                                                    <div class='not_setting'>
                                                        <a class='user_name'
                                                            href="http://localhost:3000/friend/<%=cau[:user].id%>">
                                                            <%= cau[:user].name%>
                                                        </a>
                                                        <div class='user_comment'>
                                                            <%= cau[:comment].content%>
                                                        </div>
                                                        <% if cau[:like_count] > 0 %>
                                                        <div class='show_comment_likes'>
                                                            <div class='like_icon'>

                                                            </div>
                                                            <div class='comment_like_count'>
                                                                <div class='inner_comment_like_count'>
                                                                    <%=cau[:like_count]%>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <%end%>
                                                    </div>
                                                    <% if cau[:user].id == current_user.id %>
                                                    <div class=" comment_not_text_right">
                                                        <div class=" comment_setting">
                                                            <div class="setting modify_comment">
                                                                Chỉnh sửa bình luận
                                                            </div>
                                                            <div class="setting delete_comment ">
                                                                Xoá
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% end %>
                                                </div>
                                                <div class='not_ava_side_interact'>
                                                    <% if cau[:liked]==true%>
                                                    <div class='like liked'>
                                                        Thích
                                                    </div>
                                                    <%else%>
                                                    <div class='like'>
                                                        Thích
                                                    </div>
                                                    <%end%>
                                                    <div class='rep'>
                                                        Trả lời
                                                    </div>
                                                    <div class='time' created_at='<%= cau[:comment].created_at%>'>
                                                        <%= cau[:comment].created_at%>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class='reply_side'>
                                            <% cau[:replies_and_users].each_with_index do |rau,index| %>
                                            <% if cau[:replies_and_users].length == index+1 %>
                                            <div class='not_open'>
                                                <i>

                                                </i>
                                                <div class='reply_ava'>

                                                </div>
                                                <div class='reply_name'>
                                                    <%=rau[:user].name%> đã trả lời &nbsp&nbsp
                                                    <%=cau[:replies_and_users].length%> phản
                                                    hồi
                                                </div>
                                                <div class='last_reply_date'>
                                                    <%=rau[:reply].created_at%>
                                                </div>
                                            </div>
                                            <%end%>
                                            <%end%>

                                            <div class='open'>
                                                <% if cau[:replies_and_users].length > 0 %>
                                                <div class='hide_write_and_read_reply'>
                                                    <i>

                                                    </i>
                                                    <div>
                                                        Ẩn <%=cau[:replies_and_users].length%> phản hồi
                                                    </div>
                                                </div>
                                                <%end%>
                                                <div class='write_and_read_reply'>
                                                    <div class='read_reply'>
                                                        <% cau[:replies_and_users].each do |rau| %>
                                                        <div class='reply' reply_id=<%= rau[:reply].id %>>
                                                            <div class="ava_side">
                                                                <%= image_tag rau[:user].avatar.url(:thumb), width:'32px', height:'32px' %>
                                                            </div>
                                                            <div class="not_ava_side">
                                                                <div class="not_ava_side_comment">
                                                                    <div class="not_setting">
                                                                        <a class='user_name'
                                                                            href="http://localhost:3000/friend/<%=rau[:user].id%>">
                                                                            <%= rau[:user].name %>
                                                                        </a>
                                                                        <div class="user_comment">
                                                                            <%= rau[:reply].content %>
                                                                        </div>
                                                                        <% if rau[:reply].like_count > 0 %>
                                                                        <div class="show_comment_likes">
                                                                            <div class="like_icon">

                                                                            </div>
                                                                            <div class="comment_like_count">
                                                                                <div class="inner_comment_like_count">
                                                                                    <%= rau[:reply].like_count %>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <%end%>
                                                                    </div>
                                                                    <div class="comment_not_text_right">
                                                                        <div class=" comment_setting">
                                                                            <div class="setting modify_comment">
                                                                                Chỉnh sửa bình luận
                                                                            </div>
                                                                            <div class="setting delete_reply ">
                                                                                Xoá
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="not_ava_side_interact">
                                                                    <% if rau[:liked]==true%>
                                                                    <div class='like liked'>
                                                                        Thích
                                                                    </div>
                                                                    <%else%>
                                                                    <div class='like'>
                                                                        Thích
                                                                    </div>
                                                                    <%end%>
                                                                    <div class="rep">
                                                                        Trả lời
                                                                    </div>
                                                                    <div class="time"
                                                                        created_at="<%= rau[:reply].created_at %>">
                                                                        <%= rau[:reply].created_at %>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <%end%>
                                                    </div>
                                                    <div class='write_reply'>
                                                        <div class="user_ava">

                                                        </div>
                                                        <form class="createReplyForm">
                                                            <input type="text" class="user_cmt"
                                                                placeholder="Viết bình luận...">
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <%end%>
                                </div>
                            </div>
                            <div class='write_comment'>
                                <div class='current_user_ava'>

                                </div>
                                <form class='createCommentForm'>
                                    <input type='text' class='current_user_cmt' placeholder="Viết bình luận...">
                                </form>
                            </div>
                        </div>
                    </div>

                    <%end%>
                </div>
            </div>
            <div class='modify_post_div' style='left:0;'>
                <div class='overlay'>

                </div>
                <div class='inner'>
                    <div class='taobaiviet  '>
                        <div class='inner_taobaiviet'>
                            Chỉnh sửa bài viết
                        </div>
                        <svg onclick="close_box(event)" class="svgIcon m_svg" height="16px" width="16px" version="1.1"
                            viewBox="0 0 16 16" x="0px" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" y="0px">
                            <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
                                <g transform="translate(-712.000000, -1096.000000)">
                                    <g stroke="#bec2c9" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.5" transform="translate(709.000000, 320.000000)">
                                        <path d="M5.833,778.833 L16.167,789.167"></path>
                                        <path d="M16.167,778.833 L5.833,789.167"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class='noi_taobaiviet'>
                        <div class='inner_noi_taobaiviet'>
                            <div class='content_taobaiviet'>
                                <div class='inner_content_taobaiviet'>
                                    <div class='ava_content_taobaiviet'>
                                        <%= image_tag current_user.avatar.url(:medium) %>
                                    </div>
                                    <textarea class='content_content_taobaiviet'></textarea>
                                </div>
                            </div>
                            <div class='attach_taobaiviet'>
                                <div class='inner_attach'>
                                    <div class='attach'>
                                        <div class='inner_attach'>
                                            <div class='attach_ava'>

                                            </div>
                                            <div class='attach_text'>
                                                Ảnh/Video
                                            </div>
                                        </div>
                                    </div>
                                    <div class='post_status c' post_mode='to_public'>
                                        <div class='post_status_select'>
                                            <div class='aisenhinthay_out'>
                                                <div class='aisenhinthay_in'>
                                                    Ai sẽ nhìn thấy nội dung này?
                                                </div>
                                            </div>
                                            <div class='status_modes'>
                                                <div class='mode mode_1' post_mode='to_public'>
                                                    <div class='mode_main_icon'>

                                                    </div>
                                                    <div class='mode_main_not_icon'>
                                                        <div class='mode_main_text'>
                                                            Công khai
                                                        </div>
                                                        <div class='mode_detail'>
                                                            Mọi người trên hoặc ngoài Fakebook
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='mode mode_2' post_mode='to_friends'>
                                                    <div class='mode_main_icon'>
                                                    </div>
                                                    <div class='mode_main_not_icon'>
                                                        <div class='mode_main_text'>
                                                            Bạn bè
                                                        </div>
                                                        <div class='mode_detail'>
                                                            Bạn bè của bạn trên Fakebook
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='mode mode_3' post_mode='to_me'>
                                                    <div class='mode_main_icon'>

                                                    </div>
                                                    <div class='mode_main_not_icon'>
                                                        <div class='mode_main_text'>
                                                            Chỉ mình tôi
                                                        </div>
                                                        <div class='mode_detail'>
                                                            Chỉ mình tôi
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='post_status_icon'>

                                        </div>
                                        <div class='post_status_text'>
                                            Công khai
                                        </div>
                                        <div class='post_status_arrow'>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='post_upload'>
                        <div class='post_upload_button m_post_upload_button'>
                            <div class='post_upload_button_text'>
                                Lưu
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='delete_post_div' style='left:0;'>
                <div class='overlay'>

                </div>
                <div class='inner'>
                    <div class='taobaiviet  '>
                        <div class='Xóa bài viết?'>
                            Chỉnh sửa bài viết
                        </div>
                        <svg onclick="close_box(event)" class="svgIcon m_svg" height="16px" width="16px" version="1.1"
                            viewBox="0 0 16 16" x="0px" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" y="0px">
                            <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
                                <g transform="translate(-712.000000, -1096.000000)">
                                    <g stroke="#bec2c9" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.5" transform="translate(709.000000, 320.000000)">
                                        <path d="M5.833,778.833 L16.167,789.167"></path>
                                        <path d="M16.167,778.833 L5.833,789.167"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class='noi_taobaiviet'>
                        <div class='inner_noi_taobaiviet'>
                            <div class='content_taobaiviet'>
                                <div class='inner_content_taobaiviet'>
                                    Bạn có thể chỉnh sửa tin nếu chỉ cần thay đổi gì đó.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='post_upload'>
                        <div class='post_upload_button m_post_upload_button chinhsua'>
                            <div class='post_upload_button_text '>
                                Chỉnh sửa
                            </div>
                        </div>
                        <div class='post_upload_button m_post_upload_button xoadi'>
                            <div class='post_upload_button_text'>
                                Xoá
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='delete_comment_div' style='left:0;'>
                <div class='overlay'>

                </div>
                <div class='inner'>
                    <div class='taobaiviet  '>
                        <div class='Xóa bài viết?'>
                            Chỉnh sửa bình luận
                        </div>
                        <svg onclick="close_box(event)" class="svgIcon m_svg" height="16px" width="16px" version="1.1"
                            viewBox="0 0 16 16" x="0px" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" y="0px">
                            <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
                                <g transform="translate(-712.000000, -1096.000000)">
                                    <g stroke="#bec2c9" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.5" transform="translate(709.000000, 320.000000)">
                                        <path d="M5.833,778.833 L16.167,789.167"></path>
                                        <path d="M16.167,778.833 L5.833,789.167"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class='noi_taobaiviet'>
                        <div class='inner_noi_taobaiviet'>
                            <div class='content_taobaiviet'>
                                <div class='inner_content_taobaiviet'>
                                    Bạn có thể chỉnh sửa tin nếu chỉ cần thay đổi gì đó.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='post_upload'>
                        <div class='post_upload_button m_post_upload_button chinhsua_comment'>
                            <div class='post_upload_button_text '>
                                Chỉnh sửa
                            </div>
                        </div>
                        <div class='post_upload_button m_post_upload_button xoadi_comment'>
                            <div class='post_upload_button_text'>
                                Xoá
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='delete_reply_div' style='left:0;'>
                <div class='overlay'>

                </div>
                <div class='inner'>
                    <div class='taobaiviet'>
                        <div class='Xóa bài viết?'>
                            Chỉnh sửa bình luận
                        </div>
                        <svg onclick="close_box(event)" class="svgIcon m_svg" height="16px" width="16px" version="1.1"
                            viewBox="0 0 16 16" x="0px" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" y="0px">
                            <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
                                <g transform="translate(-712.000000, -1096.000000)">
                                    <g stroke="#bec2c9" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.5" transform="translate(709.000000, 320.000000)">
                                        <path d="M5.833,778.833 L16.167,789.167"></path>
                                        <path d="M16.167,778.833 L5.833,789.167"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class='noi_taobaiviet'>
                        <div class='inner_noi_taobaiviet'>
                            <div class='content_taobaiviet'>
                                <div class='inner_content_taobaiviet'>
                                    Bạn có thể chỉnh sửa tin nếu chỉ cần thay đổi gì đó.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='post_upload'>
                        <div class='post_upload_button m_post_upload_button chinhsua_comment'>
                            <div class='post_upload_button_text '>
                                Chỉnh sửa
                            </div>
                        </div>
                        <div class='post_upload_button m_post_upload_button xoadi_reply'>
                            <div class='post_upload_button_text'>
                                Xoá
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class='post_like_div' style='left:0;'>
                <div class='overlay'>

                </div>
                <div class='inner'>
                    <div class='react_side'>
                        <div class='inner_react_side'>
                            <div class='text'>
                                Tất cả
                            </div>
                            <div class='data'>
                                1000
                            </div>
                            <i class="count_icon"></i>
                        </div>
                        <svg onclick="close_box(event)" class="svgIcon m_svg" height="16px" width="16px" version="1.1"
                            viewBox="0 0 16 16" x="0px" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" y="0px">
                            <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
                                <g transform="translate(-712.000000, -1096.000000)">
                                    <g stroke="#bec2c9" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.5" transform="translate(709.000000, 320.000000)">
                                        <path d="M5.833,778.833 L16.167,789.167"></path>
                                        <path d="M16.167,778.833 L5.833,789.167"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class='user_side'>

                    </div>
                </div>
            </div>


            <div class='comment_like_div' style='left:0;'>
                <div class='overlay'>

                </div>
                <div class='inner'>
                    <div class='react_side'>
                        <div class='inner_react_side'>
                            <div class='text'>
                                Tất cả
                            </div>
                            <div class='data'>
                                1000
                            </div>
                            <i class="count_icon"></i>
                        </div>
                        <svg onclick="close_box(event)" class="svgIcon m_svg" height="16px" width="16px" version="1.1"
                            viewBox="0 0 16 16" x="0px" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" y="0px">
                            <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
                                <g transform="translate(-712.000000, -1096.000000)">
                                    <g stroke="#bec2c9" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.5" transform="translate(709.000000, 320.000000)">
                                        <path d="M5.833,778.833 L16.167,789.167"></path>
                                        <path d="M16.167,778.833 L5.833,789.167"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class='user_side'>

                    </div>
                </div>
            </div>
            <div class='reply_like_div' style='left:0;'>
                <div class='overlay'>

                </div>
                <div class='inner'>
                    <div class='react_side'>
                        <div class='inner_react_side'>
                            <div class='text'>
                                Tất cả
                            </div>
                            <div class='data'>
                                1000
                            </div>
                            <i class="count_icon"></i>
                        </div>
                        <svg onclick="close_box(event)" class="svgIcon m_svg" height="16px" width="16px" version="1.1"
                            viewBox="0 0 16 16" x="0px" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" y="0px">
                            <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
                                <g transform="translate(-712.000000, -1096.000000)">
                                    <g stroke="#bec2c9" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.5" transform="translate(709.000000, 320.000000)">
                                        <path d="M5.833,778.833 L16.167,789.167"></path>
                                        <path d="M16.167,778.833 L5.833,789.167"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class='user_side'>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>