<div class="profile-header">
    <!-- user name -->
    <div class="user-name">
        <%= current_user&.name.titleize %>
    </div>
    <div class="profile-cover">
        <a href="http://localhost:3000/home" class="cover-wrap"><img src="/assets/ava" alt="" />
            <div class="change-cover-img">
                <a href="" style=" color: #385898; cursor: pointer; text-decoration: none;">
                    <i id="change_icon"></i>
                    <div class="change-cover-title">
                        <span class="change-cover-inner">Update Cover Photo</span>
                    </div>
                </a>
            </div>
        </a>
        <div class="bg-for-cover-img"></div>
    </div>
    <div class="profile-function-bar">
        <ul class="profile-function-list">
            <li class="open-menu-timeline b-r">
                <a href="" class="profile-function-item">
                    Timeline
                    <i class="drop-down-arrow"></i>
                </a>
                <div class="dropdown-menu-1">
                    <ul style="list-style-type: none;">
                        <li>
                            <a class="menu-view-item" href="">
                                <i id="list_view_icon"></i>List View
                            </a>
                        </li>
                        <li>
                            <a class="menu-view-item" href="">
                                <i id="grid_view_icon"></i>Grid View
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="b-r">
                <a href="" class="profile-function-item">
                    About
                </a>
            </li>
            <li class="b-r">
                <div style="position: relative;">
                    <a href="" class="profile-function-item">
                        Friends
                        <span style="font-size: 11px; color: grey; padding-left: 3px"><%= @current_user_friend_count %></span>
                    </a>
                </div>
            </li>
            <li class="b-r">
                <a href="" class="profile-function-item">
                    Photos
                </a>
            </li>
            <li class="b-r">
                <a href="" class="profile-function-item">
                    Archive
                </a>
            </li>
            <li class="open-menu-more b-r">
                <a href="" class="profile-function-item ">
                    More
                    <i class="drop-down-arrow"></i>
                </a>
                <div class="dropdown-menu-2">
                    <ul style="list-style-type: none;">
                        <li>
                            <a class="menu-view-item" href="">Videos</a>
                        </li>
                        <li>
                            <a class="menu-view-item" href="">Check-Ins</a>
                        </li>
                        <li>
                            <a class="menu-view-item" href="">Sports</a>
                        </li>
                        <li>
                            <a class="menu-view-item" href="">Misic</a>
                        </li>
                        <li>
                            <a class="menu-view-item" href="">Movies</a>
                        </li>
                        <li>
                            <a class="menu-view-item" href="">TV Shows</a>
                        </li>
                        <li>
                            <a class="menu-view-item" href="">Books</a>
                        </li>
                        <li>
                            <a class="menu-view-item" href="">Apps and Games</a>
                        </li>
                        <li>
                            <a class="menu-view-item" href="">Likes</a>
                        </li>
                        <li>
                            <a class="menu-view-item" href="">Events</a>
                        </li>
                        <li>
                            <a class="menu-view-item" href="">Questions</a>
                        </li>
                        <li>
                            <a class="menu-view-item" href="">Reviews</a>
                        </li>
                        <li>
                            <a class="menu-view-item" href="">Groups</a>
                        </li>
                        <li>
                            <a class="menu-view-item" href="">Notes</a>
                        </li>
                        <li style="border-top: 1px solid #d3d6db">
                            <a class="menu-view-item" href="">Manage Sections</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="avatar-cover">
        <a href="" class="avatar-contain">
            <!--User avatar-->
            <%= image_tag current_user&.avatar.url(:medium), id: 'personal_ava' %>
        </a>

        <div class="update-avatar">
            <div class="ava_upload_popup" onclick="uploadPhoto()">
                <i id="change_ava_icon"></i>
                Update
            </div>
        </div>
    </div>
    <!-- friend, follow, message request -->
    <div class="user-request">
        <!-- Update info -->
        <button id="add_fr_btn">Update Info</button>
        <!-- follow, message,... -->
        <div style="margin-left: 12px;">
            <div style="
              display: flex;
              box-sizing: border-box;
              border: 1px solid rgba(0, 0, 0, .4);
              border-radius: 2px">
                <button id="follow_btn"><i id="activity_log_icon"></i>Activity Log</button>
                <button id="option_btn"><i id="option_icon"></i></button>
            </div>
        </div>
    </div>
</div>
