<script>
    axios.get('/friend_request').then(rs => {
      if (rs.data.fr_request_count != 0){
        $(".fr_request_count").html(`<div id="fr_request_count_value">${rs.data.fr_request_count}</div>`)
      }
      else return
    }).catch(err =>{
    })
</script>
<script>
// already friend function
    $(".open-menu-timeline").hover(
        function () {
        $(".dropdown-menu-1").css({
            display: "block",
            "z-index": "10"
        });
        },
        function () {
        $(".dropdown-menu-1").css({
            display: "none",
            "z-index": "-1"
        });
        }
    );

    $(".open-menu-more").hover(
        function () {
        $(".dropdown-menu-2").css({
            display: "block",
            "z-index": "10"
        });
        },
        function () {
        $(".dropdown-menu-2").css({
            display: "none",
            "z-index": "-1"
        });
        }
    );

    $(".friend_box").hover(
        function () {
        $(".fr_action_contain").css({
            display: "block",
            "z-index": "6"
        })
        },
        function () {
            $(".fr_action_contain").css({
            display: "none",
            "z-index": "-1"
            })
        }
    );

    $(".following_contain").hover(
        function () {
        $(".following_box").css({
            display: "block",
            "z-index": "6"
        })
        },
        function () {
            $(".following_box").css({
                display: "none",
                "z-index": "-1"
            })
        }
    );


    function unfriend() {
        let current_id = <%= current_user.id %>
        let receive_id = <%= params[:id] %>
        axios.post('/unfriend', {
            send_id: current_id,
            receive_id: receive_id
        }).then(rs => {
            console.log("Unfriend success ", rs)
            location.reload()
        }).catch(err => {
            console.log("Unfriend Failed: ", err)
        })
    }

    function unfollow(){
        let current_id = <%= current_user.id %>
        let receive_id = <%= params[:id] %>
        axios.post('/unfollow', {
            send_id: current_id,
            receive_id: receive_id
        }).then(rs => {
            $("#following_btn").addClass("display-none")
            $(".following_contain").append(`<button id="follow_btn"><i id="follow_icon"></i>Follow</button>`)   
        }).catch(err => {
            console.log("Unfollow Failed: ", err)
        })
    }
// --------------------------
  function sendFriendRequest() {
    let current_id = <%= current_user.id %>
    let receive_id = <%= params[:id] %>
    axios.post('', {
      send_id: current_id,
      receive_id: receive_id,
    }).then(rs => {
          $("#add_fr_btn").addClass("display-none");
          $("#follow_btn").addClass("display-none");
          $(".friend_request").append(
            `<button id ="fr_request_sent_btn"><i id="fr_request_sent_icon"></i>Friend Request Sent</button>
            <div class="fr_request_action_contain">
              <i class="confirm_arrow"></i>
              <div class="fr_action_box">
                <div style="margin-bottom: 5px"class="fr_action_item">Get Notifications</div>
                <div style="border: 1px solid #ddd"></div>
                <div style="padding: 5px 0">
                  <ul style="list-style-type: none;">
                    <li class="fr_action_item">Close Friends</li>
                    <li class="fr_action_item">Accquaintances</li>
                    <li class="fr_action_item">Add to another list...</li>
                  </ul>
                </div>
                <div style="border: 1px solid #ddd"></div>    
                <button id="cancel_fr_request_btn" onclick="cancelFriendRequest()">Cancel Request</button>
              </div>
            </div>`)
          $(".following_contain").append(`<button id="following_btn"><i id="following_icon"></i>Following</button>
                <div class="following_box">
                  <i class="confirm_arrow"></i>
                  <div class="follow_action_box">
                    <div>
                      <ul style="list-style-type: none;">
                        <li class="top_following_box">In Yours News Feed</li>
                        <li class="follow_type follow_item">
                          <div class="follow_type_option">See First</div>
                          <div class="des_follow_type">See new posts at the top of News Feed</div>
                        </li>
                        <li class="follow_type follow_item">
                          <i class="tick_icon"></i>
                          <div class="follow_type_option">Default</div>
                          <div class="des_follow_type">See all posts as usual</div>
                        </li>
                        <li style="padding-top: 10px;border-bottom: 1px solid #ebedf0;margin: 0 10px;"></li>
                        <li class="unfollow_btn follow_item" onclick="unfollow()">Unfollow <%= @name_only&.titleize %></li>
                      </ul>
                    </div>
                  </div>
                </div>`)
    }).catch(err => {
          console.log("---FAILED---")
          console.log("err:", err)
    })
  }
  function cancelFriendRequest(){
    let current_id = <%= current_user.id %>
    let receive_id = <%= params[:id] %>
    axios.post('/cancel_friend_request',{
      send_id: current_id,
      receive_id: receive_id
    }).then(rs => {
      $("#add_fr_btn").removeClass("display-none");
      $("#follow_btn").removeClass("display-none");
      $("#fr_request_sent_btn").addClass("display-none")
      $("#following_btn").addClass("display-none")
      console.log("Cancel friend request Success: ",rs)
    }).catch(err => {
      console.log("Cancel friend request Failed: ",err)
    })
  }

  function acceptFriendRequest(){
    let Accept = true;
    friendRespond(Accept)
  }

  function deleteFriendRequest(){
    let Accept =false;
    friendRespond(Accept)
  }

  function friendRespond(Accept){
    let current_id = <%= current_user.id %>
    let receive_id = <%= params[:id] %>
    axios.post('/friend_respond',{
      accept: Accept,
      send_id: current_id,
      receive_id: receive_id
    }).then(rs => {
      console.log("Make friend Success: ",rs)
      location.reload()
    }).catch(err => {
      console.log("Make friend Failed: ",err)
    })
  }

  $(".open-menu-more").hover(
      function () {
        $(".dropdown-menu-2").css({
          display: "block",
          "z-index": "6"
        });
      },
      function () {
        $(".dropdown-menu-2").css({
          display: "none",
          "z-index": "-1"
        });
      }
  );

  $(".friend_request").hover(function () {
      $(".fr_action_contain").css({display: "block", "z-index": "6"})
      }, function(){
      $(".fr_action_contain").css({display: "none", "z-index": "-1"})
  })

  $(".friend_request").hover(function () {
      $(".fr_request_action_contain").css({display: "block", "z-index": "6"})
      }, function(){
        $(".fr_request_action_contain").css({display: "none", "z-index": "-1"})
  })

    // $(".follow_contain").hover(
    //     function () {
    //     $(".following_box").css({
    //         display: "block",
    //         "z-index": "6"
    //     })
    //     },
    //     function () {
    //     $(".following_box").css({
    //         display: "none",
    //         "z-index": "-1"
    //         })
    //     }
    // );
</script>