<script>
  let firebaseConfig = {
      apiKey: "AIzaSyApbsPopS4knwZjAW2Ce7gAqM7gD-tmeDM",
      databaseURL: "https://fakebook-491fd.firebaseio.com/",
      projectId: "fakebook-491fd",
      // appID: "app-id",
  };
  
  firebase.initializeApp(firebaseConfig);
  // listen change from FireBase
  let friend_request_from_user_id;
  const reference = firebase.database().ref("friends/receive_id/" + <%= current_user.id %> );
  reference.on('child_added', data => {
      friendRequest(data)
      axios.post("/friend_request", {
          friend_request_from_user_id: friend_request_from_user_id
      }).then(rs => {
          if (rs.data.friend_request == true) {
              $("#add_fr_btn").addClass("display-none");
              $(".following_contain").addClass("display-none");
              $(".friend_request").html(`<button id="respond_fr_request_btn"><i id="add_fr_icon"></i>Respond to Friend Request</button>
                                          <div class="fr_action_contain">
                                              <i class="confirm_arrow"></i>
                                              <div class="fr_action_box">
                                                  <button id="confirm_fr_request_btn" onclick="acceptFriendRequest()">Confirm</button>
                                                  <button id="delete_fr_request_btn" onclick="deleteFriendRequest()">Delete Request</button>
                                              </div>
                                          </div>`)
              // ------delete on realtime database---------
              let sub_request = firebase.database().ref("friends/receive_id/" + <%= current_user.id %> );
              data.forEach(request => {
                  sub_request.remove()
                  console.log('sub_request removed')
              })
              if (rs.data.fr_request_count != 0) {
                  $('.bar_user_f_icon').addClass('icon_noti_1')
                  $('.bar_user_f_icon').click()
                  console.log("firebase fr request count",rs.data.fr_request_count)
                  $(".fr_request_count").html(`<div id="fr_request_count_value">${rs.data.fr_request_count}</div>`)
              }
          }
      }).catch(err => {
          console.log("acceptFriendRequest ---FAILED---")
      })
  })
  reference.on('child_changed', data => {
      friendRequest(data)
  })
  function friendRequest(data) {
      data.forEach(function (childSnapshot) {
          friend_request_from_user_id = childSnapshot.val();
      })
  }
  // -----------------------
  let cancel_request_from_user_id;
  const reference_2 = firebase.database().ref("friends/target_cancel/" + <%= current_user&.id %>)
  reference_2.on('child_added',data => {
      cancelRequest(data)
      axios.post('/cancel_friend_firebase',{
          cancel_request_from_user_id: cancel_request_from_user_id
      }).then(rs => {
              console.log("rs.data.cancel_request",rs.data.cancel_request)
          if (rs.data.cancel_request == true){
              $(".friend_request").html(`<button id="add_fr_btn" onclick="sendFriendRequest();"><i id="add_fr_icon"></i>Add Friend</button>`);
              $(".following_contain").removeClass("display-none");
              $("#respond_fr_request_btn").addClass("display-none")
              $(".fr_action_contain").addClass("display-none")
          }
          // ------delete on realtime database---------
          let cancel_request = firebase.database().ref("friends/target_cancel/" + <%= current_user&.id %>);
          data.forEach(request => {
              cancel_request.remove()
              console.log('cancel_request removed')
          })
      }).catch(err => {
          console.log("Cancel friend request error: ", err)
      })
  })
  reference_2.on('child_changed',data => {
      cancelRequest(data)
  })
  
  function cancelRequest(data) {
      data.forEach(function (childSnapshot) {
          cancel_request_from_user_id = childSnapshot.val();
      })
      console.log("cancel_request_from_user_id:", cancel_request_from_user_id)
  }
</script>
