<div class="profile-header">
    <!-- user name -->
    <div class="user-name">
        <%= @user.name.titleize%>
    </div>
    <div class="profile-cover">
        <a href="http://localhost:3000/home" class="cover-wrap"><img src="/assets/ava" alt="" />
        </a>
        <div class="bg-for-cover-img"></div>
    </div>
    <div class="profile-function-bar">
        <ul class="profile-function-list">
            <li class="open-menu-timeline" style="border-right: 1px solid #e9eaed;">
                <a href="" class="profile-function-item active-tag">
                    Timeline
                    <i class="active-icon"></i>
                </a>
            </li>
            <li class="b-r">
                <a href="" class="profile-function-item">
                    About
                </a>
            </li>
            <li class="b-r">
                <div style="display: flex;position: relative;">
                    <a href="" class="profile-function-item">
                        Friends
                        <span style="font-size: 11px; color: grey; padding-left: 3px"><%= @friend_count %></span>
                    </a>
                </div>
            </li>
            <li class="b-r">
                <a href="" class="profile-function-item">
                    Photos
                </a>
            </li>
            <li class="b-r">
                <a href="" class="profile-function-item">
                    Archive
                </a>
            </li>
            <li class="open-menu-more b-r">
                <a href="" class="profile-function-item ">
                    More
                    <i class="drop-down-arrow"></i>
                </a>
                <div class="dropdown-menu-2">
                    <ul style="list-style-type: none;">
                        <li>
                            <a class="menu-view-item" href="">Videos</a>
                        </li>
                        <li>
                            <a class="menu-view-item" href="">Check-Ins</a>
                        </li>
                        <li>
                            <a class="menu-view-item" href="">Sports</a>
                        </li>
                        <li>
                            <a class="menu-view-item" href="">Misic</a>
                        </li>
                        <li>
                            <a class="menu-view-item" href="">Movies</a>
                        </li>
                        <li>
                            <a class="menu-view-item" href="">TV Shows</a>
                        </li>
                        <li>
                            <a class="menu-view-item" href="">Books</a>
                        </li>
                        <li>
                            <a class="menu-view-item" href="">Apps and Games</a>
                        </li>
                        <li>
                            <a class="menu-view-item" href="">Likes</a>
                        </li>
                        <li>
                            <a class="menu-view-item" href="">Events</a>
                        </li>
                        <li>
                            <a class="menu-view-item" href="">Questions</a>
                        </li>
                        <li>
                            <a class="menu-view-item" href="">Reviews</a>
                        </li>
                        <li>
                            <a class="menu-view-item" href="">Groups</a>
                        </li>
                        <li>
                            <a class="menu-view-item" href="">Notes</a>
                        </li>
                        <li style="border-top: 1px solid #d3d6db">
                            <a class="menu-view-item" href="">Manage Sections</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="avatar-cover">
        <a href="" class="avatar-contain">
            <%= image_tag @user.avatar.url(:medium), id: 'friend_ava' %>
        </a>
    </div>
    <!-- friend, follow, message -->
    <div class="user-request">
        <!-- friend -->
        <div class="friend_box">
            <button id="add_fr_btn"><i id="fr_icon"></i>Friends<i class="dropdown_arrow"></i></button>
            <div class="fr_action_contain">
                <i class="confirm_arrow"></i>
                <div class="fr_action_box">
                    <div style="margin-bottom: 5px" class="fr_action_item">Get Notifications</div>
                    <div style="border: 1px solid #ddd"></div>
                    <div style="padding: 5px 0">
                        <ul style="list-style-type: none;">
                            <li class="fr_action_item">Close Friends</li>
                            <li class="fr_action_item">Accquaintances</li>
                            <li class="fr_action_item">Add to another list...</li>
                        </ul>
                    </div>
                    <div style="border: 1px solid #ddd"></div>
                    <div id="unfriend_btn" onclick="unfriend()">Unfriend</div>
                </div>
            </div>
        </div>

        <!-- follow, message,... -->
        <div class="follow_message_contain">
            <div class="follow_message_dom">
                <div class="following_contain">
                    <button id="following_btn"><i id="following_icon"></i>Following<i
                            class="dropdown_arrow"></i></button>
                    <div class="following_box">
                        <i class="confirm_arrow"></i>
                        <div class="follow_action_box">
                            <div>
                                <ul style="list-style-type: none;">
                                    <li class="top_following_box">In Yours News Feed</li>
                                    <li class="follow_type follow_item">
                                        <div class="follow_type_option">See First</div>
                                        <div class="des_follow_type">See new posts at the top of News Feed</div>
                                    </li>
                                    <li class="follow_type follow_item">
                                        <i class="tick_icon"></i>
                                        <div class="follow_type_option">Default</div>
                                        <div class="des_follow_type">See all posts as usual</div>
                                    </li>
                                    <li style="padding-top: 10px;border-bottom: 1px solid #ebedf0;margin: 0 10px;"></li>
                                    <li class="unfollow_btn follow_item" onclick="unfollow()">Unfollow
                                        <%= @name_only&.titleize %></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="message_btn"><i id="message_icon"></i>Message</button>
                <button id="option_btn"><i id="option_icon"></i></button>
            </div>
        </div>
    </div>
</div>