<div class="body_profile_wraper">
    <div class="body_profile_inner_left">
        <div class="time_line_intro_card">
            <div class="intro_card_contain">
                <div class="intro_details" style="border-top: none">
                    <ul class="intro_details_list">
                        <li class="intro_details_item">
                            <div class="intro_details_item_clearfix">
                                <i id="icon_1" class="intro_details_icon"></i>
                                <div class="intro_details_item_content">Worked at <a>FakeBook</a></div>
                            </div>
                        </li>
                        <li class="intro_details_item">
                            <div class="intro_details_item_clearfix">
                                <i id="icon_2" class="intro_details_icon"></i>
                                <div class="intro_details_item_content">Went to <a>FakeBook</a></div>
                            </div>
                        </li>
                        <li class="intro_details_item">
                            <div class="intro_details_item_clearfix">
                                <i id="icon_3" class="intro_details_icon"></i>
                                <div class="intro_details_item_content">Lives in <a>FakeBook</a></div>
                            </div>
                        </li>
                        <li class="intro_details_item">
                            <div class="intro_details_item_clearfix">
                                <i id="icon_4" class="intro_details_icon"></i>
                                <div class="intro_details_item_content">From <a>FakeBook</a></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="time_line_photo">
            <div class="time_line_photo_contain">
                <i id="time_line_photo_icon"></i>
                <div class="time_line_photo_content">
                    <div class="content_1">Photos</div>
                    <div class="content_2">Add Photo</div>
                </div>
            </div>
        </div>
        <div class="time_line_friends">
            <div class="time_line_friends_inner">
                <div class="friend_time_line_title">
                    <div class="friend_time_line_icon">
                        <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yv/r/gfh6ZI4vOdW.png?_nc_x=PHiPcX9m_kU" alt=""
                            width="24px" height="24px">
                    </div>
                    <div class="friend_title_content">
                        <div class="friend_photo_list">
                            <div class="content_1">Friends</div>
                            <span class="dot_symbol">.</span>
                            <div class="friend_count"><%= @friend_count %></div>
                        </div>
                    </div>
                </div>
                <div class="friend_time_line_content">
                    <div class="friend_time_line_clearfix">
                        <% @friendShowList.each do |arr|%>
                        <a href="http://localhost:3000/friend/<%= arr.id%>" class="friend_item">
                            <div class="friend_avatar">
                                <%= image_tag arr.avatar.url(:medium) ,class: 'current_user_friend_ava', width: '101px', height: '101px' %>
                            </div>
                            <div class="friend_name"><%= arr.name %></div>
                        </a>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="time_line_footer">
            <div class="footer_laguage">
                <div class="footer_laguage_clearfix">
                    <div class="laguage_list">
                        <span>English (US)</span>
                        <span class="dot_symbol">.</span>
                        <span class="not_focus_laguage">Tiếng Việt</span>
                        <span class="dot_symbol">.</span>
                        <span class="not_focus_laguage">中文(台灣)</span>
                        <span class="dot_symbol">.</span>
                        <span class="not_focus_laguage">Español</span>
                        <span class="dot_symbol">.</span>
                        <span class="not_focus_laguage">Português (Brasil)</span>
                    </div>
                    <div class="laguage_more_option">
                        <div class="laguage_more_option_btn"><i id="more_option_icon"></i></div>
                    </div>
                </div>
            </div>
            <div class="footer_privacy">
                <div class="content_1">
                    <span class="content_1_item">Privacy</span>
                    <span class="dot_symbol">.</span>
                    <span class="content_1_item">Terms</span>
                    <span class="dot_symbol">.</span>
                    <span class="content_1_item">Advertising</span>
                    <span class="dot_symbol">.</span>
                    <span class="content_1_item">Ad Choices
                        <i id="ad_choice_icon"></i>
                    </span>
                    <span class="dot_symbol">.</span>
                    <span class="content_1_item">Cookies</span>
                    <span class="dot_symbol">.</span>
                    <span class="content_1_item">More
                        <i id="more_icon"></i>
                    </span>
                </div>
                <div class="content_2">
                    <span> Facebook © 2019</span>
                </div>
            </div>
        </div>
    </div>
    <div class="body_profile_inner_right">
        Some Posts here
    </div>
</div>