<div id="profile_page">
  <div class="profile-container">
    <div class="profile-clearfix">
      <%= render 'partials/current_user_top' %>
      <%= render 'partials/current_user_body' %>
    </div>
  </div>
</div>
<!--Upload and edit avatar-->
<div class="upload_bg">
  <div class="upload_contain">
    <div class="upload_inner">
      <div class="upload_title">
        <div>Update Profile Picture</div>
        <div id="close_btn" onclick="closeUploadPhoto()"></div>
      </div>
      <div>
        <label for="avatar_input" class="ava_upload"><i id="upload_photo_icon"></i>Upload Photo</label>
        <form id="new_avatar" enctype="multipart/form-data" action="/users" accept-charset="UTF-8" method="post">
          <input type="hidden" name="authenticity_token"
            value="VQ0Kl4heG67vHZQq7APTSHABAyQp/HwldEoPAd5GQTkBoJ8mm1dGBYXBw8KryKQkxjoE3t/pz3PLjuuUl13a5Q==">
          <input type="file" as="file" id="avatar_input" accept="image/*" style="display: none" name="user[avatar]">
          <input id="submit_btn" type="submit" style="display: none"></input>
      </form>
    </div>
    <div class="img_contain">
      <div id="target"></div>
    </div>
    <div class="save_btn_contain">
      <label for="submit_btn" id="save_btn">Save</label>
    </div>
  </div>
</div>
</div>
<script>
  $(".open-menu-timeline").hover(
    function () {
      $(".dropdown-menu-1").css({
        display: "block",
        "z-index": "10"
      });
    },
    function () {
      $(".dropdown-menu-1").css({
        display: "none",
        "z-index": "-1"
      });
    }
  );
  
  $(".open-menu-more").hover(
    function () {
      $(".dropdown-menu-2").css({
        display: "block",
        "z-index": "10"
      });
    },
    function () {
      $(".dropdown-menu-2").css({
        display: "none",
        "z-index": "-1"
      });
    }
  );
</script>
<script>
  $(function () {
    $('#avatar_input').on('change', function (event) {
      let files = event.target.files;
      let image = files[0]
      let reader = new FileReader();
      reader.onload = function (file) {
        let img = new Image();
        img.src = file.target.result;
        $('#target').html(img);
      }
      reader.readAsDataURL(image);
    });
  });
</script>
<script>
  function uploadPhoto() {
    $(".upload_bg").addClass("show_upload")
  }
  
  function closeUploadPhoto() {
    $(".upload_bg").removeClass("show_upload")
    $(".save_btn_contain").removeClass("show_save_btn")
  }
  
  $(document).ready(function () {
    $("#avatar_input").change(function () {
      $(".save_btn_contain").addClass("show_save_btn")
    });
  })
  
  $("#new_avatar").submit(function (e) {
    e.preventDefault();
    let avatar_file = document.forms['new_avatar']['avatar_input'].files[0];
    let data = new FormData();
    data.append('avatar', avatar_file);
    axios({
      method: 'post',
      url: '/users',
      data: data,
      config: {
        headers: {
          'Content-Type': 'multipart/form-data',
        }
      }
    }).then(function (response) {
      // location.reload();
    }).catch(function (error) {
      //handle error
      console.log('ERROR: ', error);
    });
  })
</script>
