<div class='left_bar'>
    <div class='lb_sub lb_1'>
        <a class='lb_1_1' href="http://localhost:3000/users">
            <div class='lb_1_ava'><%= image_tag current_user.avatar.url(:thumb), width:'20px', height:'20px' %></div>
            <div class='lb_1_name'><%= current_user.name.titleize %></div>
        </a>
    </div>
    <div class='lb_sub lb_2'>
        <div class='lb_2_1'>
            <div class='lb_icon'></div>
            <div class='lb_text'>Bảng tin</div>
        </div>
        <div class='lb_2_2'>
            <div class='lb_icon'></div>
            <div class='lb_text'>Messenger</div>
        </div>
        <div class='lb_2_3'>
            <div class='lb_icon'></div>
            <div class='lb_text'>Watch</div>
        </div>
        <div class='lb_2_4'>
            <div class='lb_icon'></div>
            <div class='lb_text'>Marketplace</div>
        </div>
    </div>
    <div class='lb_sub lb_3'>
        <div class='lb_title'>Lối tắt</div>
        <div class='lb_3_1'>
            <div class='lb_icon'></div>
            <div class='lb_text'>Group 1</div>
        </div>
        <div class='lb_3_2'>
            <div class='lb_icon'></div>
            <div class='lb_text'>Group 2</div>
        </div>
        <div class='lb_3_3'>
            <div class='lb_icon'></div>
            <div class='lb_text'>Group 3</div>
        </div>
        <div class='lb_3_4'>
            <div class='lb_icon'></div>
            <div class='lb_text'>Group 4</div>
        </div>
        <div class='lb_3_5'>
            <div class='lb_icon'></div>
            <div class='lb_text'>Group 4</div>
        </div>
    </div>
    <div class='lb_sub lb_4'>
        <div class='lb_title'>Khám phá</div>
        <div class='lb_4_1'>
            <div class='lb_icon'></div>
            <div class='lb_text'>Đã lưu</div>
        </div>
        <div class='lb_4_2'>
            <div class='lb_icon'></div>
            <div class='lb_text'>Trang</div>
        </div>
        <div class='lb_4_3'>
            <div class='lb_icon'></div>
            <div class='lb_text'>Nhóm</div>
        </div>
        <div class='lb_4_4'>
            <div class='lb_icon'></div>
            <div class='lb_text'>Sự kiện</div>
        </div>
        <div class='lb_4_5'>
            <div class='lb_icon'></div>
            <div class='lb_text'>Trang gây quỹ</div>
        </div>
    </div>
</div>
<div class='post_bar'>

    <div class='new_post'>
        <form id="post_image_form" enctype="multipart/form-data" action="/createPost" accept-charset="UTF-8"
            method="post">
            <input type="hidden" name="authenticity_token"
                value="VQ0Kl4heG67vHZQq7APTSHABAyQp/HwldEoPAd5GQTkBoJ8mm1dGBYXBw8KryKQkxjoE3t/pz3PLjuuUl13a5Q==">
            <div class='taobaiviet'>
                <div class='inner_taobaiviet'>
                    Tạo bài viết
                </div>
            </div>
            <div class='noi_taobaiviet'>
                <div class='inner_noi_taobaiviet'>
                    <div class='content_taobaiviet'>
                        <div class='inner_content_taobaiviet'>
                            <div class='ava_content_taobaiviet'>
                                <%= image_tag current_user.avatar.url(:medium), width:'40px', height:'40px'%></div>
                            <textarea class='content_content_taobaiviet'
                                placeholder='<%= current_user.name.titleize %> ơi,bạn đang nghĩ gì?'></textarea>
                        </div>
                        <div class="post_image_contain">
                            <div id="post_image"></div>
                        </div>
                    </div>
                    <div class='attach_taobaiviet'>
                        <div class='inner_attach'>
                            <label for="post_image_input" class='attach'>
                                <div class='inner_attach'>
                                    <div class='attach_ava'></div>
                                    <div class='attach_text'>
                                        Ảnh/Video
                                    </div>
                                </div>
                            </label>
                            <input type="file" as="file" id="post_image_input" accept="image/*" style="display: none"
                                name="post[avatar]">
                            <div class='post_status c' post_mode='to_public'>
                                <div class='post_status_select'>
                                    <div class='aisenhinthay_out'>
                                        <div class='aisenhinthay_in'>
                                            Ai sẽ nhìn thấy nội dung này?
                                        </div>
                                    </div>
                                    <div class='status_modes'>
                                        <div class='mode mode_1' post_mode='to_public'>
                                            <div class='mode_main_icon'>

                                            </div>
                                            <div class='mode_main_not_icon'>
                                                <div class='mode_main_text'>
                                                    Công khai
                                                </div>
                                                <div class='mode_detail'>
                                                    Mọi người trên hoặc ngoài Fakebook
                                                </div>
                                            </div>
                                        </div>
                                        <div class='mode mode_2' post_mode='to_friends'>
                                            <div class='mode_main_icon'>
                                            </div>
                                            <div class='mode_main_not_icon'>
                                                <div class='mode_main_text'>
                                                    Bạn bè
                                                </div>
                                                <div class='mode_detail'>
                                                    Bạn bè của bạn trên Fakebook
                                                </div>
                                            </div>
                                        </div>
                                        <div class='mode mode_3' post_mode='to_me'>
                                            <div class='mode_main_icon'>

                                            </div>
                                            <div class='mode_main_not_icon'>
                                                <div class='mode_main_text'>
                                                    Chỉ mình tôi
                                                </div>
                                                <div class='mode_detail'>
                                                    Chỉ mình tôi
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='post_status_icon'>

                                </div>
                                <div class='post_status_text'>
                                    Công khai
                                </div>
                                <div class='post_status_arrow'>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='post_upload'>
                <label for="post_btn" class='post_upload_button'>
                    <div class='post_upload_button_text'>
                        Đăng
                    </div>
                </label>
                <input id="post_btn" type="submit" style="display: none"></input>
            </div>
        </form>
    </div>

    <div class='watch_post'>
        <% @posts_and_user.each do |p|%>
        <div class='post' post_id=<%= p[:post].id %>>
            <div class='post_side'>
                <div class='post_content'>
                    <div class='post_not_text'>
                        <div class='post_not_text_left'>
                            <div class='post_ava'>
                                <a
                                    href="http://localhost:3000/friend/<%= p[:user].id %>"><%= image_tag p[:user].avatar.url(:thumb), width: '40px', height: '40px' %></a>
                            </div>
                            <div class='post_not_ava'>
                                <a class='post_user_name' href="http://localhost:3000/friend/<%=p[:user].id%>">
                                    <%= p[:user].name.titleize %>
                                </a>
                                <div class='post_time_and_mode'>
                                    <a class='post_time' created_at='<%= p[:post].created_at%>'>
                                        <%= p[:post].created_at%>
                                    </a>
                                    <% if p[:user].id == current_user.id %>
                                    <div class='post_mode_setting c' post_mode=<%= p[:post].status%>>
                                        <% if p[:post].status  == "to_public" %>
                                        <div class='post_mode_icon post_mode_icon_0'>
                                            <%elsif p[:post].status  == "to_friends"%>
                                            <div class='post_mode_icon post_mode_icon_1'>
                                                <%else%>
                                                <div class='post_mode_icon post_mode_icon_2'>
                                                    <%end%>
                                                </div>
                                                <div class='post_status_arrow'>

                                                </div>
                                                <div class='post_mode_setting_setting'>
                                                    <div class='aisenhinthay_out'>
                                                        <div class='aisenhinthay_in'>
                                                            Ai sẽ nhìn thấy nội dung này?
                                                        </div>
                                                    </div>
                                                    <div class='status_modes'>
                                                        <div class='mode1 mode_1' post_mode='to_public'>
                                                            <div class='mode_main_icon'>

                                                            </div>
                                                            <div class='mode_main_not_icon'>
                                                                <div class='mode_main_text'>
                                                                    Công khai
                                                                </div>
                                                                <div class='mode_detail'>
                                                                    Mọi người trên hoặc ngoài Fakebook
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class='mode1 mode_2' post_mode='to_friends'>
                                                            <div class='mode_main_icon'>
                                                            </div>
                                                            <div class='mode_main_not_icon'>
                                                                <div class='mode_main_text'>
                                                                    Bạn bè
                                                                </div>
                                                                <div class='mode_detail'>
                                                                    Bạn bè của bạn trên Fakebook
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class='mode1 mode_3' post_mode='to_me'>
                                                            <div class='mode_main_icon'>

                                                            </div>
                                                            <div class='mode_main_not_icon'>
                                                                <div class='mode_main_text'>
                                                                    Chỉ mình tôi
                                                                </div>
                                                                <div class='mode_detail'>
                                                                    Chỉ mình tôi
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <%end%>
                                        </div>
                                    </div>
                                </div>
                                <% if p[:user].id == current_user.id %>
                                <div class='post_not_text_right'>
                                    <div class='post_setting'>
                                        <div class='setting modify_post'>
                                            Chỉnh sửa bài viết
                                        </div>
                                        <div class='setting delete_post '>
                                            Xoá
                                        </div>
                                    </div>
                                </div>
                                <%end%>

                            </div>
                            <div class='post_text'><%=p[:post].content%></div>
                            <% if !p[:post].avatar_file_name.nil? %>
                            <div class="post_image_contain">
                                <%= image_tag p[:post].avatar.url %>
                            </div>
                            <% end %>
                            <% if p[:post].like_count > 0 || p[:post].comment_count > 0 %>
                            <div class='likes_and_posts'>
                                <div class='like_side'>
                                    <%if p[:post].like_count > 0%>
                                    <i class='count_icon'></i>
                                    <div class='like_count'>
                                        <div class='like_num'>
                                            <%= p[:post].like_count %>
                                        </div>
                                    </div>
                                    <%end%>
                                </div>
                                <div class='comment_side'>
                                    <%if p[:post].comment_count > 0%>
                                    <div class='comment_count'>
                                        <div class='count_num'>
                                            <%= p[:post].comment_count %>
                                        </div>
                                        <div class='count_text'>
                                            Bình luận
                                        </div>
                                    </div>
                                    <%end%>

                                </div>
                            </div>
                            <%end%>
                        </div>
                        <div class='post_interact'>
                            <div class='post_like'>
                                <div class='post_like_inner'>
                                    <%if p[:boolean]==false %>
                                    <div class='post_like_inner_icon'>

                                    </div>
                                    <div class='post_like_inner_text'>
                                        Thích
                                    </div>
                                    <%else%>
                                    <svg aria-labelledby="js_115" preserveAspectRatio="xMinYMax meet" version="1.1"
                                        viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" height="16" width="16">
                                        <g style="fill:rgb(0, 132, 355)">
                                            <path
                                                d="M16,9.1c0-0.8-0.3-1.1-0.6-1.3c0.2-0.3,0.3-0.7,0.3-1.2c0-1-0.8-1.7-2.1-1.7h-3.1c0.1-0.5,0.2-1.3,0.2-1.8 c0-1.1-0.3-2.4-1.2-3C9.3,0.1,9,0,8.7,0C8.1,0,7.7,0.2,7.6,0.4C7.5,0.5,7.5,0.6,7.5,0.7L7.6,3c0,0.2,0,0.4-0.1,0.5L5.7,6.6 c0,0-0.1,0.1-0.1,0.1l0,0l0,0L5.3,6.8C5.1,7,5,7.2,5,7.4v6.1c0,0.2,0.1,0.4,0.2,0.5c0.1,0.1,1,1,2,1h5.2c0.9,0,1.4-0.3,1.8-0.9 c0.3-0.5,0.2-1,0.1-1.4c0.5-0.2,0.9-0.5,1.1-1.2c0.1-0.4,0-0.8-0.2-1C15.6,10.3,16,9.9,16,9.1z">
                                            </path>
                                            <path
                                                d="M3.3,6H0.7C0.3,6,0,6.3,0,6.7v8.5C0,15.7,0.3,16,0.7,16h2.5C3.7,16,4,15.7,4,15.3V6.7C4,6.3,3.7,6,3.3,6z">
                                            </path>
                                        </g>
                                    </svg>
                                    <div class='post_like_inner_text blue_text'>
                                        Thích
                                    </div>
                                    <%end%>
                                </div>
                            </div>
                            <div class='post_cmt'>
                                <div class='post_cmt_inner'>
                                    <div class='post_cmt_inner_icon'>

                                    </div>
                                    <div class='post_cmt_inner_text'>
                                        Bình luận
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='cmt_side'>
                        <div class='read_comment'>
                            <%if p[:comment_left] > 0 %>
                            <%if p[:comment_left] < 10 %>
                            <div class='comment_paginate'>
                                <div class='inner_panigate'>
                                    Xem thêm <%= p[:comment_left] %> bình luận
                                </div>
                            </div>
                            <%else%>
                            <div class='comment_paginate'>
                                <div class='inner_panigate'>
                                    Xem thêm 10 bình luận
                                </div>
                            </div>
                            <%end%>
                            <%end%>
                            <div class='comment_show'>
                                <% p[:comments_and_users].each do |cau| %>
                                <div class='comment' comment_id='<%= cau[:comment].id%>'>
                                    <div class='not_reply_side'>
                                        <div class='ava_side'>
                                            <a
                                                href="http://localhost:3000/friend/<%= cau[:user].id%>"><%= image_tag cau[:user].avatar.url(:thumb), width:'32px', height: '32px' %></a>
                                        </div>
                                        <div class='not_ava_side'>
                                            <div class='not_ava_side_comment'>
                                                <div class='not_setting'>
                                                    <a class='user_name'
                                                        href="http://localhost:3000/friend/<%=cau[:user].id%>">
                                                        <%= cau[:user].name%>
                                                    </a>
                                                    <div class='user_comment'>
                                                        <%= cau[:comment].content%>
                                                    </div>
                                                    <% if cau[:like_count] > 0 %>
                                                    <div class='show_comment_likes'>
                                                        <div class='like_icon'>

                                                        </div>
                                                        <div class='comment_like_count'>
                                                            <div class='inner_comment_like_count'>
                                                                <%=cau[:like_count]%>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <%end%>
                                                </div>
                                                <% if cau[:user].id == current_user.id %>
                                                <div class=" comment_not_text_right">
                                                    <div class=" comment_setting">
                                                        <div class="setting modify_comment">
                                                            Chỉnh sửa bình luận
                                                        </div>
                                                        <div class="setting delete_comment ">
                                                            Xoá
                                                        </div>
                                                    </div>
                                                </div>
                                                <% end %>
                                            </div>
                                            <div class='not_ava_side_interact'>
                                                <% if cau[:liked]==true%>
                                                <div class='like liked'>
                                                    Thích
                                                </div>
                                                <%else%>
                                                <div class='like'>
                                                    Thích
                                                </div>
                                                <%end%>
                                                <div class='rep'>
                                                    Trả lời
                                                </div>
                                                <div class='time' created_at='<%= cau[:comment].created_at%>'>
                                                    <%= cau[:comment].created_at%>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class='reply_side'>
                                        <% cau[:replies_and_users].each_with_index do |rau,index| %>
                                        <% if cau[:replies_and_users].length == index+1 %>
                                        <div class='not_open'>
                                            <i>

                                            </i>
                                            <div class='reply_ava'>

                                            </div>
                                            <div class='reply_name'>
                                                <%=rau[:user].name%> đã trả lời &nbsp&nbsp
                                                <%=cau[:replies_and_users].length%> phản
                                                hồi
                                            </div>
                                            <div class='last_reply_date'>
                                                <%=rau[:reply].created_at%>
                                            </div>
                                        </div>
                                        <%end%>
                                        <%end%>

                                        <div class='open'>
                                            <% if cau[:replies_and_users].length > 0 %>
                                            <div class='hide_write_and_read_reply'>
                                                <i>

                                                </i>
                                                <div>
                                                    Ẩn <%=cau[:replies_and_users].length%> phản hồi
                                                </div>
                                            </div>
                                            <%end%>
                                            <div class='write_and_read_reply'>
                                                <div class='read_reply'>
                                                    <% cau[:replies_and_users].each do |rau| %>
                                                    <div class='reply' reply_id=<%= rau[:reply].id %>>
                                                        <div class="ava_side">
                                                            <a
                                                                href="http://localhost:3000/friend/<%= rau[:user].id%>"><%= image_tag rau[:user].avatar.url(:thumb), width:'32px', height: '32px' %></a>
                                                        </div>
                                                        <div class="not_ava_side">
                                                            <div class="not_ava_side_comment">
                                                                <div class="not_setting">
                                                                    <a class='user_name'
                                                                        href="http://localhost:3000/friend/<%=rau[:user].id%>">
                                                                        <%= rau[:user].name %>
                                                                    </a>
                                                                    <div class="user_comment">
                                                                        <%= rau[:reply].content %>
                                                                    </div>
                                                                    <% if rau[:reply].like_count > 0 %>
                                                                    <div class="show_comment_likes">
                                                                        <div class="like_icon">

                                                                        </div>
                                                                        <div class="comment_like_count">
                                                                            <div class="inner_comment_like_count">
                                                                                <%= rau[:reply].like_count %>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <%end%>
                                                                </div>
                                                                <div class="comment_not_text_right">
                                                                    <div class=" comment_setting">
                                                                        <div class="setting modify_comment">
                                                                            Chỉnh sửa bình luận
                                                                        </div>
                                                                        <div class="setting delete_reply ">
                                                                            Xoá
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="not_ava_side_interact">
                                                                <% if rau[:liked]==true%>
                                                                <div class='like liked'>
                                                                    Thích
                                                                </div>
                                                                <%else%>
                                                                <div class='like'>
                                                                    Thích
                                                                </div>
                                                                <%end%>
                                                                <div class="rep">
                                                                    Trả lời
                                                                </div>
                                                                <div class="time"
                                                                    created_at="<%= rau[:reply].created_at %>">
                                                                    <%= rau[:reply].created_at %>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <%end%>
                                                </div>
                                                <div class='write_reply'>
                                                    <div class="user_ava">
                                                        <%= image_tag current_user.avatar.url(:thumb), width:'20px', height:'20px' %>
                                                    </div>
                                                    <form class="createReplyForm">
                                                        <input type="text" class="user_cmt"
                                                            placeholder="Viết bình luận...">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <%end%>
                            </div>
                        </div>
                        <div class='write_comment'>
                            <div class='current_user_ava'>
                                <%= image_tag current_user.avatar.url(:thumb),height: '32px' ,width: '32px'%>
                            </div>
                            <form class='createCommentForm'>
                                <input type='text' class='current_user_cmt' placeholder="Viết bình luận...">
                            </form>
                        </div>
                    </div>
                </div>
                <%end%>
            </div>
        </div>
        <div class='modify_post_div'>
            <div class='overlay'>

            </div>
            <div class='inner'>
                <div class='taobaiviet  '>
                    <div class='inner_taobaiviet'>
                        Chỉnh sửa bài viết
                    </div>
                    <svg onclick="close_box(event)" class="svgIcon m_svg" height="16px" width="16px" version="1.1"
                        viewBox="0 0 16 16" x="0px" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" y="0px">
                        <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
                            <g transform="translate(-712.000000, -1096.000000)">
                                <g stroke="#bec2c9" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                    transform="translate(709.000000, 320.000000)">
                                    <path d="M5.833,778.833 L16.167,789.167"></path>
                                    <path d="M16.167,778.833 L5.833,789.167"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class='noi_taobaiviet'>
                    <div class='inner_noi_taobaiviet'>
                        <div class='content_taobaiviet'>
                            <div class='inner_content_taobaiviet'>
                                <div class='ava_content_taobaiviet'>

                                </div>
                                <textarea class='content_content_taobaiviet'></textarea>
                            </div>
                        </div>
                        <div class='attach_taobaiviet'>
                            <div class='inner_attach'>
                                <div class='attach'>
                                    <div class='inner_attach'>
                                        <div class='attach_ava'>

                                        </div>
                                        <div class='attach_text'>
                                            Ảnh/Video
                                        </div>
                                    </div>
                                </div>
                                <div class='post_status c' post_mode='to_public'>
                                    <div class='post_status_select'>
                                        <div class='aisenhinthay_out'>
                                            <div class='aisenhinthay_in'>
                                                Ai sẽ nhìn thấy nội dung này?
                                            </div>
                                        </div>
                                        <div class='status_modes'>
                                            <div class='mode mode_1' post_mode='to_public'>
                                                <div class='mode_main_icon'>

                                                </div>
                                                <div class='mode_main_not_icon'>
                                                    <div class='mode_main_text'>
                                                        Công khai
                                                    </div>
                                                    <div class='mode_detail'>
                                                        Mọi người trên hoặc ngoài Fakebook
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='mode mode_2' post_mode='to_friends'>
                                                <div class='mode_main_icon'>
                                                </div>
                                                <div class='mode_main_not_icon'>
                                                    <div class='mode_main_text'>
                                                        Bạn bè
                                                    </div>
                                                    <div class='mode_detail'>
                                                        Bạn bè của bạn trên Fakebook
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='mode mode_3' post_mode='to_me'>
                                                <div class='mode_main_icon'>

                                                </div>
                                                <div class='mode_main_not_icon'>
                                                    <div class='mode_main_text'>
                                                        Chỉ mình tôi
                                                    </div>
                                                    <div class='mode_detail'>
                                                        Chỉ mình tôi
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='post_status_icon'>

                                    </div>
                                    <div class='post_status_text'>
                                        Công khai
                                    </div>
                                    <div class='post_status_arrow'>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='post_upload'>
                    <div class='post_upload_button m_post_upload_button'>
                        <div class='post_upload_button_text'>
                            Lưu
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='delete_post_div'>
            <div class='overlay'>

            </div>
            <div class='inner'>
                <div class='taobaiviet  '>
                    <div class='Xóa bài viết?'>
                        Chỉnh sửa bài viết
                    </div>
                    <svg onclick="close_box(event)" class="svgIcon m_svg" height="16px" width="16px" version="1.1"
                        viewBox="0 0 16 16" x="0px" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" y="0px">
                        <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
                            <g transform="translate(-712.000000, -1096.000000)">
                                <g stroke="#bec2c9" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                    transform="translate(709.000000, 320.000000)">
                                    <path d="M5.833,778.833 L16.167,789.167"></path>
                                    <path d="M16.167,778.833 L5.833,789.167"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class='noi_taobaiviet'>
                    <div class='inner_noi_taobaiviet'>
                        <div class='content_taobaiviet'>
                            <div class='inner_content_taobaiviet'>
                                Bạn có thể chỉnh sửa tin nếu chỉ cần thay đổi gì đó.
                            </div>
                        </div>
                    </div>
                </div>
                <div class='post_upload'>
                    <div class='post_upload_button m_post_upload_button chinhsua'>
                        <div class='post_upload_button_text '>
                            Chỉnh sửa
                        </div>
                    </div>
                    <div class='post_upload_button m_post_upload_button xoadi'>
                        <div class='post_upload_button_text'>
                            Xoá
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='delete_comment_div'>
            <div class='overlay'>

            </div>
            <div class='inner'>
                <div class='taobaiviet  '>
                    <div class='Xóa bài viết?'>
                        Chỉnh sửa bình luận
                    </div>
                    <svg onclick="close_box(event)" class="svgIcon m_svg" height="16px" width="16px" version="1.1"
                        viewBox="0 0 16 16" x="0px" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" y="0px">
                        <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
                            <g transform="translate(-712.000000, -1096.000000)">
                                <g stroke="#bec2c9" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                    transform="translate(709.000000, 320.000000)">
                                    <path d="M5.833,778.833 L16.167,789.167"></path>
                                    <path d="M16.167,778.833 L5.833,789.167"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class='noi_taobaiviet'>
                    <div class='inner_noi_taobaiviet'>
                        <div class='content_taobaiviet'>
                            <div class='inner_content_taobaiviet'>
                                Bạn có thể chỉnh sửa tin nếu chỉ cần thay đổi gì đó.
                            </div>
                        </div>
                    </div>
                </div>
                <div class='post_upload'>
                    <div class='post_upload_button m_post_upload_button chinhsua_comment'>
                        <div class='post_upload_button_text '>
                            Chỉnh sửa
                        </div>
                    </div>
                    <div class='post_upload_button m_post_upload_button xoadi_comment'>
                        <div class='post_upload_button_text'>
                            Xoá
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='delete_reply_div'>
            <div class='overlay'>

            </div>
            <div class='inner'>
                <div class='taobaiviet'>
                    <div class='Xóa bài viết?'>
                        Chỉnh sửa bình luận
                    </div>
                    <svg onclick="close_box(event)" class="svgIcon m_svg" height="16px" width="16px" version="1.1"
                        viewBox="0 0 16 16" x="0px" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" y="0px">
                        <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
                            <g transform="translate(-712.000000, -1096.000000)">
                                <g stroke="#bec2c9" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                    transform="translate(709.000000, 320.000000)">
                                    <path d="M5.833,778.833 L16.167,789.167"></path>
                                    <path d="M16.167,778.833 L5.833,789.167"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class='noi_taobaiviet'>
                    <div class='inner_noi_taobaiviet'>
                        <div class='content_taobaiviet'>
                            <div class='inner_content_taobaiviet'>
                                Bạn có thể chỉnh sửa tin nếu chỉ cần thay đổi gì đó.
                            </div>
                        </div>
                    </div>
                </div>
                <div class='post_upload'>
                    <div class='post_upload_button m_post_upload_button chinhsua_comment'>
                        <div class='post_upload_button_text '>
                            Chỉnh sửa
                        </div>
                    </div>
                    <div class='post_upload_button m_post_upload_button xoadi_reply'>
                        <div class='post_upload_button_text'>
                            Xoá
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class='post_like_div'>
            <div class='overlay'>

            </div>
            <div class='inner'>
                <div class='react_side'>
                    <div class='inner_react_side'>
                        <div class='text'>
                            Tất cả
                        </div>
                        <div class='data'>
                            1000
                        </div>
                        <i class="count_icon"></i>
                    </div>
                    <svg onclick="close_box(event)" class="svgIcon m_svg" height="16px" width="16px" version="1.1"
                        viewBox="0 0 16 16" x="0px" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" y="0px">
                        <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
                            <g transform="translate(-712.000000, -1096.000000)">
                                <g stroke="#bec2c9" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                    transform="translate(709.000000, 320.000000)">
                                    <path d="M5.833,778.833 L16.167,789.167"></path>
                                    <path d="M16.167,778.833 L5.833,789.167"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class='user_side'>

                </div>
            </div>
        </div>


        <div class='comment_like_div'>
            <div class='overlay'>

            </div>
            <div class='inner'>
                <div class='react_side'>
                    <div class='inner_react_side'>
                        <div class='text'>
                            Tất cả
                        </div>
                        <div class='data'>
                            1000
                        </div>
                        <i class="count_icon"></i>
                    </div>
                    <svg onclick="close_box(event)" class="svgIcon m_svg" height="16px" width="16px" version="1.1"
                        viewBox="0 0 16 16" x="0px" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" y="0px">
                        <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
                            <g transform="translate(-712.000000, -1096.000000)">
                                <g stroke="#bec2c9" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                    transform="translate(709.000000, 320.000000)">
                                    <path d="M5.833,778.833 L16.167,789.167"></path>
                                    <path d="M16.167,778.833 L5.833,789.167"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class='user_side'>

                </div>
            </div>
        </div>
    </div>
</div>

<div class='reply_like_div' style='left:0;'>
    <div class='overlay'></div>
    <div class='inner'>
        <div class='react_side'>
            <div class='inner_react_side'>
                <div class='text'>
                    Tất cả
                </div>
                <div class='data'>
                    1000
                </div>
                <i class="count_icon"></i>
            </div>
            <svg onclick="close_box(event)" class="svgIcon m_svg" height="16px" width="16px" version="1.1"
                viewBox="0 0 16 16" x="0px" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" y="0px">
                <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
                    <g transform="translate(-712.000000, -1096.000000)">
                        <g stroke="#bec2c9" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                            transform="translate(709.000000, 320.000000)">
                            <path d="M5.833,778.833 L16.167,789.167"></path>
                            <path d="M16.167,778.833 L5.833,789.167"></path>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
        <div class='user_side'>

        </div>
    </div>
</div>
<script>
    $(function () {
        $('#post_image_form').on('change', function (event) {
            let files = event.target.files;
            let image = files[0]
            let reader = new FileReader();
            reader.onload = function (file) {
                let img = new Image();
                img.src = file.target.result;
                $('#post_image').html(img);
            }
            reader.readAsDataURL(image);
        });
    });
</script>