<div class="settings_page">
    <div class="settings_page_contain">
        <div class="settings_page_inner">
            <div class="main_contain">
                <div class="left_content">
                    <ul class="setting_list">
                        <li class="setting_item">
                            <i class="setting_icon_image" id="icon_1"></i>
                            <span>General</span>
                        </li>
                        <li class="setting_item">
                            <i class="setting_icon_image" id="icon_2"></i>
                            <span>Security and Login</span>
                        </li>
                        <li class="setting_item">
                            <i class="setting_icon_image" id="icon_3"></i>
                            <span>Your Fakebook Information</span>
                        </li>

                        <li class="setting_border"></li>

                        <li class="setting_item">
                            <i class="setting_icon_image" id="icon_4"></i>
                            <span>Privacy</span>
                        </li>
                        <li class="setting_item">
                            <i class="setting_icon_image" id="icon_5"></i>
                            <span>Timeline and Tagging</span>
                        </li>
                        <li class="setting_item">
                            <i class="setting_icon_image" id="icon_6"></i>
                            <span>Stories</span>
                        </li>
                        <li class="setting_item">
                            <i class="setting_icon_image" id="icon_7"></i>
                            <span>Location</span>
                        </li>
                        <li class="setting_item">
                            <i class="setting_icon_image" id="icon_8"></i>
                            <span>Blocking</span>
                        </li>
                        <li class="setting_item">
                            <i class="setting_icon_image" id="icon_9"></i>
                            <span>Language and Region</span>
                        </li>
                        <li class="setting_item">
                            <i class="setting_icon_image" id="icon_10"></i>
                            <span>Face Recognition</span>
                        </li>

                        <li class="setting_border"></li>

                        <li class="setting_item">
                            <i class="setting_icon_image" id="icon_11"></i>
                            <span>Notifications</span>
                        </li>
                        <li class="setting_item">
                            <i class="setting_icon_image" id="icon_12"></i>
                            <span>Mobile</span>
                        </li>
                        <li class="setting_item">
                            <i class="setting_icon_image" id="icon_13"></i>
                            <span>Public Posts</span>
                        </li>

                        <li class="setting_border"></li>

                        <li class="setting_item">
                            <i class="setting_icon_image" id="icon_14"></i>
                            <span>Apps and Websites</span>
                        </li>
                        <li class="setting_item">
                            <i class="setting_icon_image" id="icon_15"></i>
                            <span>Instant Games</span>
                        </li>
                        <li class="setting_item">
                            <i class="setting_icon_image" id="icon_16"></i>
                            <span>Business Integrations</span>
                        </li>
                        <li class="setting_item">
                            <i class="setting_icon_image" id="icon_17"></i>
                            <span>Ads</span>
                        </li>
                        <li class="setting_item">
                            <i class="setting_icon_image" id="icon_18"></i>
                            <span>Payments</span>
                        </li>
                        <li class="setting_item">
                            <i class="setting_icon_image" id="icon_19"></i>
                            <span>Support Inbox</span>
                        </li>
                        <li class="setting_item">
                            <i class="setting_icon_image" id="icon_20"></i>
                            <span>Videos</span>
                        </li>
                    </ul>
                </div>
                <div class="right_content">
                    <% flash.each do |key, value| %>
                    <div class="alert alert-<%= key %>"><%= value %></div>
                    <% end %>
                    <div class="right_content_clearfix">
                        <div class="right_content_header">
                            <h2 class="header_content">General Account Settings</h2>
                        </div>
                        <div class="right_content_body">
                            <%= form_for :current_user, html: {id:'update_profile_form'} do |f| %>
                            <div class="form_item">
                                <label for="name">Username</label></br>
                                <div class="form_input">
                                    <img src="/assets/user_icon" id="user_icon" class="form_icon">
                                    <%= f.text_field(:name, {id: "name", value: current_user.name}) %>
                                </div>
                            </div>

                            <div class="form_item">
                                <label for="email">Email</label></br>
                                <div class="form_input">
                                    <img src="/assets/email_icon" id="email_icon" class="form_icon">
                                    <%= f.email_field(:email, {id: "email", value: current_user.email }) %>
                                </div>
                            </div>

                            <div class="form_item">
                                <label for="phone">Phone number</label></br>
                                <div class="form_input">
                                    <img src="/assets/phone_icon" id="phone_icon" class="form_icon">
                                    <%= f.telephone_field(:phone, {id: "phone", value: current_user.phone }) %>
                                </div>
                            </div>

                            <!-- <div class="form_item">
                                <label for="pass">Password</label></br>
                                <div class="form_input">
                                    <img src="/assets/pass_icon" id="pass_icon" class="form_icon">
                                    <%= f.password_field(:password, {id: "pass", placeholder: "Your new password" }) %>
                                </div>
                            </div>

                            <div class="form_item">
                                <label for="re-pass">Confirm password</label></br>
                                <div class="form_input">
                                    <img src="/assets/pass_icon" id="pass_icon" class="form_icon">
                                    <%= f.password_field(:password_confirmation, {id: "re_pass", placeholder: "Confirm your password" }) %>
                                </div>
                            </div> -->

                            <div class="form_item">
                                <%= f.submit "Update", {id: "update", onclick: "updateProfile(event)"}%>
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page_footer"></div>
        </div>
    </div>
</div>

<script>
    function validateEmail(email) {
        let email_condition =
            /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return email_condition.test(String(email).toLowerCase());
    }

    function validatePhone(phone) {
        let phone_condition = /^\d{10}$/;
        return phone_condition.test(String(phone).toLowerCase());
    }

    function updateProfile(event) {
        event.preventDefault();
        let name = $("#name").val();
        let email = $("#email").val();
        let phone = $("#phone").val();

        if (!/\S/.test(name) || !/\S/.test(email) || !/\S/.test(phone)) {
            alert("Trường không được để trống, vui lòng nhập giá trị mới, chúng tôi reload lại trang để set lại giá trị mặc định")
            location.reload()
        } else {
            if (/\S/.test(email)) {
                if (validateEmail(email) == false) {
                    alert("Email không hợp lệ")
                    return
                } else {
                    if (/\S/.test(phone)) {
                        if (validatePhone(phone) == false) {
                            alert("Phone không hợp lệ")
                            return
                        } else {
                            update_profile_form.submit(
                                axios.post('/users/settings', {
                                    name: name,
                                    email: email,
                                    phone: phone,
                                }).then(rs => {
                                        location.reload()
                                }).catch(err => {
                                    console.log("UPDATE FAILED ", err)
                                })
                            )
                        }
                    }
                }
            }
        }
    }
</script>