
   <script>
        function checkEmail() {
            let password = document.getElementById('password').value;
            let email = document.getElementById("email").value

            let email_condition =
                /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            let phone_condition = /^\d{10}$/;
            if (email == "") {
                alert("Email không thể bỏ trống");
                email.focus();
                return falses;
            } else {
                return true
            }
    }

    function checkPassword() {
        let password = document.getElementById('password').value;
        let condition = /(?=.*\d)(?=.* [a - z])(?=.* [A - Z]).{ 6,}/;
        if (password == "") {
            alert("Password không thể bỏ trống");
            password.focus();
            return false;
        } else {
            return condition.test(String(password).toLowerCase());
        }

    }

    function checkConfirmpassword() {
        let password = document.getElementById("password").value

        let confirmpassword = document.getElementById("password_confirm").value
        if (confirmpassword == "") {
            alert("Confirm Password không thể bỏ trống");
            confirmpassword.focus();
            return false;
        }
        if (confirmpassword == password) {
            return true;
        } else {
            alert('Nhap lai password')

            return false;
        }
    }

    function register(event) {
        let email = document.getElementById("email").value

        let email_condition =
            /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        let phone_condition = /^\d{10}$/;
        event.preventDefault()
        if (checkEmail()) {

            if (email_condition.test(String(email)) == true) {
                alert("email OK!")
                if (checkConfirmpassword()) {
                    alert("ok")
                    let name = document.getElementById("name").value
                    let email = document.getElementById("email").value
                    let password = document.getElementById("password").value

                    axios.post('/signup', {
                        name: name,
                        email: email,
                        password: password,

                    }).then(rs => {
                        location.href = "/signin"
                    }).catch(err => {

                    })
                }

            } else {

                if (phone_condition.test(String(email)) == true) {
                    alert("phonenumber OK!")
                    if (checkConfirmpassword()) {
                        alert("ok")
                        let name = document.getElementById("name").value
                        let email = document.getElementById("email").value
                        let password = document.getElementById("password").value

                        axios.post('/signup', {
                            name: name,
                            phone: email,
                            password: password,

                        }).then(rs => {
                            location.href = "/signin"
                        }).catch(err => {

                        })
                    }
                } else {
                    alert("email ko hop le")
                }
            }
        } else {
            alert("email ko the bo trong")
        }

    }
</script>


<div class="container">
    <div class="container_div1">
        <div class='container_div15'>
            <div class="container_div1_div1">
                <div class="nameSM">
                    facebook
                </div>
            </div>
            <div class="container_div1_div2">
                <div class='id'>
                    <div class='id_1'>Email hoặc điện thoại</div>
                    <input type='text' class='id_2 khung'>
                </div>
                <div class='pass'>
                    <div class='pass_1'>Mật khẩu</div>
                    <input type='password' class='pass_2 khung '>
                    <div class='quen'>Quên tài khoản?</div>
                </div>
                <div class='button'>
                    <button class=' khung dangnhap' style='border: 1px solid #1d2a5b;' type='submit'><span>Đăng
                            nhập</span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="container_div2">
        <div class='container_div2_div15'>

            <div class='container_div2_Form'>
                <div class='dangki'>
                    Đăng ký
                </div>
                <div class='luonmienphi'>
                    Luôn miễn phí.
                </div>
                <div>
                    <form class='form' method="post" action="#">
                        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                        <input class='four' type='text' name="name" id="name" placeholder='Tên'>
                        <input class='four' type='text' name="email" id="email" placeholder='Số di động hoặc email'>
                        <input class='four' type='password' name="password" id="password" placeholder='Mật khẩu'>
                        <input class='four' type='password' name="password_confirm" id="password_confirm"
                            placeholder='Nhập lại mật khẩu'>
                        <div class='bangcach'>
                            Bằng cách nhấp vào Đăng ký, bạn đồng ý với <a style='    color: #365899;
                                cursor: pointer;
                                text-decoration: none;'>Điều khoản</a>, <a style='    color: #365899;
    cursor: pointer;
    text-decoration: none;'>Chính sách dữ liệu</a> và <a style='    color: #365899;
    cursor: pointer;
    text-decoration: none;'>Chính sách
                                cookie</a> của chúng tôi. Bạn có thể nhận được thông báo của chúng tôi qua SMS và
                            hủy nhận
                            bất kỳ lúc nào.
                        </div>
                        <input type='submit' value='Đăng Ký' class='dangkyy' onclick='register(event)'>
                        <div class='taotrang'><a style='color: #365899;
                                cursor: pointer;
                                text-decoration: none;'>Tạo trang</a> dành cho người nổi tiếng, nhãn hiệu hoặc doanh
                            nghiệp.</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
