
    <div class="container">
        <div class="container_div1">
            <div class='container_div15'>
                <div class="container_div1_div1">
                    <div class="nameSM">
                        facebook
                    </div>
                </div>
            </div>
        </div>
        <div class="container_div2">
            <div class='login_form'>
                <div class='login_head'>
                    Đăng nhập Facebook
                </div>
                <div class='login_body'>
                    <form class='center_all_column'>
                        <input class='login_form_input' placeholder='Email hoặc số điện thoại'>
                        <input class='login_form_input' type='password' placeholder="Mật khẩu">
                        <button class='login_button'>
                            Đăng nhập
                        </button>
                        <a class='login_form_forgot' onclick="signin(ok)">Quên tài khoản ? </a>
                        <div class='login_form_or'>

                            hoặc

                        </div>
                        <div class='login_form_regis'>
                            <a>Tạo tài khoản mới </a>
                        </div>
                        <div class='login_form_regis2'>
                            <a>Tạo tài khoản mới mới </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script>
    $(document).ready(() => {
        $('.login_button').click((e) => {
            axios.post('/login').then((res) => {
                window.location.href = "http://localhost:3000/home";
            })
        })
        $('.login_form_regis').click((e) => {
            axios.post('/loginn').then((res) => {
                window.location.href = "http://localhost:3000/home";
            })
        })
        $('.login_form_regis2').click((e) => {
            axios.post('/loginnn').then((res) => {
                window.location.href = "http://localhost:3000/home";
            })
        })
    })
</script>