/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body,
html {
  font-family: "face1";
  margin: 0;
  padding: 0;
  background-color: #e9ebee;
  line-height: 1.34;
}

* {
  outline: none;
  box-sizing: border-box;
}
.flex {
  display: flex !important  ;
  z-index: 5 !important;
}

.flex_without_z_index {
  display: flex !important  ;
}
.none {
  display: none !important  ;
}
.bottom_right {
  top: calc(100% - 10px) !important;
  right: 0px !important;
  left: auto !important;
}
.liked {
  font-family: "face" !important;
  color: rgb(32, 120, 244) !important;
}
