.body_profile_wraper {
    display: flex;

    .body_profile_inner_left {
        width: 341px;
        margin-right: 10px;

        .time_line_items_review {
            display: inline-block;
            width: 100%;
            margin-bottom: 10px;
            border: 1px solid #dddfe2;
            border-radius: 3px;

            .items_review_contain {
                background-color: #fff;
                cursor: pointer;
                border-radius: 3px;

                &:hover {
                    background-color: #f5f6f7;
                }

                .display_and_padding {
                    display: flex;
                    padding: 12px;

                    .m_r_star_icon {
                        margin-right: 8px;

                        .star_icon_contain {
                            display: inline-block;
                            background-color: #3578e5;
                            border-radius: 3px;
                            padding: 4px;

                            #star_icon {
                                background-image: url(/assets/icon_facebook_9);
                                background-size: 33px 559px;
                                background-repeat: no-repeat;
                                display: inline-block;
                                width: 12px;
                                height: 12px;
                                background-position: -17px -199px;
                            }
                        }

                    }

                    .items_review_content {
                        flex: 1 0 0px;
                        font-size: 12px;
                        line-height: 16px;
                        color: #4b4f56;
                        padding: 2px 8px 0 0;

                    }

                    #close_icon {
                        display: inline-block;
                        height: 14px;
                        width: 14px;
                        background-image: url(/assets/icon_facebook_5);
                        background-repeat: no-repeat;
                        background-size: 53px 356px;
                        background-position: -25px -328px;
                        cursor: pointer;
                    }
                }
            }
        }

        .time_line_intro_card {
            margin-bottom: 10px;

            .intro_card_contain {
                border: 1px solid #dddfe2;
                border-radius: 3px;
                background-color: #fff;

                .intro_symbol {
                    display: flex;
                    align-items: center;
                    margin-left: 12px;
                    margin-right: 12px;
                    padding-bottom: 4px;
                    padding-top: 12px;


                    #intro_icon {
                        background-image: url(/assets/icon_facebook_10);
                        background-size: 33px 290px;
                        background-repeat: no-repeat;
                        display: inline-block;
                        width: 24px;
                        height: 24px;
                        background-position: 0 -58px;
                        margin-right: 5px;
                    }

                    span {
                        padding-top: 3px;
                        font-size: 17px;
                        line-height: 20px;
                        font-weight: normal;
                    }
                }

                .intro_bio {
                    margin-left: 12px;
                    margin-right: 12px;

                    .intro_bio_clearfix {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        font-size: 12px;
                        color: #1d2129;
                        line-height: 16px;

                        #intro_bio_icon {
                            display: inline-block;
                            background-image: url(/assets/icon_facebook_9);
                            background-size: 33px 559px;
                            background-repeat: no-repeat;
                            width: 20px;
                            height: 20px;
                            background-position: 0 -130px;
                            margin-bottom: 3px;
                        }

                        .intro_bio_content {
                            opacity: 0.7;
                            letter-spacing: 0.5px;
                        }

                        .intro_bio_content_2 {
                            width: 80%;
                            color: #3578e5;
                            margin: 4px 24px 12px;
                            text-align: center;
                            cursor: pointer;
                            letter-spacing: 0.5px;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                }

                .intro_details {
                    margin: 4px 12px 8px 12px;
                    border-top: 1px solid #ebedf0;

                    .intro_details_list {
                        padding-top: 4px;
                        margin-top: 8px;
                        list-style: none;

                        .intro_details_item {
                            color: #1d2129;
                            padding: 4px 16px 4px 0;

                            .intro_details_item_clearfix {
                                display: flex;

                                .intro_details_icon {
                                    background-image: url(/assets/icon_facebook_11);
                                    background-size: 33px 290px;
                                    background-repeat: no-repeat;
                                    display: inline-block;
                                    height: 16px;
                                    width: 16px;
                                    margin-right: 8px;
                                }

                                #icon_1 {
                                    background-position: 0 -103px;
                                }

                                #icon_2 {
                                    background-position: 0 -188px;
                                }

                                #icon_3 {
                                    background-position: 0 -171px;
                                }

                                #icon_4 {
                                    background-position: 0 -205px;
                                }


                                .intro_details_item_content {
                                    font-size: 12px;
                                    line-height: 16px;
                                    color: #1d2129;

                                    a {
                                        color: #385898;
                                        cursor: pointer;

                                        &:hover {
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .intro_details_edit {
                        border: 1px solid;
                        border-radius: 2px;
                        font-size: 12px;
                        -webkit-font-smoothing: antialiased;
                        font-weight: bold;
                        text-align: center;
                        background-color: #f5f6f7;
                        border-color: #ccd0d5;
                        color: #4b4f56;
                        line-height: 26px;
                        padding: 0 10px;
                        margin-bottom: 8px;
                        margin-top: 8px;
                        cursor: pointer;

                        &:hover {
                            background-color: #ebedf0;
                        }

                        &:active {
                            background-color: #dddfe2;
                            border-color: #bec3c9;
                            transform: scale(.98);
                        }
                    }
                }

                .intro_feature {
                    margin: 12px;
                    padding-top: 8px;


                    .intro_feature_clearfix {
                        border-top: 1px solid #ebedf0;
                        padding: 0 5px;
                        padding-top: 8px;
                        flex-direction: column;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        line-height: 18px;

                        #intro_feature_icon {
                            background-image: url(/assets/icon_facebook_9);
                            background-size: 33px 559px;
                            background-repeat: no-repeat;
                            display: inline-block;
                            width: 24px;
                            height: 24px;
                            background-position: 0 -55px;
                        }

                        span {
                            font-size: 12.5px;
                            text-align: center;
                            letter-spacing: 0.5px;
                            -webkit-font-smoothing: subpixel-antialiased;
                            word-wrap: break-word;
                            padding: 5px 0px;
                            color: #1d2129;
                        }

                        a {
                            width: 80%;
                            color: #3578e5;
                            text-align: center;
                            cursor: pointer;
                            letter-spacing: 0.5px;
                            font-size: 13px;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }

        .time_line_photo {
            border: 1px solid #dddfe2;
            background-color: #fff;
            border-radius: 3px;
            margin-bottom: 10px;

            .time_line_photo_contain {
                margin-left: 12px;
                margin-right: 12px;
                padding-bottom: 12px;
                padding-top: 12px;
                display: flex;

                #time_line_photo_icon {
                    background-image: url(/assets/icon_facebook_12);
                    background-size: 33px 290px;
                    background-repeat: no-repeat;
                    width: 24px;
                    height: 24px;
                    background-position: 0 -33px;
                    display: inline-block;
                    margin-right: 10px;
                }

                .time_line_photo_content {
                    display: flex;
                    justify-content: space-between;
                    width: 89%;
                    align-items: flex-end;

                    .content_1 {
                        cursor: pointer;
                        font-size: 16px;
                        line-height: 20px;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    .content_2 {
                        color: #385898;
                        cursor: pointer;
                        line-height: 24px;
                        font-size: 12px;
                        -webkit-font-smoothing: subpixel-antialiased;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

            }

        }

        .time_line_friends {
            border: 1px solid #dddfe2;
            border-radius: 3px;
            background-color: #fff;
            margin-bottom: 10px;

            .time_line_friends_inner {
                .friend_time_line_title {
                    margin-left: 12px;
                    margin-right: 12px;
                    padding-bottom: 12px;
                    padding-top: 12px;
                    display: flex;

                    .friend_time_line_icon {
                        margin-right: 10px;
                        cursor: pointer;
                    }

                    .friend_title_content {
                        display: flex;
                        justify-content: space-between;
                        width: 89%;
                        align-items: flex-end;

                        .friend_photo_list {
                            display: flex;
                            align-items: center;

                            .content_1 {
                                font-size: 15px;
                                line-height: 20px;
                                color: #1d2129;
                                cursor: pointer;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }

                            .dot_symbol {
                                display: flex;
                                align-items: flex-start;
                                font-size: 12px;
                                font-weight: normal;
                                color: #333;
                                padding: 0 4px;
                            }

                            .friend_count {
                                font-size: 14px;
                                line-height: 18px;
                                color: #90949c;
                                cursor: pointer;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }

                        .find_friend {
                            display: inline-block;
                            font-size: 12px;
                            -webkit-font-smoothing: subpixel-antialiased;
                            color: #385898;
                            cursor: pointer;
                            height: 24px;
                            line-height: 24px;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }

                .friend_time_line_content {
                    padding: 0 5px 4px 5px;

                    .friend_time_line_clearfix {
                        display: flex;
                        flex-wrap: wrap;

                        .friend_item {
                            padding: 0 3px 7px 0px;

                            &:hover .friend_name {
                                text-decoration: underline;
                            }

                            .friend_avatar {}

                            .friend_name {
                                padding: 2px 5px 5px 0;
                                font-size: 12px;
                                line-height: 16px;
                                cursor: pointer;
                                color: #5c74a7;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }

        .time_line_footer {
            .footer_laguage {
                font-size: 12px;
                -webkit-font-smoothing: subpixel-antialiased;
                border: 1px solid #dddfe2;
                border-radius: 3px;
                background-color: #fff;
                padding: 12px;

                .footer_laguage_clearfix {
                    display: flex;

                    .laguage_list {
                        color: #90949c;
                        font-size: 12px;
                        font-weight: normal;
                        display: flex;
                        flex-wrap: wrap;
                        padding-right: 10px;

                        .not_focus_laguage {
                            color: #385898;
                            cursor: pointer;

                            &:hover {
                                text-decoration: underline
                            }
                        }

                        .dot_symbol {
                            display: flex;
                            align-items: flex-start;
                            font-size: 12px;
                            font-weight: normal;
                            color: #333;
                            padding: 0 4px;
                            line-height: 10px;
                        }
                    }

                    .laguage_more_option {
                        padding-left: 12px;

                        .laguage_more_option_btn {
                            line-height: 26px;
                            padding: 7px 10px;
                            background-color: #f5f6f7;
                            border: 1px solid;
                            border-radius: 2px;
                            border-color: #ccd0d5;
                            color: #4b4f56;
                            cursor: pointer;
                            display: inline-block;

                            &:hover {
                                background-color: #ebedf0;
                            }

                            &:active {
                                background-color: #dddfe2;
                                border-color: #bec3c9;
                                transform: scale(.98);
                            }

                            #more_option_icon {
                                background-image: url(/assets/icon_facebook_13);
                                background-size: 53px 356px;
                                background-repeat: no-repeat;
                                display: inline-block;
                                height: 12px;
                                width: 12px;
                                background-position: -13px -330px;
                            }
                        }
                    }
                }
            }

            .footer_privacy {
                color: #616770;
                padding: 0 12px 2px;
                font-size: 12px;

                .content_1 {
                    color: #90949c;
                    display: flex;
                    flex-wrap: wrap;

                    .dot_symbol {
                        display: flex;
                        align-items: flex-start;
                        font-size: 12px;
                        font-weight: normal;
                        color: #333;
                        padding: 0 4px;
                        line-height: 10px;
                    }

                    .content_1_item {
                        display: flex;
                        letter-spacing: 0.5px;
                        align-items: center;
                        cursor: pointer;

                        #ad_choice_icon {
                            background-image: url(/assets/icon_facebook_13);
                            background-size: 53px 356px;
                            background-repeat: no-repeat;
                            display: inline-block;
                            margin-left: 1px;
                            width: 16px;
                            height: 16px;
                            background-position: -34px -281px;
                        }

                        #more_icon {
                            background-image: url(/assets/icon_facebook_13);
                            background-size: 53px 356px;
                            background-repeat: no-repeat;
                            display: inline-block;
                            width: 5px;
                            height: 4px;
                            background-position: -47px -106px;
                            margin-left: 3px;
                            margin-top: 3px;
                        }
                    }
                }
            }
        }
    }

    .body_profile_inner_right {
        width: 516px;
        min-height: 1px;

        .create_post_contain {
            color: #1c1e21;
            margin-bottom: 10px;

            .create_post_clearfix {
                background-color: #fff;
                border: 1px solid #dddfe2;
                border-radius: 3px;

                .create_post_title {
                    display: flex;
                    padding: 10px 0;
                    padding-right: 24px;
                    background-color: #f5f6f7;
                    border-bottom: 1px solid #dddfe2;
                    border-radius: 2px 2px 0 0;
                    font-weight: bold;

                    .title_item {
                        background-color: #f5f6f7;
                        border-right: 1px solid #ccd0d5;
                        color: #365899;
                        padding: 0 4px 0 10px;
                        cursor: pointer;

                        .title_item_inner {
                            position: relative;
                            padding-left: 21px;

                            #create_post_icon {
                                background-image: url(/assets/icon_facebook_14);
                                background-size: 64px 1916px;
                                background-repeat: no-repeat;
                                display: inline-block;
                                width: 16px;
                                height: 16px;
                                background-position: 0 -1848px;
                                position: absolute;
                                left: 0;
                                top: -1;
                            }

                            .icon_image_content {
                                background-image: url(/assets/icon_facebook_15);
                                background-size: 201px 582px;
                                background-repeat: no-repeat;
                                display: inline-block;
                                height: 16px;
                                width: 16px;
                                position: absolute;
                                left: 0;
                                top: -1;
                            }

                            #photo_video_icon {
                                background-position: -115px -483px;
                            }

                            #live_video_icon {
                                background-position: -182px -288px;
                            }

                            #life_event_icon {
                                background-position: -166px -483px;
                            }

                            .title_item_content {
                                color: #385898;
                                display: inline;
                                padding: 4px 6px 4px 4px;
                                font-size: 12px;
                                font-weight: 600;
                                line-height: 14px;
                                letter-spacing: 0.7px;
                            }

                            .onfocus {
                                color: #4b4f56;
                            }

                            .onfocus_arrow {
                                border-bottom: 8px solid #fff;
                                border-left: 8px solid transparent;
                                border-right: 8px solid transparent;
                                bottom: -11px;
                                font-size: 0;
                                height: 0;
                                left: 50%;
                                line-height: 0;
                                position: absolute;
                                width: 0;
                            }
                        }

                        &:last-child {
                            border: none;
                        }

                    }
                }

                .create_post_content {
                    display: flex;

                    .post_user_avatar {
                        margin: 12px 0 0 12px;

                        .avatar_contain {
                            display: inline-block;
                            border: 1px solid rgba(0, 0, 0, .1);
                            border-radius: 50%;

                            .post_avatar {
                                border-radius: 50%;
                                overflow: hidden;
                                width: 40px;
                                height: 40px;
                            }
                        }
                    }

                    .post_content {
                        width: 100%;
                        padding: 20px 48px 13px 12px;
                        max-height: 100px;
                        min-height: 71px;
                        background-color: transparent;

                        .content_inside {
                            resize: none;
                            border: none;
                            width: 100%;
                            height: 100%;
                            font-size: 14px;
                            font-weight: normal;
                            letter-spacing: normal;
                            line-height: 18px;
                        }
                    }
                }

                .create_post_attachment {
                    border-top: 1px solid #e9ebee;
                    margin: 0 12px;
                    padding: 8px 0;
                    max-height: 88px;

                    .post_attachment_clearfix {
                        display: flex;

                        .post_attachment_item {
                            display: flex;
                            align-items: center;
                            margin-right: 6px;
                            background: #f5f6f7;
                            border-radius: 18px;
                            cursor: pointer;
                            padding: 0 18px 0 12px;

                            &:hover {
                                background-color: #ebedf0;
                            }

                            .attachment_image_icon {
                                background-image: url(/assets/icon_facebook_14);
                                background-size: 64px 1916px;
                                background-repeat: no-repeat;
                                display: inline-block;
                                background-position: 0 -1100px;
                                height: 20px;
                                width: 20px;
                                margin-right: 5px;
                            }

                            #photo_attachment_icon {
                                background-position: 0 -1100px;
                            }

                            #tag_attachment_icon {
                                background-position: -21px -995px;
                            }

                            #feeling_attachment_icon {
                                background-position: -21px -974px;
                            }

                            #more_attachment_icon {
                                background-position: -21px -1394px;
                                margin: 0;
                            }

                            .attachment_type {
                                color: #4b4f56;
                                font-weight: 600;
                                height: 32px;
                                line-height: 32px;
                                font-size: 12px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                letter-spacing: 0.65px;
                            }
                        }

                        .more_attachment_type {
                            padding: 0 12px 0 12px;
                        }
                    }
                }

                .creat_post_footer {
                    border-radius: 0 0 3px 3px;
                    border-top: 1px solid #dddfe2;
                    background-color: #fff;

                    .creat_post_footer_clearfix {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        padding: 8px;
                        font-size: 12px;
                        line-height: 22px;
                        letter-spacing: 0.7px;
                        font-weight: bold;

                        // --------------Che do post---------------------
                        .post_mode {
                            display: inline-block;
                            margin-left: 20px;
                            margin-right: 10px;
                            cursor: pointer;

                            .friend_post_mode_inner {
                                #setting_post_on_friend_timeline {
                                    background-image: url(/assets/icon_facebook_15);
                                    background-size: 201px 582px;
                                    background-repeat: no-repeat;
                                    display: inline-block;
                                    height: 16px;
                                    width: 17px;
                                    background-position: -158px -321px;
                                    opacity: .5;
                                }
                            }

                            .post_mode_inner {
                                display: flex;
                                align-items: center;
                                background-color: #f5f6f7;
                                border: 1px solid #ccd0d5;
                                color: #4b4f56;
                                border-radius: 3px;
                                box-sizing: content-box;
                                padding: 0 8px;
                                font-weight: bold;
                                -webkit-font-smoothing: subpixel-antialiased;

                                #onlyme_icon {
                                    background-image: url(/assets/icon_facebook_14);
                                    background-size: 64px 1916px;
                                    background-repeat: no-repeat;
                                    display: inline-block;
                                    width: 16px;
                                    height: 16px;
                                    background-position: -17px -1695px;
                                    margin-right: 4px;
                                }
                            }
                        }

                        // -----------------------------------
                        .create_post_btn {
                            color: #fff;
                            border: 1px solid #4267b2;
                            background-color: #4267b2;
                            cursor: pointer;
                            padding: 0 16px;
                            border-radius: 3px;
                            -webkit-font-smoothing: subpixel-antialiased;
                        }
                    }
                }
            }
        }
    }
}