.left_bar {
  position: fixed;
  height: 549px;
  width: 186px;
  left: 229px;
  top: 54px;
  display: flex;
  flex-direction: column;

  .lb_title {
    color: #616770;
    font-size: 14px;
    line-height: 17px;
    font-family: "face";
  }

  .lb_sub {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }

  .lb_sub>div {
    padding: 3px;
    display: flex;
    align-items: center;
    height: 30px;
    margin-bottom: 1px;
    border-radius: 2px;
    cursor: pointer;
    border: 1px transparent solid;
  }

  .lb_2>div:first-child {
    border: 1px #dddfe2 solid;
    background-color: #f5f6f7;
  }

  .lb_sub>div:not(.lb_title):hover {
    border: 1px #dddfe2 solid;
    background-color: #f5f6f7;
  }

  .lb_1 {
    .lb_1_1 {
      display: flex;
      align-items: center;
      color: #1c1e21;
      padding: 3px 5px;
      border-radius: 2px;
      border: 1px transparent solid;

      &:hover {
        background-color: #f5f6f7;
        border: 1px #dddfe2 solid;
      }

      .lb_1_ava {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        overflow: hidden;
      }

      .lb_1_name {
        margin-left: 6px;
        font-size: 13px;
      }
    }

  }

  .lb_icon {
    height: 20px;
    width: 20px;
    background-image: url(insai.png);
    background-size: 64px 1914px;
    background-repeat: no-repeat;
  }

  .lb_text {
    margin-left: 6px;
    font-size: 13px;
  }

  .lb_2 {
    .lb_2_1 {
      .lb_icon {
        background-position: -21px -1037px;
      }
    }

    .lb_2_2 {
      .lb_icon {
        background-position: 0 -869px;
      }
    }

    .lb_2_3 {
      .lb_icon {
        background-position: 0 -1184px;
      }
    }

    .lb_2_4 {
      .lb_icon {
        background-position: 0 -1037px;
      }
    }
  }

  .lb_3 {
    .lb_icon {
      background-position: 0 -1100px;
    }
  }

  .lb_4 {
    .lb_icon {
      height: 20px;
      width: 20px;
      background-image: url(vcoa.png);
      background-size: 64px 2156px;
      background-repeat: no-repeat;
    }

    .lb_4_1 {
      .lb_icon {
        background-position: 0 -944px;
      }
    }

    .lb_4_2 {
      .lb_icon {
        background-position: -22px -922px;
      }
    }

    .lb_4_3 {
      .lb_icon {
        background-position: 0 -878px;
      }
    }

    .lb_4_4 {
      .lb_icon {
        background-position: 0 -22px;
      }
    }

    .lb_4_5 {
      .lb_icon {
        background-position: -22px -1098px;
      }
    }
  }
}

.post_bar {
  margin-left: 440px;
  width: 500px;
  height: 100%;
  margin-top: 54px;
  display: flex;
  flex-direction: column;

  .new_post {
    margin-bottom: 10px;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    width: 100%;

    #post_image_form {
      margin: 0
    }

    .taobaiviet {
      border-bottom: 1px solid #dddfe2;
      width: 100%;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      background-color: #f5f6f7;
      font-weight: bold;
      display: flex;
      align-items: center;
      padding: 8px;

      .inner_taobaiviet {
        font-size: 13px;
        font-weight: 600;
        line-height: 15px;
        color: #4b4f56;
      }
    }

    .noi_taobaiviet {
      padding: 0 12px;
      background-color: #ffffff;

      .inner_noi_taobaiviet {
        .content_taobaiviet {
          padding: 12px 0px;
          min-height: 71px;
          border-bottom: 1px solid #e9ebee;
          display: flex;
          flex-direction: column;

          .post_image_contain {

            #post_image img {
              padding-top: 20px;
              max-width: 100%;
              max-height: 100%;
            }
          }


          .inner_content_taobaiviet {
            display: flex;
            align-items: center;

            .ava_content_taobaiviet {
              align-self: flex-start;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              overflow: hidden;
            }

            .content_content_taobaiviet {
              height: 20px;
              width: calc(100% - 52px);
              border: 0;
              margin-left: 12px;
              font-size: 15px;

              &::placeholder {
                font-size: 15px;
              }

              resize: none;
            }
          }
        }

        .attach_taobaiviet {
          padding: 8px 0px;

          .inner_attach {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .attach {
              border-radius: 16px;
              height: 32px;
              width: min-content;
              padding: 6px 15px 6px 10px;
              background: #f5f6f7;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;

              &:hover {
                background: #ebedf0;
              }

              .inner_attach {
                display: flex;
                align-items: center;
                justify-content: center;

                .attach_ava {
                  height: 20px;
                  width: 20px;
                  background-position: -21px -1079px;
                  background-size: 64px 1914px;
                  background-repeat: no-repeat;
                  background-image: url(insai.png);
                }

                .attach_text {
                  font-family: "face";
                  margin-left: 6px;
                  line-height: 32px;
                  color: #4b4f56;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  font-size: 12px;
                }
              }
            }

            .post_status {
              cursor: pointer;
              padding: 0 8px;
              color: black;
              height: 24px;
              border: 1px solid #ccd0d5;
              display: flex;
              align-items: center;
              position: relative;

              &:hover {
                background-color: #f5f6f7;
                border-color: #ccd0d5;
                color: #4b4f56;
              }

              .post_status_select {
                display: none;
                top: calc(100% + 2px);
                right: -1px;
                position: absolute;
                width: 228px;
                flex-direction: column;
                background-clip: padding-box;
                background-color: #fff;
                border: 1px solid rgba(0, 0, 0, 0.15);
                border-radius: 3px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

                .aisenhinthay_out {
                  padding: 5px 8px 5px 22px;
                  height: 32px;
                  display: flex;
                  align-items: center;

                  .aisenhinthay_in {
                    font-size: 13px;
                    color: #1d2129;
                  }
                }

                .status_modes {
                  display: flex;
                  flex-direction: column;

                  &>div {
                    cursor: pointer;
                    padding: 0 8px 0 22px;
                    border: solid #fff;
                    border-width: 1px 0;
                    color: #1d2129;
                    font-size: 12px;
                    font-weight: normal;
                    line-height: 22px;
                    display: flex;
                    background: #f5f6f7;

                    &:hover {
                      background: #4267b2;
                      color: white;
                    }

                    .mode_main_icon {
                      margin-top: 3px;
                      width: 16px;
                      height: 16px;
                      background-image: url(vcoa.png);
                      background-size: 64px 2156px;
                      background-repeat: no-repeat;
                    }

                    .mode_main_not_icon {
                      width: calc(100% - 16px);
                      display: flex;
                      flex-direction: column;

                      .mode_main_text {
                        margin-left: 8px;
                        font-family: "face";
                      }

                      .mode_detail {
                        margin-left: 8px;
                      }
                    }
                  }

                  .mode_1 {
                    .mode_main_icon {
                      background-position: -44px -1574px;
                    }

                    &:hover .mode_main_icon {
                      background-position: -44px -1592px;
                    }
                  }

                  .mode_2 {
                    .mode_main_icon {
                      background-position: -44px -1466px;
                    }

                    &:hover .mode_main_icon {
                      background-position: -44px -1484px;
                    }
                  }

                  .mode_3 {
                    border-bottom-left-radius: 3px;
                    border-bottom-right-radius: 3px;
                    border-bottom: 0;

                    .mode_main_icon {
                      background-position: 0 -1780px;
                    }

                    &:hover .mode_main_icon {
                      background-position: -18px -1780px;
                    }
                  }
                }
              }

              .post_status_icon {
                background-size: 64px 2156px;
                background-repeat: no-repeat;
                display: inline-block;
                background-image: url(vcoa.png);
                width: 16px;
                height: 16px;
                background-position: -44px -1574px;
              }

              .post_status_text {
                margin-left: 4px;
                font-size: 12px;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 700;
                line-height: 22px;
              }

              .post_status_arrow {
                margin-left: 4px;
                background-image: url(insai.png);
                background-size: 64px 1914px;
                background-repeat: no-repeat;
                display: inline-block;
                width: 9px;
                height: 8px;
                background-position: -47px -1462px;
              }
            }
          }
        }
      }
    }

    .post_upload {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      background: #fff;
      padding: 0px 12px 10px 12px;

      .post_upload_button {
        font-size: 12px;
        line-height: 22px;
        padding: 0 16px;
        height: 28px;
        width: 100%;
        background-color: #4267b2;
        border-color: #4267b2;
        color: #fff;
        transition: 200ms cubic-bezier(0.08, 0.52, 0.52, 1) background-color,
          200ms cubic-bezier(0.08, 0.52, 0.52, 1) box-shadow, 200ms cubic-bezier(0.08, 0.52, 0.52, 1) transform;
        border: 1px solid;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 2px;

        &:hover {
          background: #365799;
        }

        .post_upload_button_text {}
      }
    }
  }

  .watch_post {
    display: flex;
    flex-direction: column;

    .post {
      display: flex;
      width: 500px;
      background: #ffffff;
      border: 1px solid #dddfe2;
      border-radius: 3px;
      flex-direction: column;
      margin-top: 10px;

      .post_side {
        padding: 12px;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #e5e5e5;

        .post_content {
          display: flex;
          flex-direction: column;
          border-bottom: 1px solid #e5e5e5;

          .post_not_text {
            display: flex;
            justify-content: space-between;

            .post_not_text_left {
              display: flex;
              align-items: center;

              .post_ava {
                display: flex;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                overflow: hidden;
                cursor: pointer;
              }

              .post_not_ava {
                margin-left: 8px;
                display: flex;
                flex-direction: column;

                .post_user_name {
                  color: #385898;
                  cursor: pointer;
                  font-weight: 600;
                  font-size: 14px;

                  &:hover {
                    text-decoration: underline;
                  }
                }

                .post_time_and_mode {
                  display: flex;
                  align-items: center;

                  .post_time {
                    color: #616770;
                    font-size: 12px;
                  }

                  .post_mode_setting {
                    position: relative;
                    cursor: pointer;
                    margin-left: 5px;
                    display: flex;
                    border: 1px solid white;
                    padding: 5px 3px;
                    border-radius: 3px;

                    .post_mode_setting_setting {
                      display: none;
                      top: calc(100% + 2px);
                      right: -1px;
                      position: absolute;
                      width: 228px;
                      flex-direction: column;
                      background-clip: padding-box;
                      background-color: #fff;
                      border: 1px solid rgba(0, 0, 0, 0.15);
                      border-radius: 3px;
                      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

                      .aisenhinthay_out {
                        padding: 5px 8px 5px 22px;
                        height: 32px;
                        display: flex;
                        align-items: center;

                        .aisenhinthay_in {
                          font-size: 13px;
                          color: #1d2129;
                        }
                      }

                      .status_modes {
                        display: flex;
                        flex-direction: column;

                        &>div {
                          cursor: pointer;
                          padding: 0 8px 0 22px;
                          border: solid #fff;
                          border-width: 1px 0;
                          color: #1d2129;
                          font-size: 12px;
                          font-weight: normal;
                          line-height: 22px;
                          display: flex;
                          background: #f5f6f7;

                          &:hover {
                            background: #4267b2;
                            color: white;
                          }

                          .mode_main_icon {
                            margin-top: 3px;
                            width: 16px;
                            height: 16px;
                            background-image: url(vcoa.png);
                            background-size: 64px 2156px;
                            background-repeat: no-repeat;
                          }

                          .mode_main_not_icon {
                            width: calc(100% - 16px);
                            display: flex;
                            flex-direction: column;

                            .mode_main_text {
                              margin-left: 8px;
                              font-family: "face";
                            }

                            .mode_detail {
                              margin-left: 8px;
                            }
                          }
                        }

                        .mode_1 {
                          .mode_main_icon {
                            background-position: -44px -1574px;
                          }

                          &:hover .mode_main_icon {
                            background-position: -44px -1592px;
                          }
                        }

                        .mode_2 {
                          .mode_main_icon {
                            background-position: -44px -1466px;
                          }

                          &:hover .mode_main_icon {
                            background-position: -44px -1484px;
                          }
                        }

                        .mode_3 {
                          border-bottom-left-radius: 3px;
                          border-bottom-right-radius: 3px;
                          border-bottom: 0;

                          .mode_main_icon {
                            background-position: 0 -1780px;
                          }

                          &:hover .mode_main_icon {
                            background-position: -18px -1780px;
                          }
                        }
                      }
                    }

                    &:hover {
                      border: 1px solid #dddfe2;
                      background: #ebedf0;
                    }

                    align-items: center;

                    .post_mode_icon {
                      background-repeat: no-repeat;
                      height: 12px;
                      width: 12px;
                    }

                    .post_mode_icon_0 {
                      background-image: url(gaa.png) !important;
                      background-size: 53px 356px !important;
                      background-position: -40px -243px !important;
                    }

                    .post_mode_icon_1 {
                      background-image: url(wda.png) !important;
                      background-size: 64px 1914px !important;
                      background-position: -50px -484px !important;
                    }

                    .post_mode_icon_2 {
                      background-image: url(hdx.png) !important;
                      background-size: 25px 956px !important;
                      background-position: 0px -904px !important;
                    }

                    .post_mode_icon_0_clicked {
                      background-image: url(wda.png) !important;
                      background-size: 64px 1914px !important;
                      background-position: -50px -523px !important;
                    }

                    .post_mode_icon_1_clicked {
                      background-image: url(wda.png) !important;
                      background-size: 64px 1914px !important;
                      background-position: -50px -497px !important;
                    }

                    .post_mode_icon_2_clicked {
                      background-image: url(wda.png) !important;
                      background-size: 64px 1914px !important;
                      background-position: -50px -666px !important;
                    }

                    .post_status_arrow {
                      margin-left: 2px;
                      background-image: url(insai.png);
                      background-size: 64px 1914px;
                      background-repeat: no-repeat;
                      display: inline-block;
                      width: 9px;
                      height: 8px;
                      background-position: -47px -1462px;
                    }
                  }
                }
              }
            }

            .post_not_text_right {
              background-image: url(wda.png);
              background-repeat: no-repeat;
              background-size: 64px 1914px;
              background-position: -21px -1268px;
              height: 20px;
              width: 20px;
              position: relative;
              cursor: pointer;

              .post_setting {
                padding: 5px 0;
                display: none;
                position: absolute;
                width: 164px;
                top: 100%;
                right: 0;
                flex-direction: column;
                background-color: #fff;
                border: 1px solid rgba(0, 0, 0, 0.15);
                border-radius: 3px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

                .setting {
                  line-height: 22px;
                  padding: 0 12px;
                  font-size: 12px;
                  color: #1d2129;
                  border-top: 1px 0px solid transparent;

                  &:hover {
                    border-color: #29487d;
                    background: #4267b2;
                    color: white;
                  }
                }
              }
            }
          }

          .post_text {
            padding: 6px 0 12px 0;
            white-space: pre;
          }

          .post_image_contain {

            img {
              min-width: 474px;
              max-width: 100%;
              padding-bottom: 10px;
            }
          }

          .likes_and_posts {
            height: 28px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 16px;
            color: rgb(96, 103, 112);
            font-size: 14px;
            padding-bottom: 10px;

            .like_side {
              i {
                background-image: url(pn2.png);
                height: 18px;
                width: 18px;
                background-repeat: no-repeat;
                background-size: 97px 1406px;
                background-position: -38px -1302px;
                cursor: pointer;
              }

              .like_count {
                margin-left: 4px;
                cursor: pointer;
                display: flex;
                align-items: center;
              }

              display: flex;
            }

            .comment_side {
              display: flex;

              .comment_count {
                display: flex;

                .count_num {}

                .count_text {
                  margin-left: 4px;
                }
              }
            }
          }
        }

        .post_interact {
          display: flex;
          padding: 4px 0;

          &>div {
            cursor: pointer;
            width: 245px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
              background: #f2f2f2;
            }
          }

          .post_like {
            .post_like_inner {
              display: flex;
              align-items: center;

              .post_like_inner_icon {
                background-image: url(pn2.png);
                background-size: 97px 1406px;
                background-position: -38px -1283px;
                background-repeat: no-repeat;
                width: 18px;
                height: 18px;
              }

              .post_like_inner_text {
                margin-left: 6px;
                color: #606770;
                font-weight: 600;
                font-size: 14px;
              }

              .blue_text {
                color: rgb(32, 120, 244);
              }
            }
          }

          .post_cmt {
            .post_cmt_inner {
              display: flex;
              align-items: center;

              .post_cmt_inner_icon {
                background-image: url(wda.png);
                background-size: 64px 1914px;
                background-position: 0 -1415px;
                background-repeat: no-repeat;
                width: 18px;
                height: 18px;
              }

              .post_cmt_inner_text {
                margin-left: 6px;
                color: #606770;
                font-weight: 600;
                font-size: 14px;
              }
            }
          }
        }
      }

      .cmt_side {
        display: flex;
        flex-direction: column;
        padding: 0 12px 8px 12px;

        .read_comment {
          min-height: 8px;

          .comment_paginate {
            padding-top: 12px;
            cursor: pointer;
            font-size: 13px;
            color: #3b5b9a;

            &:hover {
              text-decoration: underline;
            }
          }

          .comment_show {
            margin: 4px 0;
            display: flex;
            flex-direction: column;

            .comment {
              .not_reply_side {
                display: flex;
                margin: 4px 0;

                .ava_side {
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  height: 32px;
                  width: 32px;
                  border-radius: 50%;
                  overflow: hidden;
                  cursor: pointer;
                }

                .not_ava_side {
                  margin-left: 6px;
                  display: flex;
                  flex-direction: column;

                  form {
                    width: calc(100% - 38px);
                    margin: 0;

                    .current_user_cmt_modify {
                      width: 100%;
                      margin-left: 6px;
                      line-height: 16px;
                      overflow: hidden;
                      padding: 8px 12px;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                      border-radius: 16px;
                      background: #f2f3f5;
                      border: 1px solid #ccd0d5;
                      font-size: 14px;
                      color: black;

                      &::placeholder {
                        font-size: 14px;
                        color: #8d949e;
                      }
                    }
                  }

                  .not_ava_side_comment {
                    display: flex;
                    align-items: center;

                    .not_setting {
                      display: flex;
                      flex-direction: column;
                      border-radius: 18px;
                      color: #1c1e21;
                      line-height: 16px;
                      word-break: break-word;
                      background-color: #f2f3f5;
                      margin: 0;
                      max-width: 385px;
                      padding: 8px 10px;
                      position: relative;

                      .user_name {
                        color: #385898;
                        font-size: 14px;
                        font-weight: 900;
                        cursor: pointer;
                        align-self: flex-start;

                        &:hover {
                          text-decoration: underline;
                        }
                      }

                      .user_comment {
                        font-size: 13px;
                      }
                    }

                    .comment_not_text_right {
                      margin-left: 6px;
                      background-image: url(wda.png);
                      background-repeat: no-repeat;
                      background-size: 64px 1914px;
                      background-position: -21px -1268px;
                      height: 20px;
                      width: 20px;
                      display: none;
                      position: relative;
                      cursor: pointer;

                      .comment_setting {
                        padding: 5px 0;
                        display: none;
                        position: absolute;
                        width: 164px;
                        top: 100%;
                        right: 0;
                        flex-direction: column;
                        background-color: #fff;
                        border: 1px solid rgba(0, 0, 0, 0.15);
                        border-radius: 3px;
                        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

                        .setting {
                          line-height: 22px;
                          padding: 0 12px;
                          font-size: 12px;
                          color: #1d2129;
                          border-top: 1px 0px solid transparent;

                          &:hover {
                            border-color: #29487d;
                            background: #4267b2;
                            color: white;
                          }
                        }
                      }
                    }

                    .show_comment_likes {
                      cursor: pointer;
                      position: absolute;
                      left: calc(100% - 6px);
                      top: calc(50% - 10px);
                      display: flex;
                      border-radius: 50%;
                      background: #fff;
                      border-radius: 10px;
                      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
                      color: #8d949e;
                      font-size: 11px;
                      font-weight: normal;
                      padding: 2px 4px 2px 2px;
                      align-items: center;

                      .like_icon {
                        background-image: url(pn2.png);
                        background-repeat: no-repeat;
                        background-size: 97px 1406px;
                        background-position: 0 -1357px;
                        height: 16px;
                        width: 16px;
                      }

                      .comment_like_count {
                        margin-left: 4px;
                        display: flex;
                        align-items: center;

                        .inner_comment_like_count {
                          height: 14px;
                        }
                      }
                    }
                  }

                  .not_ava_side_interact {
                    margin-top: 4px;
                    display: flex;
                    font-size: 12px;
                    color: #3b5b9a;
                    align-self: flex-start;

                    &>div {
                      margin-left: 10px;
                    }

                    .like {
                      cursor: pointer;

                      &:hover {
                        text-decoration: underline;
                      }
                    }

                    .rep {
                      cursor: pointer;

                      &:hover {
                        text-decoration: underline;
                      }
                    }

                    .time {
                      color: rgb(96, 103, 112);
                    }
                  }
                }
              }

              .reply_side {
                display: flex;
                flex-direction: column;
                margin: 4px 0;
                margin-left: 36px;

                .not_open {
                  font-size: 13px;
                  color: #385898;
                  display: flex;
                  align-items: center;
                  cursor: pointer;

                  &:hover>.reply_name {
                    text-decoration: underline;
                  }

                  i {
                    background-image: url(wke.png);
                    background-repeat: no-repeat;
                    background-size: 64px 1916px;
                    background-position: -45px -216px;
                    height: 9px;
                    position: relative;
                    width: 19px;
                  }

                  .reply_ava {
                    margin-left: 0px;
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    background: red;
                  }

                  .reply_name {
                    margin-left: 6px;
                  }

                  .last_reply_date {
                    margin-left: 10px;
                    color: #8d949e;
                  }
                }

                .open {
                  display: none;
                  flex-direction: column;

                  .hide_write_and_read_reply {
                    display: flex;
                    cursor: pointer;

                    &:hover div {
                      text-decoration: underline;
                    }

                    i {
                      background-image: url(wke.png);
                      background-repeat: no-repeat;
                      background-size: 64px 1916px;
                      background-position: -38px -161px;
                      height: 6px;
                      width: 20px;
                      position: relative;
                      margin-left: 6px;
                      align-self: center;
                    }

                    div {
                      margin-left: 6px;
                      color: #385898;
                      font-size: 13px;
                    }
                  }

                  .write_and_read_reply {
                    display: flex;
                    flex-direction: column;

                    .read_reply {
                      border-left: 2px solid #3578e5;
                      padding-left: 6px;

                      .reply {
                        display: flex;
                        margin: 4px 0;

                        .ava_side {
                          display: flex;
                          flex-direction: column;
                          align-items: flex-start;
                          height: 20px;
                          width: 20px;
                          border-radius: 50%;
                          background: greenyellow;
                          cursor: pointer;
                        }

                        .not_ava_side {
                          margin-left: 6px;
                          display: flex;
                          flex-direction: column;

                          form {
                            width: calc(100% - 38px);
                            margin: 0;

                            .current_user_cmt_modify {
                              width: 100%;
                              margin-left: 6px;
                              line-height: 16px;
                              overflow: hidden;
                              padding: 8px 12px;
                              text-overflow: ellipsis;
                              white-space: nowrap;
                              border-radius: 16px;
                              background: #f2f3f5;
                              border: 1px solid #ccd0d5;
                              font-size: 14px;
                              color: black;

                              &::placeholder {
                                font-size: 14px;
                                color: #8d949e;
                              }
                            }
                          }

                          .not_ava_side_comment {
                            display: flex;
                            align-items: center;

                            .not_setting {
                              display: flex;
                              flex-direction: column;
                              border-radius: 18px;
                              color: #1c1e21;
                              line-height: 16px;
                              word-break: break-word;
                              background-color: #f2f3f5;
                              margin: 0;
                              max-width: 385px;
                              padding: 8px 10px;
                              position: relative;

                              .user_name {
                                color: #385898;
                                font-size: 14px;
                                font-weight: 900;
                                cursor: pointer;
                                align-self: flex-start;

                                &:hover {
                                  text-decoration: underline;
                                }
                              }

                              .user_comment {
                                font-size: 13px;
                              }
                            }

                            .comment_not_text_right {
                              margin-left: 6px;
                              background-image: url(wda.png);
                              background-repeat: no-repeat;
                              background-size: 64px 1914px;
                              background-position: -21px -1268px;
                              height: 20px;
                              width: 20px;
                              display: none;
                              position: relative;
                              cursor: pointer;

                              .comment_setting {
                                padding: 5px 0;
                                display: none;
                                position: absolute;
                                width: 164px;
                                top: 100%;
                                right: 0;
                                flex-direction: column;
                                background-color: #fff;
                                border: 1px solid rgba(0, 0, 0, 0.15);
                                border-radius: 3px;
                                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

                                .setting {
                                  line-height: 22px;
                                  padding: 0 12px;
                                  font-size: 12px;
                                  color: #1d2129;
                                  border-top: 1px 0px solid transparent;

                                  &:hover {
                                    border-color: #29487d;
                                    background: #4267b2;
                                    color: white;
                                  }
                                }
                              }
                            }

                            .show_comment_likes {
                              cursor: pointer;
                              position: absolute;
                              left: calc(100% - 6px);
                              top: calc(50% - 10px);
                              display: flex;
                              border-radius: 50%;
                              background: #fff;
                              border-radius: 10px;
                              box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
                              color: #8d949e;
                              font-size: 11px;
                              font-weight: normal;
                              padding: 2px 4px 2px 2px;
                              align-items: center;

                              .like_icon {
                                background-image: url(pn2.png);
                                background-repeat: no-repeat;
                                background-size: 97px 1406px;
                                background-position: 0 -1357px;
                                height: 16px;
                                width: 16px;
                              }

                              .comment_like_count {
                                margin-left: 4px;
                                display: flex;
                                align-items: center;

                                .inner_comment_like_count {
                                  height: 14px;
                                }
                              }
                            }
                          }

                          .not_ava_side_interact {
                            margin-top: 4px;
                            display: flex;
                            font-size: 12px;
                            color: #3b5b9a;
                            align-self: flex-start;

                            &>div {
                              margin-left: 10px;
                            }

                            .like {
                              cursor: pointer;

                              &:hover {
                                text-decoration: underline;
                              }
                            }

                            .rep {
                              cursor: pointer;

                              &:hover {
                                text-decoration: underline;
                              }
                            }

                            .time {
                              color: rgb(96, 103, 112);
                            }
                          }
                        }
                      }
                    }

                    .write_reply {
                      display: flex;
                      align-self: stretch;
                      align-items: center;

                      .user_ava {
                        height: 20px;
                        width: 20px;
                        border-radius: 50%;
                        margin-left: 6px;
                        overflow: hidden;
                      }

                      form {
                        width: calc(100% - 32px);
                        margin: 0;
                        margin-top: 10px;

                        .user_cmt {
                          width: 100%;
                          margin-left: 6px;
                          line-height: 16px;
                          overflow: hidden;
                          padding: 8px 12px;
                          text-overflow: ellipsis;
                          white-space: nowrap;
                          border-radius: 16px;
                          background: #f2f3f5;
                          border: 1px solid #ccd0d5;
                          font-size: 14px;
                          color: black;

                          &::placeholder {
                            font-size: 14px;
                            color: #8d949e;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .write_comment {
          display: flex;
          align-self: stretch;

          .current_user_ava {
            height: 32px;
            width: 32px;
            border-radius: 50%;
            overflow: hidden;
          }

          form {
            width: calc(100% - 38px);
            margin: 0;

            .current_user_cmt {
              width: 100%;
              margin-left: 6px;
              line-height: 16px;
              overflow: hidden;
              padding: 8px 12px;
              text-overflow: ellipsis;
              white-space: nowrap;
              border-radius: 16px;
              background: #f2f3f5;
              border: 1px solid #ccd0d5;
              font-size: 14px;
              color: black;

              &::placeholder {
                font-size: 14px;
                color: #8d949e;
              }
            }
          }
        }
      }
    }
  }
}

.afterclick {
  background: #4267b2 !important;
  color: white !important;
  border-color: #4267b2 !important;
}

.modify_post_div {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 600;
  top: 0;
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;

  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.5;
  }

  .inner {
    margin-bottom: 10px;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    z-index: 11;
    position: absolute;
    width: 500px;
    background: #ffffff;
    box-shadow: 0 2px 26px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;

    .taobaiviet {
      border-bottom: 1px solid #dddfe2;
      width: 100%;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      background-color: #f5f6f7;
      font-weight: bold;
      display: flex;
      align-items: center;
      padding: 8px;
      justify-content: space-between;

      .inner_taobaiviet {
        font-size: 13px;
        font-weight: 600;
        line-height: 15px;
        color: #4b4f56;
      }

      svg {
        cursor: pointer;
        width: 12px;
        height: 12px;
      }
    }

    .noi_taobaiviet {
      padding: 0 12px;
      background-color: #ffffff;

      .inner_noi_taobaiviet {
        .content_taobaiviet {
          padding: 12px 0px;
          min-height: 71px;
          border-bottom: 1px solid #e9ebee;
          display: flex;
          flex-direction: column;

          .inner_content_taobaiviet {
            display: flex;
            align-items: center;

            .ava_content_taobaiviet {
              align-self: flex-start;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              overflow: hidden;
            }

            .content_content_taobaiviet {
              height: 20px;
              width: calc(100% - 52px);
              border: 0;
              margin-left: 12px;
              font-size: 15px;

              &::placeholder {
                font-size: 15px;
              }

              resize: none;
            }
          }
        }

        .attach_taobaiviet {
          padding: 8px 0px;

          .inner_attach {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .attach {
              border-radius: 16px;
              height: 32px;
              width: min-content;
              padding: 6px 15px 6px 10px;
              background: #f5f6f7;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;

              &:hover {
                background: #ebedf0;
              }

              .inner_attach {
                display: flex;
                align-items: center;
                justify-content: center;

                .attach_ava {
                  height: 20px;
                  width: 20px;
                  background-position: -21px -1079px;
                  background-size: 64px 1914px;
                  background-repeat: no-repeat;
                  background-image: url(insai.png);
                }

                .attach_text {
                  font-family: "face";
                  margin-left: 6px;
                  line-height: 32px;
                  color: #4b4f56;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  font-size: 12px;
                }
              }
            }

            .post_status {
              cursor: pointer;
              padding: 0 8px;
              color: black;
              height: 24px;
              border: 1px solid #ccd0d5;
              display: flex;
              align-items: center;
              position: relative;

              &:hover {
                background-color: #f5f6f7;
                border-color: #ccd0d5;
                color: #4b4f56;
              }

              .post_status_select {
                display: none;
                top: calc(100% + 2px);
                right: -1px;
                position: absolute;
                width: 228px;
                flex-direction: column;
                background-clip: padding-box;
                background-color: #fff;
                border: 1px solid rgba(0, 0, 0, 0.15);
                border-radius: 3px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

                .aisenhinthay_out {
                  padding: 5px 8px 5px 22px;
                  height: 32px;
                  display: flex;
                  align-items: center;

                  .aisenhinthay_in {
                    font-size: 13px;
                    color: #1d2129;
                  }
                }

                .status_modes {
                  display: flex;
                  flex-direction: column;

                  &>div {
                    cursor: pointer;
                    padding: 0 8px 0 22px;
                    border: solid #fff;
                    border-width: 1px 0;
                    color: #1d2129;
                    font-size: 12px;
                    font-weight: normal;
                    line-height: 22px;
                    display: flex;
                    background: #f5f6f7;

                    &:hover {
                      background: #4267b2;
                      color: white;
                    }

                    .mode_main_icon {
                      margin-top: 3px;
                      width: 16px;
                      height: 16px;
                      background-image: url(vcoa.png);
                      background-size: 64px 2156px;
                      background-repeat: no-repeat;
                    }

                    .mode_main_not_icon {
                      width: calc(100% - 16px);
                      display: flex;
                      flex-direction: column;

                      .mode_main_text {
                        margin-left: 8px;
                        font-family: "face";
                      }

                      .mode_detail {
                        margin-left: 8px;
                      }
                    }
                  }

                  .mode_1 {
                    .mode_main_icon {
                      background-position: -44px -1574px;
                    }

                    &:hover .mode_main_icon {
                      background-position: -44px -1592px;
                    }
                  }

                  .mode_2 {
                    .mode_main_icon {
                      background-position: -44px -1466px;
                    }

                    &:hover .mode_main_icon {
                      background-position: -44px -1484px;
                    }
                  }

                  .mode_3 {
                    border-bottom-left-radius: 3px;
                    border-bottom-right-radius: 3px;
                    border-bottom: 0;

                    .mode_main_icon {
                      background-position: 0 -1780px;
                    }

                    &:hover .mode_main_icon {
                      background-position: -18px -1780px;
                    }
                  }
                }
              }

              .post_status_icon {
                background-size: 64px 2156px;
                background-repeat: no-repeat;
                display: inline-block;
                background-image: url(vcoa.png);
                width: 16px;
                height: 16px;
                background-position: -44px -1574px;
              }

              .post_status_text {
                margin-left: 4px;
                font-size: 12px;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 700;
                line-height: 22px;
              }

              .post_status_arrow {
                margin-left: 4px;
                background-image: url(insai.png);
                background-size: 64px 1914px;
                background-repeat: no-repeat;
                display: inline-block;
                width: 9px;
                height: 8px;
                background-position: -47px -1462px;
              }
            }
          }
        }
      }
    }

    .post_upload {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      background: #fff;
      padding: 0px 12px 10px 12px;

      .post_upload_button {
        font-size: 12px;
        line-height: 22px;
        padding: 0 16px;
        height: 28px;
        width: 100%;
        background-color: #4267b2;
        border-color: #4267b2;
        color: #fff;
        transition: 200ms cubic-bezier(0.08, 0.52, 0.52, 1) background-color,
          200ms cubic-bezier(0.08, 0.52, 0.52, 1) box-shadow, 200ms cubic-bezier(0.08, 0.52, 0.52, 1) transform;
        border: 1px solid;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 2px;

        &:hover {
          background: #365799;
        }

        .post_upload_button_text {}
      }
    }
  }
}

.delete_post_div {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 600;
  top: 0;
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;

  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.5;
  }

  .inner {
    margin-bottom: 10px;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    z-index: 11;
    position: absolute;
    width: 500px;
    background: #ffffff;
    box-shadow: 0 2px 26px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;

    .taobaiviet {
      border-bottom: 1px solid #dddfe2;
      width: 100%;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      background-color: #f5f6f7;
      font-weight: bold;
      display: flex;
      align-items: center;
      padding: 8px;
      justify-content: space-between;

      .inner_taobaiviet {
        font-size: 13px;
        font-weight: 600;
        line-height: 15px;
        color: #4b4f56;
      }

      svg {
        cursor: pointer;
        width: 12px;
        height: 12px;
      }
    }

    .noi_taobaiviet {
      padding: 0 12px;
      background-color: #ffffff;

      .inner_noi_taobaiviet {
        .content_taobaiviet {
          padding: 12px 0px;
          border-bottom: 1px solid #e9ebee;
          display: flex;
          flex-direction: column;

          .inner_content_taobaiviet {
            font-size: 14px;
            display: flex;
            align-items: center;

            .ava_content_taobaiviet {
              align-self: flex-start;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              overflow: hidden;
            }

            .content_content_taobaiviet {
              height: 20px;
              width: calc(100% - 52px);
              border: 0;
              margin-left: 12px;
              font-size: 15px;

              &::placeholder {
                font-size: 15px;
              }

              resize: none;
            }
          }
        }

        .attach_taobaiviet {
          padding: 8px 0px;

          .inner_attach {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .attach {
              border-radius: 16px;
              height: 32px;
              width: min-content;
              padding: 6px 15px 6px 10px;
              background: #f5f6f7;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;

              &:hover {
                background: #ebedf0;
              }

              .inner_attach {
                display: flex;
                align-items: center;
                justify-content: center;

                .attach_ava {
                  height: 20px;
                  width: 20px;
                  background-position: -21px -1079px;
                  background-size: 64px 1914px;
                  background-repeat: no-repeat;
                  background-image: url(insai.png);
                }

                .attach_text {
                  font-family: "face";
                  margin-left: 6px;
                  line-height: 32px;
                  color: #4b4f56;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  font-size: 12px;
                }
              }
            }

            .post_status {
              cursor: pointer;
              padding: 0 8px;
              color: black;
              height: 24px;
              border: 1px solid #ccd0d5;
              display: flex;
              align-items: center;
              position: relative;

              &:hover {
                background-color: #f5f6f7;
                border-color: #ccd0d5;
                color: #4b4f56;
              }

              .post_status_select {
                display: none;
                top: calc(100% + 2px);
                right: -1px;
                position: absolute;
                width: 228px;
                flex-direction: column;
                background-clip: padding-box;
                background-color: #fff;
                border: 1px solid rgba(0, 0, 0, 0.15);
                border-radius: 3px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

                .aisenhinthay_out {
                  padding: 5px 8px 5px 22px;
                  height: 32px;
                  display: flex;
                  align-items: center;

                  .aisenhinthay_in {
                    font-size: 13px;
                    color: #1d2129;
                  }
                }

                .status_modes {
                  display: flex;
                  flex-direction: column;

                  &>div {
                    cursor: pointer;
                    padding: 0 8px 0 22px;
                    border: solid #fff;
                    border-width: 1px 0;
                    color: #1d2129;
                    font-size: 12px;
                    font-weight: normal;
                    line-height: 22px;
                    display: flex;
                    background: #f5f6f7;

                    &:hover {
                      background: #4267b2;
                      color: white;
                    }

                    .mode_main_icon {
                      margin-top: 3px;
                      width: 16px;
                      height: 16px;
                      background-image: url(vcoa.png);
                      background-size: 64px 2156px;
                      background-repeat: no-repeat;
                    }

                    .mode_main_not_icon {
                      width: calc(100% - 16px);
                      display: flex;
                      flex-direction: column;

                      .mode_main_text {
                        margin-left: 8px;
                        font-family: "face";
                      }

                      .mode_detail {
                        margin-left: 8px;
                      }
                    }
                  }

                  .mode_1 {
                    .mode_main_icon {
                      background-position: -44px -1574px;
                    }

                    &:hover .mode_main_icon {
                      background-position: -44px -1592px;
                    }
                  }

                  .mode_2 {
                    .mode_main_icon {
                      background-position: -44px -1466px;
                    }

                    &:hover .mode_main_icon {
                      background-position: -44px -1484px;
                    }
                  }

                  .mode_3 {
                    border-bottom-left-radius: 3px;
                    border-bottom-right-radius: 3px;
                    border-bottom: 0;

                    .mode_main_icon {
                      background-position: 0 -1780px;
                    }

                    &:hover .mode_main_icon {
                      background-position: -18px -1780px;
                    }
                  }
                }
              }

              .post_status_icon {
                background-size: 64px 2156px;
                background-repeat: no-repeat;
                display: inline-block;
                background-image: url(vcoa.png);
                width: 16px;
                height: 16px;
                background-position: -44px -1574px;
              }

              .post_status_text {
                margin-left: 4px;
                font-size: 12px;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 700;
                line-height: 22px;
              }

              .post_status_arrow {
                margin-left: 4px;
                background-image: url(insai.png);
                background-size: 64px 1914px;
                background-repeat: no-repeat;
                display: inline-block;
                width: 9px;
                height: 8px;
                background-position: -47px -1462px;
              }
            }
          }
        }
      }
    }

    .post_upload {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      background: #fff;
      padding: 12px 12px 10px 12px;
      display: flex;
      justify-content: flex-end;

      .post_upload_button {
        margin-left: 4px;
        font-size: 12px;
        line-height: 22px;
        padding: 0 8px;
        height: 28px;
        background-color: #4267b2;
        border-color: #4267b2;
        color: #fff;
        transition: 200ms cubic-bezier(0.08, 0.52, 0.52, 1) background-color,
          200ms cubic-bezier(0.08, 0.52, 0.52, 1) box-shadow, 200ms cubic-bezier(0.08, 0.52, 0.52, 1) transform;
        border: 1px solid;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 2px;

        &:hover {
          background: #365799;
        }

        .post_upload_button_text {}
      }

      .chinhsua {
        background-color: #f5f6f7;
        border-color: #ccd0d5;
        color: #4b4f56;

        &:hover {
          background: #ebedf0;
        }
      }
    }
  }
}

.delete_comment_div {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 600;
  top: 0;
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;

  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.5;
  }

  .inner {
    margin-bottom: 10px;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    z-index: 11;
    position: absolute;
    width: 500px;
    background: #ffffff;
    box-shadow: 0 2px 26px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;

    .taobaiviet {
      border-bottom: 1px solid #dddfe2;
      width: 100%;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      background-color: #f5f6f7;
      font-weight: bold;
      display: flex;
      align-items: center;
      padding: 8px;
      justify-content: space-between;

      .inner_taobaiviet {
        font-size: 13px;
        font-weight: 600;
        line-height: 15px;
        color: #4b4f56;
      }

      svg {
        cursor: pointer;
        width: 12px;
        height: 12px;
      }
    }

    .noi_taobaiviet {
      padding: 0 12px;
      background-color: #ffffff;

      .inner_noi_taobaiviet {
        .content_taobaiviet {
          padding: 12px 0px;
          border-bottom: 1px solid #e9ebee;
          display: flex;
          flex-direction: column;

          .inner_content_taobaiviet {
            font-size: 14px;
            display: flex;
            align-items: center;

            .ava_content_taobaiviet {
              align-self: flex-start;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              overflow: hidden;
            }

            .content_content_taobaiviet {
              height: 20px;
              width: calc(100% - 52px);
              border: 0;
              margin-left: 12px;
              font-size: 15px;

              &::placeholder {
                font-size: 15px;
              }

              resize: none;
            }
          }
        }

        .attach_taobaiviet {
          padding: 8px 0px;

          .inner_attach {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .attach {
              border-radius: 16px;
              height: 32px;
              width: min-content;
              padding: 6px 15px 6px 10px;
              background: #f5f6f7;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;

              &:hover {
                background: #ebedf0;
              }

              .inner_attach {
                display: flex;
                align-items: center;
                justify-content: center;

                .attach_ava {
                  height: 20px;
                  width: 20px;
                  background-position: -21px -1079px;
                  background-size: 64px 1914px;
                  background-repeat: no-repeat;
                  background-image: url(insai.png);
                }

                .attach_text {
                  font-family: "face";
                  margin-left: 6px;
                  line-height: 32px;
                  color: #4b4f56;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  font-size: 12px;
                }
              }
            }

            .post_status {
              cursor: pointer;
              padding: 0 8px;
              color: black;
              height: 24px;
              border: 1px solid #ccd0d5;
              display: flex;
              align-items: center;
              position: relative;

              &:hover {
                background-color: #f5f6f7;
                border-color: #ccd0d5;
                color: #4b4f56;
              }

              .post_status_select {
                display: none;
                top: calc(100% + 2px);
                right: -1px;
                position: absolute;
                width: 228px;
                flex-direction: column;
                background-clip: padding-box;
                background-color: #fff;
                border: 1px solid rgba(0, 0, 0, 0.15);
                border-radius: 3px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

                .aisenhinthay_out {
                  padding: 5px 8px 5px 22px;
                  height: 32px;
                  display: flex;
                  align-items: center;

                  .aisenhinthay_in {
                    font-size: 13px;
                    color: #1d2129;
                  }
                }

                .status_modes {
                  display: flex;
                  flex-direction: column;

                  &>div {
                    cursor: pointer;
                    padding: 0 8px 0 22px;
                    border: solid #fff;
                    border-width: 1px 0;
                    color: #1d2129;
                    font-size: 12px;
                    font-weight: normal;
                    line-height: 22px;
                    display: flex;
                    background: #f5f6f7;

                    &:hover {
                      background: #4267b2;
                      color: white;
                    }

                    .mode_main_icon {
                      margin-top: 3px;
                      width: 16px;
                      height: 16px;
                      background-image: url(vcoa.png);
                      background-size: 64px 2156px;
                      background-repeat: no-repeat;
                    }

                    .mode_main_not_icon {
                      width: calc(100% - 16px);
                      display: flex;
                      flex-direction: column;

                      .mode_main_text {
                        margin-left: 8px;
                        font-family: "face";
                      }

                      .mode_detail {
                        margin-left: 8px;
                      }
                    }
                  }

                  .mode_1 {
                    .mode_main_icon {
                      background-position: -44px -1574px;
                    }

                    &:hover .mode_main_icon {
                      background-position: -44px -1592px;
                    }
                  }

                  .mode_2 {
                    .mode_main_icon {
                      background-position: -44px -1466px;
                    }

                    &:hover .mode_main_icon {
                      background-position: -44px -1484px;
                    }
                  }

                  .mode_3 {
                    border-bottom-left-radius: 3px;
                    border-bottom-right-radius: 3px;
                    border-bottom: 0;

                    .mode_main_icon {
                      background-position: 0 -1780px;
                    }

                    &:hover .mode_main_icon {
                      background-position: -18px -1780px;
                    }
                  }
                }
              }

              .post_status_icon {
                background-size: 64px 2156px;
                background-repeat: no-repeat;
                display: inline-block;
                background-image: url(vcoa.png);
                width: 16px;
                height: 16px;
                background-position: -44px -1574px;
              }

              .post_status_text {
                margin-left: 4px;
                font-size: 12px;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 700;
                line-height: 22px;
              }

              .post_status_arrow {
                margin-left: 4px;
                background-image: url(insai.png);
                background-size: 64px 1914px;
                background-repeat: no-repeat;
                display: inline-block;
                width: 9px;
                height: 8px;
                background-position: -47px -1462px;
              }
            }
          }
        }
      }
    }

    .post_upload {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      background: #fff;
      padding: 12px 12px 10px 12px;
      display: flex;
      justify-content: flex-end;

      .post_upload_button {
        margin-left: 4px;
        font-size: 12px;
        line-height: 22px;
        padding: 0 8px;
        height: 28px;
        background-color: #4267b2;
        border-color: #4267b2;
        color: #fff;
        transition: 200ms cubic-bezier(0.08, 0.52, 0.52, 1) background-color,
          200ms cubic-bezier(0.08, 0.52, 0.52, 1) box-shadow, 200ms cubic-bezier(0.08, 0.52, 0.52, 1) transform;
        border: 1px solid;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 2px;

        &:hover {
          background: #365799;
        }

        .post_upload_button_text {}
      }

      .chinhsua_comment {
        background-color: #f5f6f7;
        border-color: #ccd0d5;
        color: #4b4f56;

        &:hover {
          background: #ebedf0;
        }
      }
    }
  }
}

.delete_reply_div {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 600;
  top: 0;
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;

  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.5;
  }

  .inner {
    margin-bottom: 10px;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    z-index: 11;
    position: absolute;
    width: 500px;
    background: #ffffff;
    box-shadow: 0 2px 26px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;

    .taobaiviet {
      border-bottom: 1px solid #dddfe2;
      width: 100%;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      background-color: #f5f6f7;
      font-weight: bold;
      display: flex;
      align-items: center;
      padding: 8px;
      justify-content: space-between;

      .inner_taobaiviet {
        font-size: 13px;
        font-weight: 600;
        line-height: 15px;
        color: #4b4f56;
      }

      svg {
        cursor: pointer;
        width: 12px;
        height: 12px;
      }
    }

    .noi_taobaiviet {
      padding: 0 12px;
      background-color: #ffffff;

      .inner_noi_taobaiviet {
        .content_taobaiviet {
          padding: 12px 0px;
          border-bottom: 1px solid #e9ebee;
          display: flex;
          flex-direction: column;

          .inner_content_taobaiviet {
            font-size: 14px;
            display: flex;
            align-items: center;

            .ava_content_taobaiviet {
              align-self: flex-start;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              overflow: hidden;
            }

            .content_content_taobaiviet {
              height: 20px;
              width: calc(100% - 52px);
              border: 0;
              margin-left: 12px;
              font-size: 15px;

              &::placeholder {
                font-size: 15px;
              }

              resize: none;
            }
          }
        }

        .attach_taobaiviet {
          padding: 8px 0px;

          .inner_attach {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .attach {
              border-radius: 16px;
              height: 32px;
              width: min-content;
              padding: 6px 15px 6px 10px;
              background: #f5f6f7;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;

              &:hover {
                background: #ebedf0;
              }

              .inner_attach {
                display: flex;
                align-items: center;
                justify-content: center;

                .attach_ava {
                  height: 20px;
                  width: 20px;
                  background-position: -21px -1079px;
                  background-size: 64px 1914px;
                  background-repeat: no-repeat;
                  background-image: url(insai.png);
                }

                .attach_text {
                  font-family: "face";
                  margin-left: 6px;
                  line-height: 32px;
                  color: #4b4f56;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  font-size: 12px;
                }
              }
            }

            .post_status {
              cursor: pointer;
              padding: 0 8px;
              color: black;
              height: 24px;
              border: 1px solid #ccd0d5;
              display: flex;
              align-items: center;
              position: relative;

              &:hover {
                background-color: #f5f6f7;
                border-color: #ccd0d5;
                color: #4b4f56;
              }

              .post_status_select {
                display: none;
                top: calc(100% + 2px);
                right: -1px;
                position: absolute;
                width: 228px;
                flex-direction: column;
                background-clip: padding-box;
                background-color: #fff;
                border: 1px solid rgba(0, 0, 0, 0.15);
                border-radius: 3px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

                .aisenhinthay_out {
                  padding: 5px 8px 5px 22px;
                  height: 32px;
                  display: flex;
                  align-items: center;

                  .aisenhinthay_in {
                    font-size: 13px;
                    color: #1d2129;
                  }
                }

                .status_modes {
                  display: flex;
                  flex-direction: column;

                  &>div {
                    cursor: pointer;
                    padding: 0 8px 0 22px;
                    border: solid #fff;
                    border-width: 1px 0;
                    color: #1d2129;
                    font-size: 12px;
                    font-weight: normal;
                    line-height: 22px;
                    display: flex;
                    background: #f5f6f7;

                    &:hover {
                      background: #4267b2;
                      color: white;
                    }

                    .mode_main_icon {
                      margin-top: 3px;
                      width: 16px;
                      height: 16px;
                      background-image: url(vcoa.png);
                      background-size: 64px 2156px;
                      background-repeat: no-repeat;
                    }

                    .mode_main_not_icon {
                      width: calc(100% - 16px);
                      display: flex;
                      flex-direction: column;

                      .mode_main_text {
                        margin-left: 8px;
                        font-family: "face";
                      }

                      .mode_detail {
                        margin-left: 8px;
                      }
                    }
                  }

                  .mode_1 {
                    .mode_main_icon {
                      background-position: -44px -1574px;
                    }

                    &:hover .mode_main_icon {
                      background-position: -44px -1592px;
                    }
                  }

                  .mode_2 {
                    .mode_main_icon {
                      background-position: -44px -1466px;
                    }

                    &:hover .mode_main_icon {
                      background-position: -44px -1484px;
                    }
                  }

                  .mode_3 {
                    border-bottom-left-radius: 3px;
                    border-bottom-right-radius: 3px;
                    border-bottom: 0;

                    .mode_main_icon {
                      background-position: 0 -1780px;
                    }

                    &:hover .mode_main_icon {
                      background-position: -18px -1780px;
                    }
                  }
                }
              }

              .post_status_icon {
                background-size: 64px 2156px;
                background-repeat: no-repeat;
                display: inline-block;
                background-image: url(vcoa.png);
                width: 16px;
                height: 16px;
                background-position: -44px -1574px;
              }

              .post_status_text {
                margin-left: 4px;
                font-size: 12px;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 700;
                line-height: 22px;
              }

              .post_status_arrow {
                margin-left: 4px;
                background-image: url(insai.png);
                background-size: 64px 1914px;
                background-repeat: no-repeat;
                display: inline-block;
                width: 9px;
                height: 8px;
                background-position: -47px -1462px;
              }
            }
          }
        }
      }
    }

    .post_upload {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      background: #fff;
      padding: 12px 12px 10px 12px;
      display: flex;
      justify-content: flex-end;

      .post_upload_button {
        margin-left: 4px;
        font-size: 12px;
        line-height: 22px;
        padding: 0 8px;
        height: 28px;
        background-color: #4267b2;
        border-color: #4267b2;
        color: #fff;
        transition: 200ms cubic-bezier(0.08, 0.52, 0.52, 1) background-color,
          200ms cubic-bezier(0.08, 0.52, 0.52, 1) box-shadow, 200ms cubic-bezier(0.08, 0.52, 0.52, 1) transform;
        border: 1px solid;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 2px;

        &:hover {
          background: #365799;
        }

        .post_upload_button_text {}
      }

      .chinhsua_comment {
        background-color: #f5f6f7;
        border-color: #ccd0d5;
        color: #4b4f56;

        &:hover {
          background: #ebedf0;
        }
      }
    }
  }
}

.post_like_div {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 600;
  top: 0;
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;

  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.5;
  }

  .inner {
    margin-bottom: 10px;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    z-index: 11;
    position: absolute;
    width: 445px;
    padding: 0 12px;
    background: #ffffff;
    box-shadow: 0 2px 26px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    display: flex;
    flex-direction: column;

    .react_side {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      svg {
        width: 13px;
        height: 13px;
        cursor: pointer;
      }

      .inner_react_side {
        font-size: 13px;
        color: #8d8d8d;
        display: flex;
        align-items: center;

        .text {}

        .data {
          margin-left: 5px;
        }

        .count_icon {
          margin-left: 5px;
          background-image: url(pn2.png);
          height: 18px;
          width: 18px;
          background-repeat: no-repeat;
          background-size: 97px 1406px;
          background-position: -38px -1302px;
        }
      }
    }

    .user_side {
      height: 427px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;

      .users_who_like {
        display: flex;

        .left_side {
          padding: 12px 0px;

          .user_ava {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
          }
        }

        .right_side {
          padding: 12px 0px;
          width: calc(100% - 56px);
          margin-left: 16px;
          display: flex;
          align-items: center;
          border-bottom: 1px solid #dddfe2;

          .user_name {
            color: #1d2129;
            font-size: 14px;
            line-height: 18px;
          }
        }

        &:last-child {
          .right_side {
            border: 0;
          }
        }
      }
    }
  }
}

.comment_like_div {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 600;
  top: 0;
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;

  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.5;
  }

  .inner {
    margin-bottom: 10px;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    z-index: 11;
    position: absolute;
    width: 445px;
    padding: 0 12px;
    background: #ffffff;
    box-shadow: 0 2px 26px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    display: flex;
    flex-direction: column;

    .react_side {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      svg {
        width: 13px;
        height: 13px;
        cursor: pointer;
      }

      .inner_react_side {
        font-size: 13px;
        color: #8d8d8d;
        display: flex;
        align-items: center;

        .text {}

        .data {
          margin-left: 5px;
        }

        .count_icon {
          margin-left: 5px;
          background-image: url(pn2.png);
          height: 18px;
          width: 18px;
          background-repeat: no-repeat;
          background-size: 97px 1406px;
          background-position: -38px -1302px;
        }
      }
    }

    .user_side {
      height: 427px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;

      .users_who_like {
        display: flex;

        .left_side {
          padding: 12px 0px;

          .user_ava {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
          }
        }

        .right_side {
          padding: 12px 0px;
          width: calc(100% - 56px);
          margin-left: 16px;
          display: flex;
          align-items: center;
          border-bottom: 1px solid #dddfe2;

          .user_name {
            color: #1d2129;
            font-size: 14px;
            line-height: 18px;
          }
        }

        &:last-child {
          .right_side {
            border: 0;
          }
        }
      }
    }
  }
}

.reply_like_div {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 600;
  top: 0;
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;

  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.5;
  }

  .inner {
    margin-bottom: 10px;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    z-index: 11;
    position: absolute;
    width: 445px;
    padding: 0 12px;
    background: #ffffff;
    box-shadow: 0 2px 26px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    display: flex;
    flex-direction: column;

    .react_side {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      svg {
        width: 13px;
        height: 13px;
        cursor: pointer;
      }

      .inner_react_side {
        font-size: 13px;
        color: #8d8d8d;
        display: flex;
        align-items: center;

        .text {}

        .data {
          margin-left: 5px;
        }

        .count_icon {
          margin-left: 5px;
          background-image: url(pn2.png);
          height: 18px;
          width: 18px;
          background-repeat: no-repeat;
          background-size: 97px 1406px;
          background-position: -38px -1302px;
        }
      }
    }

    .user_side {
      height: 427px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;

      .users_who_like {
        display: flex;

        .left_side {
          padding: 12px 0px;

          .user_ava {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
          }
        }

        .right_side {
          padding: 12px 0px;
          width: calc(100% - 56px);
          margin-left: 16px;
          display: flex;
          align-items: center;
          border-bottom: 1px solid #dddfe2;

          .user_name {
            color: #1d2129;
            font-size: 14px;
            line-height: 18px;
          }
        }

        &:last-child {
          .right_side {
            border: 0;
          }
        }
      }
    }
  }
}