$red: green;

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
}

/*==========MAIN_BAR==========*/
.fr_request_count {
  display: flex;
  position: absolute;
  z-index: 3;
  top: 7px;
  margin-left: 16px;
}

#fr_request_count_value {
  display: inline-block;
  font-size: 9px;
  line-height: 1.5;
  min-height: 13px;
  background-color: #fa3e3e;
  border-radius: 2px;
  color: #fff;
  padding: 1px 3.2px;
}

.main_bar {
  z-index: 4;
  height: 42px;
  width: 100%;
  top: 0;
  background-color: #4267b2;
  color: white;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 205px;
}

.main_bar_inside {
  margin: 0 auto;
  width: 1012px;
  display: flex;
  justify-content: space-between;
}

.bar_search_side {
  display: flex;
  align-items: center;
}

.bar_search_place {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-sizing: border-box;
  height: 24px;
  margin-top: 0;
  max-width: 448px;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 48px;
  width: 400px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 15px;
  margin-left: 5px;
}

.bar_search_place::placeholder {
  font-size: 14px;
}

.bar_search_icon {
  border: 0;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 46px;
  height: 24px;
  padding-bottom: 1px;
  background-color: #f5f6f7;
  @include center;
  cursor: pointer;
}

.bar_search_f_icon {
  background-image: url(insai.png);
  background-repeat: no-repeat;
  background-size: 64px 1914px;
  background-position: 0 -455px;
  height: 24px;
  width: 24px;
}

.bar_search_icon i {
  font-size: 13px;
}

.bar_user_side {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.bar_user_side>div:not(:last-child) {
  padding: 0px 15px;
  border-right: 0.5px #3b5ca0 solid;
}

.profile_ava {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  overflow: hidden;
}

.bar_user_profile {
  align-items: center;
  display: flex;
  cursor: pointer;
  height: 28px;
  padding-left: 0 !important;
}

.bar_user_home {
  cursor: pointer;
  align-items: center;
  display: flex;
  height: 28px;
  color: inherit;
}

.bar_user_home>a {
  cursor: pointer;
  align-items: center;
  display: flex;
  height: 28px;
  color: inherit;
}

.bar_user_profile:hover,
.bar_user_home:hover {
  background-color: #3b5ca0;
  border-radius: 3px;
}

.profile_name {
  margin-left: 10px;

  a {
    color: inherit;
  }
}

.bar_user_f_icon {
  background-image: url(face_icons.png);
  background-repeat: no-repeat;
  background-size: 283px 396px;
  background-position: 0px -354px;
  height: 24px;
  width: 24px;
}

.outside_icon {
  position: relative;
}

.bar_user_m_icon {
  background-image: url(face_icons.png);
  background-repeat: no-repeat;
  background-size: 283px 396px;
  background-position: -50px -354px;
  height: 24px;
  width: 24px;
}

.number_of_unknown_m_10 {
  position: absolute;
  background-color: #fa3e3e;
  border-radius: 2px;
  color: #fff;
  padding: 1px 3px;
  font-size: 10px;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 1.3;
  min-height: 13px;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.number_of_unknown_m_100 {
  right: -7px;
}

.bar_user_n_icon {
  background-image: url(face_icons.png);
  background-repeat: no-repeat;
  background-size: 283px 396px;
  background-position: -175px -329px;
  height: 24px;
  width: 24px;
}

.bar_user_s_icon {
  background-image: url(face_icons.png);
  background-repeat: no-repeat;
  background-size: 283px 396px;
  background-position: -225px -329px;
  height: 24px;
  width: 24px;
}

.lighting,
.icon_noti_1,
.icon_noti_2 {
  opacity: 1 !important;
}

.bar_icons {
  opacity: 0.5;
}

.bar_icons {
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.bar_user_boxes {
  flex-direction: column;
  background: #fff;
  border: 1px solid rgba(100, 100, 100, 0.4);
  border-radius: 0 0 2px 2px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  color: #1d2129;
  position: absolute;
  top: 33px;
  width: 432px;
  height: 613px;
  margin-left: -340px;
  display: none;
  z-index: 5;
  align-items: space-between;
}

.m_box {
  .m_box_top {
    display: flex;
    background-color: #fff;
    border-bottom: solid 1px #dddfe2;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 8px 12px 6px;
    justify-content: flex-start;
    height: 32px;

    .gan_day {
      color: #1d2129;
      font-weight: 900;
      padding-right: 0;
      font-family: "face";
      font-size: 13px;
    }
  }

  .m_box_mid {
    overflow-y: scroll;
    height: 549px;

    .mid_boxes {
      position: relative;
      cursor: pointer;
      width: 100%;
      height: 61px;
      border-bottom: 1px solid #dddfe2;
      padding: 6px 16px 6px 12px;
      color: #1d2129;
      display: flex;
      justify-content: space-between;

      .mid_left {
        display: flex;
        width: 100%;

        .mid_left_left {
          height: 48px;
          width: 48px;
          border-radius: 50%;
          background-color: #ff4444;
          margin-right: 12px;
        }

        .mid_left_mid {
          width: calc(100% - 60px);
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: 13px;

          .mid_mid_not_message {
            display: flex;
            justify-content: space-between;

            .mid_mid_name {
              font-family: "face";
            }

            .mid_mid_status {
              display: flex;
              align-items: center;

              .online_icon {
                background-image: url(face_icons.png);
                background-repeat: no-repeat;
                background-size: 283px 394px;
                background-position: -155px -359px;
                height: 8px;
                width: 8px;
              }
            }
          }

          .mid_mid_message {
            display: flex;

            .received_message_wrapper {
              display: flex;
              align-items: center;
              margin-right: 4px;

              .received_message {
                background-image: url(face_icons_1.png);
                background-repeat: no-repeat;
                background-size: 92px 1328px;
                background-position: -75px -1305px;
                height: 9px;
                width: 9px;
                color: #90949c;
              }
            }

            i {
              margin-right: 4px;
              font-size: 9px;
              color: #90949c;
              display: flex;
              align-items: center;
            }

            .last_message {
              word-break: break-all;
              white-space: nowrap;
              width: 342px;
              overflow: hidden !important;
              text-overflow: ellipsis;
            }
          }
        }
      }

      .mid_right {
        display: flex;
        align-items: flex-start;
        color: #90949c;
        font-size: 13px;
      }
    }

    .mid_boxes:hover {
      background-color: #f6f6f7;
    }

    .not_know {
      background-color: #edf2fa;
    }

    .not_know:hover {
      background-color: #e5eaf2;
    }

    .mid_boxes:nth-child(9) {
      border-bottom: 0;
    }
  }

  .m_box_bot {
    display: flex;
    background-color: #fff;
    border-top: solid 1px #dddfe2;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 8px 12px 8px;
    justify-content: space-between;
    height: 32px;

    a {
      font-size: 13px;
      display: flex;
      align-items: center;
      color: #385898;
      cursor: pointer;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

.mid_mid_top {
  display: flex;
}

.mid_mid_status {
  display: flex;
  align-items: center;
  margin-right: 8px;

  .online_icon {
    background-image: url(face_icons.png);
    background-repeat: no-repeat;
    background-size: 283px 394px;
    margin-left: 8px;
    background-position: -155px -359px;
    height: 8px;
    width: 8px;
  }
}

.hidden {
  display: none;
}

.show {
  display: flex;
}

.bar_arrows {
  background-image: url(face_icons.png);
  background-repeat: no-repeat;
  background-size: 283px 396px;
  background-position: -166px -251px;
  height: 10px;
  position: absolute;
  z-index: 7;
  margin-left: 2px;
  width: 20px;
  display: none;
}

.bar_user_icon_wrapper {
  display: flex;
}

.bar_user_icon_wrapper>div:not(:first-child) {
  margin-left: 10px;
}

.s_box {
  width: 214px;
  height: auto;
  margin-left: -140px;
  border-radius: 3px;
}

.s_box>a {
  cursor: pointer;
  color: black;
  padding: 0 34px;
  line-height: 26px;
  font-size: 12px;
}

.s_box>a:hover {
  color: white;
  background-color: #4267b2;
}

.s_box>a:last-child:hover {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

/*==========CHAT_BAR==========*/
.chat_bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 42px);
  width: 205px;
  right: 0;
  top: 42px;
  box-shadow: 1px 0 0 #f0f0f2;
  border-left: 1px solid #ccc;
  background: #e9ebee;
}

.chat_search {
  color: #bec3c9;
  display: flex;
  align-items: center;
  bottom: 0;
  width: 204px;
  height: 37px;
  background: #f5f6f7;
  font-size: 14px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 0px 10px;
}

.chat_search>* {
  height: 100%;
}

.chat_search i {
  height: auto;
}

.chat_search input {
  margin-left: 5px;
  font-size: 14px;
  border: 0;
  background-color: transparent;
}

.friends {
  padding: 5px 10px;
  line-height: 32px;
  font-size: 13px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat_bar_not_online_icon {
  display: flex;
}

.friends:hover {
  background-color: #dddfe2;
}

.friends_name {
  margin-left: 8px;
}

.friends_name,
.friends_ava {
  pointer-events: none;
}

.chat_wrapper {
  z-index: 5;
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  pointer-events: none;
  bottom: 0;
  right: 205px;
  overflow-x: hidden;
  max-width: 900px;
  justify-content: flex-end;
  padding-left: 2px;
  padding-top: 2px;
}

.chat_boxes {
  pointer-events: auto;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.chat_boxes_top {
  width: 284px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 44px;
  padding: 8px 10px 7px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat_boxes_top,
.not_chatting_box,
.chat_boxes {
  border-radius: 8px 8px 0 0;
}

.chat_boxes_top:hover,
.not_chatting_box:hover {
  background-color: #f2f3f5;
  transition: background-color 0.1s;
  border-radius: 8px 8px 0 0;
}

.chat_boxes_middle {
  width: 284px;
  margin-top: 2px;
  height: 274px;
  overflow-y: scroll;
  overflow-x: hidden;
  color: black;
  padding: 4px 16px 5px 8px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.ban_dang_co {
  position: absolute;
}

.top_not_seen {
  position: relative;
  background-color: #0084ff;

  .chat_name {
    color: #eeeeee;
  }

  .chat_status {
    color: #eeeeee;
  }

  i {
    color: #eeeeee;
  }

  .ban_dang_co {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 30px;
    top: 100%;
    left: 0;
    background-color: red;
  }
}

.top_not_seen:hover {
  .chat_name {
    color: black;
  }

  .chat_status {
    color: #90949c;
  }
}

.chat_boxes_bottom {
  width: 284px;
  border-top: 1px solid #c9d0da;
  font-size: 13px;
  height: 40px;
  padding: 10px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat_boxes_bottom>form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  height: 100%;
}

.chat_boxes_top_profile {
  display: flex;
  align-items: center;
}

.top_profile_ava {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
}

.top_profile_name_status {
  margin-left: 9px;
  color: black;
  display: flex;
  flex-direction: column;
}

.chat_name {
  font-weight: 900;
  font-size: 14px;
  color: inherit;
  align-self: flex-start;
}

.chat_name:hover {
  text-decoration: underline;
}

.chat_status {
  font-size: 12px;
  line-height: 16px;
  height: 14px;
  color: rgb(144, 148, 156);
  font-weight: 100;
}

.input-text {
  height: 100%;
  width: 100%;
  border: 0;
  font-size: 15px;
}

.not_chatting_box {
  height: 43px;
  width: 180px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  height: 37px;
  padding: 8px 10px 7px 8px;
  justify-content: space-between;
  align-items: center;
  display: none;
}

.not_chatting_box .top_profile_ava {
  height: 20px;
  width: 20px;
}

.not_chatting_box .chat_name {
  font-size: 13px;
  color: inherit;
}

.friend_messages_wrapper,
.current_user_messages_wrapper {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.friend_messages_wrapper {
  flex-direction: row;
}

.friend_ava {
  height: 28px;
  width: 28px;
  background: #ff4444;
  border-radius: 50%;
  align-self: flex-end;
}

.friend_not_ava {
  margin-left: 13px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.current_user_messages_wrapper {
  align-self: flex-end;
  align-items: flex-end;
}

.friend_messages {
  background-color: #f1f0f0;
  color: black;
}

.current_user_messages {
  background-color: #0084ff;
  color: white;
}

.friend_messages,
.current_user_messages {
  position: relative;
  min-height: 28px;
  line-height: 16px;
  padding: 6px 10px;
  margin-top: 1px;
  border-radius: 5px;
  max-width: 173px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.friend_messages>div:last-child,
.current_user_messages>div:last-child {
  word-break: break-all;
}

.friend_messages_tail {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #f1f0f0;
  position: absolute;
  z-index: 2;
  width: 20px;
  left: 0;
  margin-left: -20px;
  bottom: 8px;
}

.current_user_messages_tail {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #0084ff;
  position: absolute;
  z-index: 2;
  width: 20px;
  right: 0;
  margin-right: -20px;
  bottom: 8px;
}

.hidden_button {
  display: none;
}

.seen_at {
  padding-top: 5px;
  clear: both;
  color: #90949c;
  font-size: 12px;
  display: flex;
  align-items: center;
  max-width: 300px;
}

.seen_at>i {
  font-size: 12px;
  max-width: 300px;
}

.seen_at>div {
  margin-left: 4px;
  max-width: 300px;
}

.current_user_messages_created_at,
.friend_messages_created_at {
  display: none;
  background: black;
  color: white;
  padding: 6px 10px;
  border-radius: 3px;
  position: fixed;
  min-width: 56px;
  min-height: 28px;
  font-size: 14px;
  line-height: 16px;
}

.current_user_messages_created_at {
  left: 0;
  top: 0;
}

.friend_messages_created_at {
  left: 60px;
  top: 0;
}

.current_user_hover_tail {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid black;
  position: absolute;
  left: -5px;
  top: 10px;
}

.friend_hover_tail {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid black;
  position: absolute;
  right: -5px;
  top: 10px;
}

.half_h {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 5px;
  width: 261px;
}

.inner_half_h {
  color: #bec3c9;
  font-size: 11px;
  font-weight: 600;
}

.friends_list {
  height: calc(100% - 42px);
  color: black;
  overflow-y: auto;
}