h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  border: none;
}

#profile_page {
  height: 100vh;
  width: 100vw;
  margin-top: 42px;
}

.profile-container {
  display: block;
  min-height: 1027px;
  width: 981px;
  padding-right: 205px;
  margin: 0px auto;
}

.profile-clearfix {
  position: relative;
  width: 851px !important;
  height: 100%;
  margin-right: -1px;
  outline: none;
  padding-left: 1px;
  word-wrap: break-word;
}

.profile-header {
  border: 1px solid #d3d6db;
  border-radius: 0 0 3px 3px;
  margin-bottom: 12.5px;
  height: 359px;
  position: relative;
  background-color: #fff;
}

.cover-wrap {
  display: block;
  position: relative;
  height: 315px;
  overflow: hidden;
  text-decoration: none;
  z-index: 1;
  cursor: pointer;
}

.cover-wrap img {
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
}

.bg-for-cover-img {
  border: 1px solid #000;
  border-color: rgba(0, 0, 0, 0.25);
  border-top-color: rgba(0, 0, 0, 0.1);
  bottom: 44px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(rgba(0, 0, 0, 0) 71%, rgba(0, 0, 0, 0.53));
}

.change-cover-img {
  left: 20px;
  position: absolute;
  top: 15px;
  z-index: 2;
}

.change-cover-img a {
  cursor: pointer;
  height: 34px;
  position: absolute;
}

#change_icon,
#change_ava_icon {
  display: inline-block;
  left: 5px;
  opacity: 0.7;
  position: absolute;
  top: 8px;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 1;
  background-image: url(/assets/icon_facebook.png);
  background-size: 27px 1030px;
  background-repeat: no-repeat;
  width: 26px;
  height: 21px;
  background-position: 0 0;
}

.change-cover-title {
  background-clip: padding-box;
  background-color: #000;
  border: 1px solid #fff;
  border-color: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  opacity: 0;
  overflow: hidden;
  padding: 6px 12px;
  position: relative;
  top: 3px;
  white-space: nowrap;
  height: 29px;
  width: 150px;
  word-wrap: normal;
}

.change-cover-inner {
  -webkit-font-smoothing: antialiased;
  padding-left: 26px;
  position: absolute;
  top: 7px;
  font-weight: 600;
  font-size: 12px;
}

.profile-cover:hover #change_icon {
  opacity: 0.9;
  transform: scale(0.75);
}

.profile-cover:hover .change-cover-title {
  opacity: 0.8;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), width 0.3s step-start;
}

.avatar-cover {
  display: flex;
  flex-direction: column;
  padding: 1px;
  position: relative;
  box-shadow: none;
  height: 166px;
  width: 166px;
  left: 20px;
  margin-top: 0;
  top: -188px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.15);
  overflow: hidden;
  z-index: 1;
}

.avatar-contain {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 100%;
  border: 4px solid #fff;
}

#personal_ava,
#friend_ava {
  width: 100%;
  min-width: 161px;
  min-height: 161px;
  position: relative;
  top: -4px;
  left: -2px;
}

.update-avatar {
  display: flex;
  overflow: hidden;
  width: 156px;
  height: 80px;
  position: absolute;
  left: 5px;
  bottom: -84px;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.774) 0%, rgba(0, 0, 0, 0.664) 100%);
  transition: all 0.1s ease-in-out;
  z-index: -1;
  opacity: 0;
}

.update-avatar:hover {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.836) 0%, rgba(0, 0, 0, 0.952) 100%);
}

.ava_upload_popup {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  margin: auto;
  padding: 20px 0 0 0;
  text-align: center;
  vertical-align: middle;
  max-width: 120px;
  width: 100%;
}

.avatar-cover:hover .update-avatar {
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  bottom: 5px;
  opacity: 1;
  z-index: 1;
}

#change_ava_icon {
  left: 67px;
  top: 19px;
  transition: all 0.16s ease-in-out;
}

.avatar-cover:hover #change_ava_icon {
  opacity: 0.9;
  transform: scale(0.75);
}

.profile-function-bar {
  display: flex;
  padding-left: 201px;
  position: relative;
}

.drop-down-arrow {
  background-image: url(/assets/profile_symbol);
  background-size: 33px 315px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 8px;
  height: 5px;
  background-position: -23px -89px;
  margin: 0 0 1.5px 2px;
}

.profile-function-list {
  display: flex;
  border-left: 1px solid #e9eaed;
  list-style-type: none;
}

.profile-function-list .b-r {
  border-right: 1px solid #e9eaed;
  display: flex;
}

.profile-function-item {
  color: #385898;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 3.05;
  padding: 0 17px;
}

.profile-function-list .b-r:hover {
  background: #f5f6f7;
}

#list_view_icon {
  margin-right: 8px;
  margin-top: -2px;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  background-position: -13px -978px;
  background-image: url(/assets/icon_facebook_2.png);
  background-size: 27px 1030px;
  background-repeat: no-repeat;
  display: inline-block;
}

#grid_view_icon {
  width: 12px;
  height: 12px;
  background-position: 0 -978px;
  background-image: url(/assets/icon_facebook_2.png);
  background-size: 27px 1030px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 8px;
  margin-top: -2px;
  vertical-align: middle;
}

.open-menu-more,
.open-menu-timeline {
  position: relative;
}

.dropdown-menu-1,
.dropdown-menu-2 {
  display: none;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  top: 42px;
  width: 98.286px;
  background-color: #fff;
  border: 1px solid #d3d6db;
  z-index: -1;
}

.dropdown-menu-1 {
  left: -1px;
}

.dropdown-menu-2 {
  min-width: 120px;
  left: -1px;
}

.follow_message_dom {
  display: flex;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 2px;
}

.follow_message_contain {
  margin-left: 12px;
}

.profile-function-item:hover .dropdown-menu-1 {
  display: block;
  z-index: 5;
}

.menu-view-item {
  border: 0;
  color: #3b5998;
  display: block;
  font-size: 11px;
  -webkit-font-smoothing: auto;
  font-weight: normal;
  line-height: 23px;
  padding: 3px 20px;
  white-space: nowrap;
}

.menu-view-item:hover {
  background: #f5f6f7;
}

#add_fr_btn,
#respond_fr_request,
#respond_fr_request_btn {
  display: inline-block;
  justify-content: center;
  padding: 0px 10px;
  line-height: 28px;
  color: #4b4f56;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-weight: bold;
  font-size: 12px;
}

#fr_request_sent_btn {
  position: absolute;
  right: 0;
  top: -45px;
  justify-content: center;
  padding: 0px 10px;
  line-height: 28px;
  color: #4b4f56;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-weight: bold;
  font-size: 12px;
}

#follow_btn,
#following_btn,
#message_btn {
  justify-content: center;
  padding: 0px 10px;
  line-height: 28px;
  color: #4b4f56;
  cursor: pointer;
  border-right: 1px solid #cdd0d5;
  border-radius: 2px 0 0 2px;
  font-weight: bold;
  font-size: 12px;
}

#option_btn {
  display: inline-block;
  justify-content: center;
  padding: 0px 10px;
  line-height: 28px;
  color: #4b4f56;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  border-radius: 0px 2px 2px 0px;
}

#add_fr_btn:hover,
#follow_btn:hover,
#following_btn:hover,
#message_btn:hover,
#option_btn:hover,
#fr_request_sent_btn:hover,
#respond_fr_request_btn:hover {
  background-color: #f5f6f7;
}

#add_fr_btn:active,
#follow_btn:active,
#following_btn:active,
#message_btn:active,
#option_btn:active {
  transform: scale(0.99);
  background-color: #dddfe2;
}

#add_fr_icon {
  background-image: url(/assets/add_friend_icon.png);
  background-size: 53px 423px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 12px;
  width: 12px;
  position: relative;
  background-position: -37px -166px;
  margin-right: 4px;
  bottom: -1px;
}

#fr_request_sent_icon {
  display: inline-block;
  background-image: url(/assets/add_friend_icon.png);
  background-size: 53px 423px;
  background-position: -40px -289px;
  background-repeat: no-repeat;
  height: 12px;
  width: 12px;
  position: relative;
  vertical-align: middle;
  margin-right: 4px;
  bottom: 2px;
}

#follow_icon {
  background-image: url(/assets/profile_symbol.png);
  background-size: 33px 315px;
  background-position: -17px -210px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 12px;
  width: 12px;
  position: relative;
  margin-right: 4px;
  bottom: -2px;
}

#message_icon {
  background-image: url(/assets/profile_symbol.png);
  background-size: 33px 315px;
  background-position: 0 -264px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px;
  position: relative;
  margin-right: 4px;
  bottom: -4px;
}

#option_icon {
  background-image: url(/assets/icon_facebook_3);
  background-size: 97px 1200px;
  background-repeat: no-repeat;
  display: inline-block;
  bottom: -1px;
  position: relative;
  width: 16px;
  height: 16px;
  background-position: -68px -1075px;
}

.active-icon {
  background-image: url(/assets/icon_facebook_4);
  background-repeat: no-repeat;
  background-size: 500px 296px;
  background-position: -366px -245px;
  bottom: -1px;
  height: 9px;
  left: 50%;
  margin-left: -8px;
  position: absolute;
  width: 17px;
}

.active-tag {
  display: flex;
  color: #4b4f56;
}

#fr_icon,
#following_icon {
  background-image: url(/assets/icon_facebook_4);
  background-size: 500px 296px;
  background-repeat: no-repeat;
  display: inline-block;
  bottom: -2px;
  margin-right: 4px;
  position: relative;
  width: 12px;
  height: 12px;
  background-position: -400px -279px;
}

#activity_log_icon {
  background-image: url(/assets/icon_facebook_2);
  background-size: 27px 1030px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px;
  bottom: 1px;
  position: relative;
  bottom: -3px;
  margin-right: 4px;
  background-position: 0 -425px;
}

.user-name {
  position: absolute;
  z-index: 2;
  bottom: 60px;
  left: 202px;
  font-size: 24px;
  color: #fff;
  text-rendering: optimizelegibility;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

.user-request {
  display: flex;
  position: absolute;
  z-index: 2;
  bottom: 60px;
  right: 15px;
}

.display-none {
  display: none !important;
}


.confirm_arrow {
  display: block;
  margin-left: 13;
  background-image: url(face_icons.png);
  background-repeat: no-repeat;
  background-size: 283px 396px;
  background-position: -166px -251px;
  height: 10px;
  width: 20px;
  position: relative;
  /* z-index: 6; */
  top: 1px
}

#confirm_fr_request_btn,
#cancel_fr_request_btn,
#delete_fr_request_btn {
  text-align: inherit;
  padding: 3px 40px 3px 20px;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
}

#cancel_fr_request_btn {
  margin-top: 5px;
  padding: 3px 55px 3px 23px;
}

#confirm_fr_request_btn:hover,
#delete_fr_request_btn:hover,
#cancel_fr_request_btn:hover,
#unfriend_btn:hover,
.fr_action_item:hover {
  background-color: #4167b2;
  color: #ffffff;
}

#confirm_fr_request_btn:active,
#delete_fr_request_btn:active,
#cancel_fr_request_btn:active,
#unfriend_btn:active .fr_action_item:active {
  transform: scale(0.99);
  background-color: #29487d;
}


.fr_action_item,
#unfriend_btn {
  cursor: pointer;
  font-size: 13px;
  padding: 3px 55px 3px 23px;
  font-weight: 500;
}

.fr_action_box,
.follow_action_box {
  display: flex;
  flex-direction: column;
  width: max-content;
  border: 1px solid rgba(0, 0, 0, .30);
  box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
  background: var(--card-background, #FFFFFF);
  padding: 6px 0;
  border-radius: 3px;
  overflow: hidden;
}


.fr_request_action_contain {
  display: none;
  position: absolute;
  top: -16px;
  right: -30px;
}

.dropdown_arrow {
  display: inline-block;
  background-image: url(/assets/icon_facebook_6);
  background-position: -50px -757px;
  background-size: 64px 1914px;
  background-repeat: no-repeat;
  width: 9px;
  height: 8px;
  position: relative;
  bottom: 0px;
  margin-left: 3px;
}

.follow_action_box {
  padding: 0
}

.fr_action_contain,
.following_box {
  display: none;
  position: absolute;
  top: 29px;
}

.top_following_box {
  border-width: 0;
  color: #8d949e;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  line-height: 14px;
  text-transform: uppercase;
  border: solid #fff;
  -webkit-font-smoothing: antialiased;
  padding: 10px 10px;
}

.follow_type {
  background-color: #f5f6f7;
  padding: 10px 10px;
  border: solid #fff;
  border-width: 1px 0;
  color: #1d2129;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  line-height: 22px;
  position: relative;
}

.follow_type,
.unfollow_btn {
  cursor: pointer;
}

.tick_icon {
  background-image: url(/assets/icon_facebook_7);
  background-size: 33px 315px;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  background-position: -17px -171px;
  position: absolute;
  top: 12px;
  display: inline-block;
}

.unfollow_btn {
  margin: 6px 0;
  border: solid #fff;
  border-width: 1px 0;
  color: #1d2129;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  line-height: 22px;
  padding: 6px 10px;
}

.des_follow_type {
  padding: 0px 25px;
  color: #7f7f7f;
  font-size: 12px;
  line-height: 14px;
}

.follow_type_option {
  padding: 0px 25px;
  color: #000;
  font-size: 15px;
  font-weight: bold;
  line-height: 16px;
  margin-bottom: 4px;
}

.follow_item:hover {
  background-color: #4267b2;
  border-color: #29487d;
  color: #ffffff;
}

.follow_item:hover .follow_type_option,
.follow_item:hover .des_follow_type {
  color: #ffffff;
}

.follow_item:hover .tick_icon {
  background-position: -17px -184px;
}

// upload avatar image
.upload_bg {
  background-color: rgba(0, 0, 0, .4);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
  transform: scale(0.4);
  transition: all 0.3s ease-in-out;

  .upload_contain {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);
    margin: 0 auto 80px;
    position: relative;
    width: 775px;
    margin-top: 80px;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    max-height: 600px;
    overflow-x: scroll;

    .upload_inner {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;

      .upload_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f5f6f7;
        border-bottom: 1px solid #e5e5e5;
        border-radius: 3px 3px 0 0;
        color: #1d2129;
        font-weight: bold;
        line-height: 19px;
        padding: 10px 12px;

        #close_btn {
          display: inline-block;
          height: 14px;
          width: 14px;
          background-image: url(/assets/icon_facebook_5);
          background-repeat: no-repeat;
          background-size: 53px 356px;
          background-position: -25px -328px;
          cursor: pointer;
        }
      }

      .ava_upload {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #ebedf0;
        padding: 4px;
        flex-wrap: wrap;
        height: 74px;
        padding: 16px;
        text-align: center;

        &:hover {
          background: #f5f6f7;
        }

        &:active {
          transform: scale(.99);
          background: #e5e6e6;
        }

        #upload_photo_icon {
          background-image: url(/assets/icon_facebook_8);
          background-size: 21px 63px;
          background-repeat: no-repeat;
          background-position: 0 -42px;
          display: inline-block;
          height: 20px;
          width: 20px;
        }
      }

      .img_contain {
        width: 100%;
        border-bottom: 1px solid #ebedf0;
        padding: 10px;

        #target {
          display: flex;
          justify-content: center;
          align-items: center;
          max-width: 755px;
          max-height: 550px;

          img {
            // height: 100%;
            // width: 100%;
            max-width: 755px;
            max-height: 550px;
          }
        }
      }

      .save_btn_contain {
        display: none;
        padding: 7px 15px;
        justify-content: flex-end;

        #save_btn {
          padding: 5px 20px;
          background-color: #4267b2;
          border: 1px solid #29487d;
          border-radius: 3px;
          color: #fff;
          cursor: pointer;
          font-size: 13px;

          &:active {
            background-color: #335cad;
            transform: scale(.99)
          }
        }
      }

      .show_save_btn {
        display: flex;
      }
    }
  }
}

.show_upload {
  z-index: 10;
  transform: scale(1);
  opacity: 1;
}