.settings_page {
    height: 100%;
    width: 100%;
    padding-top: 42px;
    background-color: #fff;

    .settings_page_contain {
        width: 981px;
        margin: 0 auto;
        padding-right: 205px;

        .settings_page_inner {
            width: auto;

            .main_contain {
                display: flex;
                min-height: 600px;
                margin-left: -1px;
                width: 100%;
                padding: 20px 0 0 0;

                .left_content {
                    padding-left: 2px;
                    width: 179px;

                    .setting_list {
                        list-style: none;

                        .setting_item {
                            display: flex;
                            align-items: flex-start;
                            letter-spacing: 0.65px;
                            padding-right: 24px;
                            font-size: 12px;
                            line-height: 24px;
                            color: #333;
                            cursor: pointer;

                            &:hover {
                                background-color: #f5f6f7;
                            }

                            &:first-child {
                                font-weight: bolder;
                                background-color: #c4d2e7;
                            }

                            .setting_icon_image {
                                background-image: url(/assets/icon_facebook_16);
                                background-size: 33px 542px;
                                background-repeat: no-repeat;
                                display: inline-block;
                                height: 16px;
                                width: 16px;
                                margin-right: 6px;
                                margin-top: 4px;
                            }

                            #icon_1 {
                                background-position: -16px -17px;
                            }

                            #icon_2 {
                                background-position: 0 -492px;
                            }

                            #icon_3 {
                                background-position: 0 -305px;
                                width: 19px;
                            }

                            #icon_4 {
                                background-position: 0 -475px;
                            }

                            #icon_5 {
                                height: 15px;
                                background-position: -1px -526px
                            }

                            #icon_6 {
                                background-position: 0 -339px;
                            }

                            #icon_7 {
                                background-position: 0 -322px;
                            }

                            #icon_8 {
                                width: 14px;
                                height: 14px;
                                background-position: -17px -321px;
                            }

                            #icon_9 {
                                background-position: 0 -407px;
                            }

                            #icon_10 {
                                background-position: 0 -373px;
                            }

                            #icon_11 {
                                background-position: 0 -390px;
                            }

                            #icon_12 {
                                background-position: 0 -458px;
                            }

                            #icon_13 {
                                width: 13px;
                                height: 14px;
                                background-position: -19px -286px;
                            }

                            #icon_14 {
                                background-position: 0 -424px;
                            }

                            #icon_15 {
                                background-position: 0 -441px;
                            }

                            #icon_16 {
                                background-position: 0 -509px;
                            }

                            #icon_17 {
                                background-position: 0 -356px;
                            }

                            #icon_18 {
                                background-position: -16px 0;
                            }

                            #icon_19 {
                                width: 15px;
                                height: 15px;
                                background-position: -17px -305px;
                            }

                            #icon_20 {
                                background-image: url(/assets/icon_facebook_17);
                                background-position: 0 -514px;
                                background-size: 97px 649px;
                                background-repeat: no-repeat;
                                display: inline-block;
                                width: 16px;
                                height: 17px;
                                margin-top: 3px;
                            }
                        }

                        .setting_border {
                            background: #ccc;
                            border: none;
                            display: list-item;
                            height: 1px;
                            margin: 10px 0;
                        }
                    }
                }

                .right_content {
                    border-left: 1px solid #ccc;
                    border-right: 1px solid #ccc;
                    border-bottom: 1px solid #ccc;
                    width: calc(100% - 179px);

                    .alert-success {
                        font-size: 16px;
                        font-weight: 700;
                        padding: 10px;
                        padding-left: 20px;
                        background-color: #c5eac5;
                        color: #0b610b;
                    }

                    .right_content_clearfix {
                        margin: 0 20px;

                        .right_content_header {
                            padding: 6px 0 16px;

                            .header_content {
                                line-height: 20px;
                                min-height: 20px;
                                padding-bottom: 2px;
                                vertical-align: bottom;
                                color: #162643;
                                font-size: 16px;
                                font-weight: 600;
                                margin: 0;
                                padding-bottom: 2px;
                            }
                        }

                        .right_content_body {
                            border-bottom: 1px solid #aaa;
                            border-top: 1px solid #aaa;
                            font-size: 12px;
                            height: 400px;

                            #update_profile_form {
                                display: flex;
                                flex-direction: column;
                                justify-content: space-evenly;
                                line-height: 24px;
                                height: 100%;
                                margin: 0;
                                font-size: 13px;
                                letter-spacing: 0.65px;

                                .form_item {
                                    &:last-child {
                                        display: flex;
                                        justify-content: flex-end;
                                        align-items: center;
                                        min-height: 30px;

                                        input[type="submit"] {
                                            padding: 2px 13px;
                                            line-height: 22px;
                                            background-color: #4267b2;
                                            border-color: #4267b2;
                                            font-size: 12px;
                                            font-weight: 500;
                                            color: #fff;
                                            cursor: pointer;
                                            border-radius: 3px;

                                            &:hover {
                                                background-color: #365899;
                                                border-color: #365899;
                                            }

                                            &:active {
                                                background-color: #29487d;
                                                border-color: #29487d;
                                                transform: scale(.98);
                                            }
                                        }
                                    }

                                    label {
                                        font-weight: bold;
                                    }

                                    #name,
                                    #email,
                                    #phone,
                                    #pass,
                                    #re_pass {
                                        padding: 7px;
                                        padding-left: 30px;
                                        border: 1px solid #ccc;
                                        box-shadow: 0.5px 0.5px #b0b0b0;
                                        border-radius: 3px;
                                        min-width: 400px;
                                        min-height: 30px;
                                        font-size: 13px;
                                    }

                                    .form_input {
                                        display: flex;
                                        align-items: center;
                                        position: relative;

                                        #user_icon,
                                        #email_icon,
                                        #phone_icon,
                                        #pass_icon {
                                            width: 18px;
                                            height: 18px;
                                            position: absolute;
                                            left: 7px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .page_footer {}
        }
    }
}