.center_all_row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.center_all_column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@font-face {
  font-family: "face";
  src: url(./PaulGrotesk-Regular-Trail.otf);
}
@font-face {
  font-family: "face1";
  src: url(./a.otf);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container_div1 {
  width: 100%;
  height: 92px;
  background-color: #3b5998;
  background-image: linear-gradient(#4e69a2, #3b5998 50%);
  border-bottom: 1px solid #133783;
  display: flex;
  justify-content: center;
}
.container_div15 {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.container_div2 {
  display: flex;
  justify-content: center;
  background: #e9ebee;
  height: 100%;
  width: 100%;
  align-items: flex-start;
}

.container_div2_div15 {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.container_div1_div1 {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}
.nameSM {
  color: white;
  font-size: 43px;
  font-weight: 900;
  line-height: none;
  margin-bottom: 12px;
}
.container_div2_khongForm {
  display: flex;
  flex-direction: column;
}
.container_div2_Form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form {
  display: flex;
  flex-direction: column;
}
.id_1,
.pass_1 {
  color: #fff;
  padding-left: 1px;
  font-size: 12px;
  margin-bottom: 6px;
}
.container_div1_div2 {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}
.id {
  display: flex;
  flex-direction: column;
}
.pass {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.khung {
  padding: 3px;
  border: 1px solid #1d2a5b;
  width: 150px;
  height: 24px;
}
.dangnhap {
  border: 1px solid #1d2a5b;
  margin-top: 20px;
  margin-left: 15px;
  background: none;
  border: 0;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  color: #fff;
  background-color: #4369b1;
  padding: 2px 6px;
  width: 80px;
}
.quen {
  margin-top: 4px;
  color: #9cb4d8;
  font-weight: normal;
  font-family: "face";
  font-size: 12px;
}

.mota {
  color: #0e385f;
  font-size: 20px;
  font-weight: bold;
  line-height: 29px;
  margin-top: 40px;
  width: 450px;
  word-spacing: -1px;
  font-family: "face";
}

.name {
  display: flex;
  flex-direction: row;
}
.dangki {
  font-size: 36px;
  color: #333;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 5px;
}
.luonmienphi {
  color: #1d2129;
  font-size: 19px;
  margin-bottom: 15px;
}
.four {
  width: 100%;
  height: 39px;
  border-radius: 5px;
  padding: 8px 10px;
  border: 1px solid #bdc7d8;
  font-size: 18px;
  margin-bottom: 10px;
}
::placeholder {
  color: #999;
}
.ten {
  margin-left: 15px;
}
.inputngaysinh {
  display: flex;
  flex-direction: row;
}
select {
  font-size: 13px;
  height: 30px;
  padding: 5px;
  color: #1d2129;
  border: 1px solid #bdc7d8;
  width: 100px;
}
option {
  width: 100px;
}
.bangcach {
  color: #777;
  font-size: 12px;
  width: 100%;
  margin: 1em 0;
  line-height: 1.34;
  margin-top: -3px;
}
.dangkyy {
  width: 194px;
  font-size: 19px;
  font-weight: bold;
  line-height: 126%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 1px;
  position: relative;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  min-width: 194px;
  padding: 7px 20px;
  text-align: center;
  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
}
.taotrang {
  border-top: 1px solid #dddfe2;
  color: #666;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  padding-top: 15px;
  font-weight: 900;
  font-family: "face";
}
.login_form {
  padding: 22px 108px 26px;
  width: 600px;
  background: rgb(255, 255, 255);
  margin-top: 80px;

  border: 1px solid #dddfe2;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login_head {
  font-size: 18px;
  line-height: 22px;
  padding: 20px 0;
}
.login_form_input {
  font-size: 14px;
  padding: 5px 8px;
  width: 284px;
  border: 1px solid #dddfe2;
  height: 22px;
  line-height: 16px;
  vertical-align: middle;
  box-sizing: unset;
  outline: none;
}

.login_body form > * {
  margin-top: 12px;
}
.login_body form input:first-child {
  margin-top: 0px;
}
.login_button {
  background-color: #4267b2;
  border-color: #4267b2;
  line-height: 42px;
  padding: 0 24px;
  font-size: 14px;
  width: 252px;
  color: #fff;
  transition: 200ms cubic-bezier(0.08, 0.52, 0.52, 1) background-color,
    200ms cubic-bezier(0.08, 0.52, 0.52, 1) box-shadow, 200ms cubic-bezier(0.08, 0.52, 0.52, 1) transform;
  border: 1px solid;
  border-radius: 2px;
  box-sizing: content-box;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  justify-content: center;
  position: relative;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
}
.login_form_forgot {
  color: #385898;
  cursor: pointer;
  text-decoration: none;
  line-height: 1.34;
  font-size: 13px;
}
.login_form_or {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.login_form_regis {
  border: 1px solid;
  border-radius: 2px;
  box-sizing: content-box;
  font-size: 15px;
  line-height: 42px;
  padding: 0 28px;
  background-color: #42b72a;
  border-color: #42b72a;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  justify-content: center;
  position: relative;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  cursor: pointer;
}
