<script>

    function onFireBaseIcon(data) {

        let is_seen;
        let room_id;
        let sent_id;
        data.forEach((one) => {
            room_id = one.val().room_id
        })
        let friend_id = $(`.friends[room_id = '${room_id}']`).attr('id')

        data.forEach((one) => {
            is_seen = one.val().is_seen
        })

        data.forEach((one) => {
            sent_id = one.val().sent_id
        })

        axios.post('/getMessageIcon', {
            page: Math.ceil(($('.mid_boxes').length) / 10) + 1
        }).then((res) => {
            if (res.data.count_is_not_known > 0 && $('.icon_noti_2').length == 0) {
                ('a')
                $('.number_of_unknown_m_10').html(res.data.count_is_not_known)
                $('.number_of_unknown_m_10').show()
                $('.number_of_unknown_m_10').closest('.outside_icon').find('.bar_icons').addClass('icon_noti_1')
                $('.number_of_unknown_m_10').closest('.outside_icon').find('.bar_icons').click()
                if (res.data.count_is_not_known > 9) {
                    $('.number_of_unknown_m_10').addClass('number_of_unknown_m_100')
                }
            }
            else {
                $('.number_of_unknown_m_10').hide()
                $('.icon_noti_2').removeClass('icon_noti_2')
                $('.number_of_unknown_m_10').closest('.outside_icon').find('.bar_icons').css('background-position', '-50px -354px');
            }
            let thisArr = res.data.friend_room_message
            let list = ''
            thisArr.forEach((item, index) => {
                // if (index == 0) {
                //     item.message.created_at = "2019-12-30T19:37:04.650+07:00"
                // }
                // else if (index == 1) {
                //     item.message.created_at = "2018-05-01T19:37:04.650+07:00"
                // }
                let time = minimize_time_2(new Date(item.message.created_at))

                if (item.message.sent_id != <%= current_user.id %>){
                if (item.message.seen_at != null) {
                    list += `<div class='mid_boxes' room_id=${item.room.id}>`
                }
                else {
                    list += `<div class='not_know mid_boxes'  room_id=${item.room.id}>`
                }
                list += `<div class='mid_left'>
                    <div class='mid_left_left'>
                    </div>
                    <div class='mid_left_mid'>
                      <div class='mid_mid_not_message'>
                        <div class='mid_mid_top'>
                            <div class='mid_mid_name'>
                           ${item.friend.name}
                            </div>
                            <div class='mid_mid_status'>
                              <div class='online_icon'></div>
                            </div>
                        </div>
                        <div class='mid_right'>
                          <div class='mid_right_time'>
                            ${time}
                          </div>
                        </div>
                      </div>
                      <div class='mid_mid_message'>
                      <div class='last_message'>${item.message.content}</div>
                    </div>
                    </div>
                  </div>
                </div>`
            }
      else {
                list += `<div class='mid_boxes' room_id=${item.room.id}>
                  <div class='mid_left'>
                    <div class='mid_left_left'>
                    </div>
                    <div class='mid_left_mid'>
                      <div class='mid_mid_not_message'>
                        <div class='mid_mid_top'>
                            <div class='mid_mid_name'>
                           ${item.friend.name}
                            </div>
                            <div class='mid_mid_status'>
                              <div class='online_icon'></div>
                            </div>
                        </div>
                        <div class='mid_right'>
                          <div class='mid_right_time'>
                            ${time}
                          </div>
                        </div>
                      </div>
                      <div class='mid_mid_message'>`
                if (item.message.seen_at != null) {
                    list += `<i class="fas fa-check"></i>
                 <div class='last_message'>${item.message.content}</div>`
                }
                else {
                    list += `<div class='received_message_wrapper'><div class='received_message'></div></div>
                 <div class='last_message'>${item.message.content}</div>`
                }
                list += `          </div>
                    </div>
                  </div>
                </div>`
            }

        })
        $('.m_box_mid').html(list)
    })

    }

    function onFireBase(data) {
        let is_seen;
        let room_id;
        let sent_id;
        data.forEach((one) => {
            room_id = one.val().room_id
        })
        let friend_id = $(`.friends[room_id = '${room_id}']`).attr('id')

        data.forEach((one) => {
            is_seen = one.val().is_seen
        })

        data.forEach((one) => {
            sent_id = one.val().sent_id
        })

        let current_chat_box = $(`.chat_boxes[room_id = '${room_id}']`)[0];
        if (typeof current_chat_box == 'undefined' && is_seen == 0 && sent_id != <%= current_user.id %>) {
            display_chat_box($(`.friends[room_id = '${room_id}']`).attr('id'), room_id, data, is_seen, 0, () => {
                data.forEach((one) => {
                    if (is_seen == 0) {
                        $(`.chat_boxes[room_id = '${room_id}']`).find('.chat_boxes_top').addClass('top_not_seen')
                        let sub_ref = firebase.database().ref("users/" + <%= current_user.id %> +"/rooms/" + room_id);
                        sub_ref.remove()
                    }
                })
            })

        }
        else {
            axios.post('/getMessage', {
                friend_id: friend_id,
                room_id: room_id,
                page: 1
            }).then((res) => {
                list = ''
                res.data.messages.forEach((item, index) => {
                    if (index == 0) {
                        let b = res.data.messages[index].created_at;
                        let created_at = new Date(b)
                        created_at = minimize_time_1(created_at)
                        list += `<div class='half_h'><div class='inner_half_h'>${created_at}</div></div>`
                        if (item.sent_id == friend_id) {
                            list += `<div class='friend_messages_wrapper'>
                                    <div class='friend_ava'></div>
                                    <div class='friend_not_ava'>`
                        }
                        else {
                            list += `<div class='current_user_messages_wrapper'>`
                        }
                    }
                    else if (res.data.messages[index - 1].sent_id != res.data.messages[index].sent_id) {
                        list += `</div>`
                        if (item.sent_id != friend_id) {
                            list += `</div>`
                        }
                        let a = res.data.messages[index - 1].created_at;
                        let b = res.data.messages[index].created_at;
                        let miliA = new Date(a).getTime()
                        let miliB = new Date(b).getTime()
                        let created_at = new Date(b)
                        created_at = minimize_time_1(created_at)
                        if (miliA < miliB - 1800000) {
                            list += `<div class='half_h'><div class='inner_half_h'>${created_at}</div></div>`
                        }
                        if (item.sent_id == friend_id) {
                            list += `<div class='friend_messages_wrapper'>
                                    <div class='friend_ava'></div>
                                    <div class='friend_not_ava'>`
                        }
                        else {
                            list += `<div class='current_user_messages_wrapper'>`
                        }
                    }
                    else if (res.data.messages[index - 1].sent_id == res.data.messages[index].sent_id) {
                        if (new Date(res.data.messages[index - 1].created_at).getTime() < new Date(res.data.messages[index].created_at).getTime() - 1800000) {
                            list += `</div>`
                            if (item.sent_id == friend_id) {
                                list += `</div>`
                            }
                            let b = res.data.messages[index].created_at;
                            let created_at = new Date(b)
                            created_at = minimize_time_1(created_at)
                            list += `<div class='half_h'><div class='inner_half_h'>${created_at}</div></div>`
                            if (item.sent_id == friend_id) {
                                list += `<div class='friend_messages_wrapper'>
                                    <div class='friend_ava'></div>
                                    <div class='friend_not_ava'>`
                            }
                            else {
                                list += `<div class='current_user_messages_wrapper'>`
                            }
                        }
                    }
                    if (item.sent_id == friend_id) {
                        let time = new Date(item.seen_at)
                        time = minimize_time_1(time)
                        let created_at = new Date(item.created_at)
                        created_at = minimize_time_1(created_at)
                        if (res.data.messages.length - 1 == index) {
                            if (item.seen_at != null) {
                                list += `<div class='friend_messages' created_at='${created_at}'  timestamp='${item.created_at}' seen_at='${time}' message_id='${item.id}'><div class='friend_messages_tail'></div><div>${item.content}</div></div>`
                            }
                            else {
                                list += `<div class='friend_messages' created_at='${created_at}'  timestamp='${item.created_at}' message_id='${item.id}'><div class='friend_messages_tail'></div><div>${item.content}</div></div>`
                            }

                        }
                        else {
                            list += `<div class='friend_messages' created_at='${created_at}'  timestamp='${item.created_at}' message_id='${item.id}'><div class='friend_messages_tail' style='display:none'></div><div>${item.content}</div></div>`
                        }
                    }
                    else {
                        let time = new Date(item.seen_at)
                        time = minimize_time_1(time)
                        let created_at = new Date(item.created_at)
                        created_at = minimize_time_1(created_at)
                        if (res.data.messages.length - 1 == index) {
                            if (item.seen_at != null) {
                                list += `<div class='current_user_messages' created_at='${created_at}'  timestamp='${item.created_at}' seen_at='${time} 'message_id='${item.id}'><div class='current_user_messages_tail'></div><div>${item.content}</div></div> `
                            }
                            else {
                                list += `<div class='current_user_messages' created_at='${created_at}'  timestamp='${item.created_at}' message_id='${item.id}'><div class='current_user_messages_tail'></div><div>${item.content}</div></div> `
                            }
                        }
                        else {
                            list += `<div class='current_user_messages' created_at='${created_at}'  timestamp='${item.created_at}' message_id='${item.id}'><div class='current_user_messages_tail' style='display:none'></div><div>${item.content}</div></div> `
                        }
                    }
                    if (res.data.messages.length - 1 == index) {
                        if (item.sent_id == friend_id) {
                            list += `</div></div>`
                        }
                        else {
                            list += `</div>`
                        }
                    }
                })

                $(`.chat_boxes[room_id='${room_id}']`).find('.chat_boxes_middle').html(list)
                if ($(`.chat_boxes[room_id='${room_id}']`).find('.chat_boxes_middle>div:last-child').find('.current_user_messages:last-child[seen_at]').length != 0) {
                    let time = $(`.chat_boxes[room_id='${room_id}']`).find('.chat_boxes_middle>div:last-child').find('.current_user_messages:last-child[seen_at]').attr('seen_at');
                    $(`.chat_boxes[room_id='${room_id}']`).find('.chat_boxes_middle>div:last-child').append(`<div class='seen_at'> <i class="fas fa-check"></i><div>Đã xem vào ${time}</div> </div>`)
                }
                let sub_ref = firebase.database().ref("users/" + <%= current_user.id %> +"/rooms/" + room_id);
                data.forEach((one) => {
                    if (one.val().sent_id == <%= current_user.id %>){
                    sub_ref.remove()
                }
            })
            $(`.chat_boxes[room_id='${room_id}']`).find('.chat_boxes_middle')[0].scrollTop = $(`.chat_boxes[room_id='${room_id}']`).find('.chat_boxes_middle')[0].scrollHeight;

            data.forEach((one) => {
                if (is_seen == 0) {
                    if (sent_id !=<%= current_user.id %>){
                $(`.chat_boxes[room_id = '${room_id}']`).find('.chat_boxes_top').addClass('top_not_seen')
            }
            let sub_ref = firebase.database().ref("users/" + <%= current_user.id %> +"/rooms/" + room_id);
            sub_ref.remove()
        }
    })
        })
    }
    }


    // firebase.initializeApp(firebaseConfig);

    function focus_bottom(e) {
        $(e.target).closest('.chat_boxes').find('.chat_boxes_bottom').find('input').focus()
    }

    function middle_scroll(e, callback) {
        let room_id = $(e.target).closest('.chat_boxes').attr('room_id')
        let $first

        $first = $(e.target).find('.friend_messages, .current_user_messages').first()
        if ($first.offsetParent().offset().top - $first.offset().top < 0) {
            axios.post('/getMessage', {
                friend_id: parseInt($(`.chat_boxes[room_id='${room_id}']`).find('.chatting_box').find('.chat_boxes_top').attr('friend_id')),
                room_id: room_id,
                page: Math.ceil(($(e.target).find('.friend_messages, .current_user_messages').length) / 10) + 1
            }).then((res) => {
                if (res.data.max) {
                    return;
                    page -= 1;
                }
                let current_user_id = <%= current_user.id %>;
                if (!res.data.friend) return;
                if (!res.data.messages) return;
                let friend_name = res.data.friend.name
                let friend_id = res.data.friend.id
                let list = ''
                res.data.messages.forEach((item, index) => {
                    // res.data.messages[0].created_at = "2019-08-01T19:37:04.650+07:00"
                    // res.data.messages[1].created_at = "2019-08-05T19:37:04.650+07:00"
                    // res.data.messages[2].created_at = "2019-08-15T19:37:04.650+07:00"
                    // res.data.messages[res.data.messages.length - 1].created_at = "2019-08-21T20:37:04.650+07:00"
                    if (index == 0) {
                        let b = res.data.messages[index].created_at;
                        let created_at = new Date(b)
                        created_at = minimize_time_1(created_at)
                        list += `<div class='half_h'><div class='inner_half_h'>${created_at}</div></div>`
                        if (item.sent_id == friend_id) {
                            list += `<div class='friend_messages_wrapper'>
                                    <div class='friend_ava'></div>
                                    <div class='friend_not_ava'>`
                        }
                        else {
                            list += `<div class='current_user_messages_wrapper'>`
                        }
                    }
                    else if (res.data.messages[index - 1].sent_id != res.data.messages[index].sent_id) {
                        list += `</div>`
                        if (item.sent_id != friend_id) {
                            list += `</div>`
                        }
                        let a = res.data.messages[index - 1].created_at;
                        let b = res.data.messages[index].created_at;
                        let miliA = new Date(a).getTime()
                        let miliB = new Date(b).getTime()
                        let created_at = new Date(b)
                        created_at = minimize_time_1(created_at)
                        if (miliA < miliB - 1800000) {
                            list += `<div class='half_h'><div class='inner_half_h'>${created_at}</div></div>`
                        }
                        if (item.sent_id == friend_id) {
                            list += `<div class='friend_messages_wrapper'>
                                    <div class='friend_ava'></div>
                                    <div class='friend_not_ava'>`
                        }
                        else {
                            list += `<div class='current_user_messages_wrapper'>`
                        }
                    }
                    else if (res.data.messages[index - 1].sent_id == res.data.messages[index].sent_id) {
                        if (new Date(res.data.messages[index - 1].created_at).getTime() < new Date(res.data.messages[index].created_at).getTime() - 1800000) {
                            list += `</div>`
                            if (item.sent_id == friend_id) {
                                list += `</div>`
                            }
                            let b = res.data.messages[index].created_at;
                            let created_at = new Date(b)
                            created_at = minimize_time_1(created_at)
                            list += `<div class='half_h'><div class='inner_half_h'>${created_at}</div></div>`
                            if (item.sent_id == friend_id) {
                                list += `<div class='friend_messages_wrapper'>
                                    <div class='friend_ava'></div>
                                    <div class='friend_not_ava'>`
                            }
                            else {
                                list += `<div class='current_user_messages_wrapper'>`
                            }
                        }
                    }
                    if (item.sent_id == friend_id) {
                        let time = new Date(item.seen_at)
                        time = minimize_time_1(time)
                        let created_at = new Date(item.created_at)
                        created_at = minimize_time_1(created_at)
                        if (res.data.messages.length - 1 == index) {
                            if (item.seen_at != null) {
                                list += `<div class='friend_messages' seen_at='${time}' created_at='${created_at}'  timestamp='${item.created_at}' message_id='${item.id}'><div class='friend_messages_tail'></div><div>${item.content}</div></div>`
                            }
                            else {
                                list += `<div class='friend_messages' created_at='${created_at}'  timestamp='${item.created_at}' message_id='${item.id}'><div class='friend_messages_tail'></div><div>${item.content}</div></div>`
                            }

                        }
                        else {
                            list += `<div class='friend_messages' created_at='${created_at}'  timestamp='${item.created_at}' message_id='${item.id}'><div class='friend_messages_tail' style='display:none'></div><div>${item.content}</div></div>`
                        }
                    }
                    else {
                        let time = new Date(item.seen_at)
                        time = minimize_time_1(time)
                        let created_at = new Date(item.created_at)
                        created_at = minimize_time_1(created_at)
                        if (res.data.messages.length - 1 == index) {
                            if (item.seen_at != null) {
                                // here
                                list += `<div class='current_user_messages' seen_at='${time}' created_at='${created_at}'  timestamp='${item.created_at}' message_id='${item.id}'><div class='current_user_messages_tail'></div><div>${item.content}</div></div> `
                            }
                            else {
                                list += `<div class='current_user_messages' created_at='${created_at}'  timestamp='${item.created_at}' message_id='${item.id}'><div class='current_user_messages_tail'></div><div>${item.content}</div></div> `
                            }
                        }
                        else {
                            list += `<div class='current_user_messages' created_at='${created_at}'  timestamp='${item.created_at}' message_id='${item.id}'><div class='current_user_messages_tail' style='display:none'></div><div>${item.content}</div></div> `
                        }
                    }
                    if (res.data.messages.length - 1 == index) {
                        if (item.sent_id == friend_id) {
                            list += `</div></div>`
                        }
                        else {
                            list += `</div>`
                        }
                    }


                })
                $(e.target).html(list);
                if ($(`.chat_boxes[room_id='${room_id}']`).find('.chat_boxes_middle>div:last-child').find('.current_user_messages:last-child[seen_at]').length != 0) {
                    let time = $(`.chat_boxes[room_id='${room_id}']`).find('.chat_boxes_middle>div:last-child').find('.current_user_messages:last-child[seen_at]').attr('seen_at');
                    $(`.chat_boxes[room_id='${room_id}']`).find('.chat_boxes_middle>div:last-child').append(`<div class='seen_at'> <i class="fas fa-check"></i><div>Đã xem vào ${time}</div> </div>`)
                }
                // $(`.chat_boxes[room_id='${room_id}']`).find('.chat_boxes_middle')[  0].scrollTop = $(`.chat_boxes[room_id='${room_id}']`).find('.chat_boxes_middle')[0].scrollHeight;
                if (typeof is_me === 'undefined') {
                    $(`.chat_boxes[room_id='${room_id}']`).find('.chat_boxes_bottom').find('input').focus()
                }
                $first = $(e.target).find('.friend_messages, .current_user_messages').eq(10)
                if ($first.length != 0) {
                    $first[0].scrollIntoView()
                }
            })



        }
    }



    function box_scroll(e) {
        let $big_box = $('.m_box_mid')
        if ($($big_box).scrollTop() + $($big_box).height() > 575) {

            axios.post('/getMessageIcon', {
                page: Math.ceil(($('.mid_boxes').length) / 10) + 1
            }).then((res) => {
                let thisArr = res.data.friend_room_message
                let list = ''
                thisArr.forEach((item, index) => {
                    // if (index == 0) {
                    //     item.message.created_at = "2019-12-30T19:37:04.650+07:00"
                    // }
                    // else if (index == 1) {
                    //     item.message.created_at = "2018-05-01T19:37:04.650+07:00"
                    // }
                    let time = minimize_time_2(new Date(item.message.created_at))

                    if (item.message.sent_id != <%= current_user.id %>){
                    if (item.message.seen_at != null) {
                        list += `<div class='mid_boxes' room_id=${item.room.id}>`
                    }
                    else {
                        list += `<div class='not_know mid_boxes'  room_id=${item.room.id}>`
                    }
                    list += `<div class='mid_left'>
                        <div class='mid_left_left'>
                        </div>
                        <div class='mid_left_mid'>
                          <div class='mid_mid_not_message'>
                            <div class='mid_mid_top'>
                                <div class='mid_mid_name'>
                               ${item.friend.name}
                                </div>
                                <div class='mid_mid_status'>
                                  <div class='online_icon'></div>
                                </div>
                            </div>
                            <div class='mid_right'>
                              <div class='mid_right_time'>
                                ${time}
                              </div>
                            </div>
                          </div>
                          <div class='mid_mid_message'>
                          <div class='last_message'>${item.message.content}</div>
                        </div>
                        </div>
                      </div>
                    </div>`
                }
          else {
                    list += `<div class='mid_boxes' room_id=${item.room.id}>
                      <div class='mid_left'>
                        <div class='mid_left_left'>
                        </div>
                        <div class='mid_left_mid'>
                          <div class='mid_mid_not_message'>
                            <div class='mid_mid_top'>
                                <div class='mid_mid_name'>
                               ${item.friend.name}
                                </div>
                                <div class='mid_mid_status'>
                                  <div class='online_icon'></div>
                                </div>
                            </div>
                            <div class='mid_right'>
                              <div class='mid_right_time'>
                                ${time}
                              </div>
                            </div>
                          </div>
                          <div class='mid_mid_message'>`
                    if (item.message.seen_at != null) {
                        list += `<i class="fas fa-check"></i>
                     <div class='last_message'>${item.message.content}</div>`
                    }
                    else {
                        list += `<div class='received_message_wrapper'><div class='received_message'></div></div>
                     <div class='last_message'>${item.message.content}</div>`
                    }
                    list += `          </div>
                        </div>
                      </div>
                    </div>`
                }

            })
            $('.m_box_mid').html(list)
        })
    }

    }

    $('.m_box_mid').on('scroll', _.debounce(box_scroll, 500))

    if(typeof time1 == 'undefined'){
    let time1 = Date.now();
    }
    time1=Date.now()
    function real_middle_scroll(e) {
        if ((time1 + 250 - Date.now()) < 0) {
            middle_scroll(e);
            time1 = Date.now();
        }
    }
    function real_box_scroll(e) {
        if ((time + 250 - Date.now()) < 0) {
            box_scroll(e);
            time = Date.now();
        }
    }

    $(document).on('click', '.mid_boxes', (e) => {
        let room_id
        if ($(e.target).hasClass('mid_boxes')) {
            room_id = $(e.target).attr('room_id');
        }
        else {
            room_id = $(e.target).closest('.mid_boxes').attr('room_id');
        }

        display_chat_box($(`.friends[room_id = '${room_id}']`).attr('id'), room_id)
    })


    $(document).ready(() => {
        $(document).on('focus', '.input-text', (e) => {
            let sub_ref = firebase.database().ref("users/" + <%= current_user.id %> +"/rooms/" + $(e.target).closest('.chat_boxes').attr('room_id'));
            $(`.chat_boxes[room_id = '${$(e.target).closest('.chat_boxes').attr('room_id')}']`).find('.chat_boxes_top').removeClass('top_not_seen')
            sub_ref.remove()
            if ($(e.target).closest('.chat_boxes').find('.chat_boxes_middle>div:last-child').hasClass('friend_messages_wrapper') &&
                $(e.target).closest('.chat_boxes').find('.chat_boxes_middle>div:last-child').find('.friend_messages:last-child[seen_at]').length == 0
            ) {
                axios.post('/seenAt', {
                    room_id: $(e.target).closest('.chat_boxes').attr('room_id'),
                    sent_id:<%= current_user.id %>,
                    receive_id: $(`.friends[room_id='${$(e.target).closest('.chat_boxes').attr('room_id')}']`).attr('id'),
                    last_message_id: parseInt($(e.target).closest('.chat_boxes').find('.chat_boxes_middle>div:last-child').find('.friend_messages:last-child').attr('message_id'))
                }).then((res) => {
                })
            }
            axios.post('/getMessageIcon', {
                page: Math.ceil(($('.mid_boxes').length) / 10) + 1
            }).then((res) => {
                if (res.data.count_is_not_known > 0 && $('.icon_noti_2').length == 0) {
                    $('.number_of_unknown_m_10').html(res.data.count_is_not_known)
                    $('.number_of_unknown_m_10').show()
                    $('.number_of_unknown_m_10').closest('.outside_icon').find('.bar_icons').addClass('icon_noti_1')
                    $('.number_of_unknown_m_10').closest('.outside_icon').find('.bar_icons').click()
                    if (res.data.count_is_not_known > 9) {
                        $('.number_of_unknown_m_10').addClass('number_of_unknown_m_100')
                    }
                }
                else {
                    $('.number_of_unknown_m_10').hide()
                    $('.icon_noti_2').removeClass('icon_noti_2')
                    $('.number_of_unknown_m_10').closest('.outside_icon').find('.bar_icons').css('background-position', '-50px -354px');
                }
                let thisArr = res.data.friend_room_message
                let list = ''
                thisArr.forEach((item, index) => {
                    // if (index == 0) {
                    //     item.message.created_at = "2019-12-30T19:37:04.650+07:00"
                    // }
                    // else if (index == 1) {
                    //     item.message.created_at = "2018-05-01T19:37:04.650+07:00"
                    // }
                    let time = minimize_time_2(new Date(item.message.created_at))

                    if (item.message.sent_id != <%= current_user.id %>){
                    if (item.message.seen_at != null) {
                        list += `<div class='mid_boxes' room_id=${item.room.id}>`
                    }
                    else {
                        list += `<div class='not_know mid_boxes'  room_id=${item.room.id}>`
                    }
                    list += `<div class='mid_left'>
                        <div class='mid_left_left'>
                        </div>
                        <div class='mid_left_mid'>
                          <div class='mid_mid_not_message'>
                            <div class='mid_mid_top'>
                                <div class='mid_mid_name'>
                               ${item.friend.name}
                                </div>
                                <div class='mid_mid_status'>
                                  <div class='online_icon'></div>
                                </div>
                            </div>
                            <div class='mid_right'>
                              <div class='mid_right_time'>
                                ${time}
                              </div>
                            </div>
                          </div>
                          <div class='mid_mid_message'>
                          <div class='last_message'>${item.message.content}</div>
                        </div>
                        </div>
                      </div>
                    </div>`
                }
          else {
                    list += `<div class='mid_boxes' room_id=${item.room.id}>
                      <div class='mid_left'>
                        <div class='mid_left_left'>
                        </div>
                        <div class='mid_left_mid'>
                          <div class='mid_mid_not_message'>
                            <div class='mid_mid_top'>
                                <div class='mid_mid_name'>
                               ${item.friend.name}
                                </div>
                                <div class='mid_mid_status'>
                                  <div class='online_icon'></div>
                                </div>
                            </div>
                            <div class='mid_right'>
                              <div class='mid_right_time'>
                                ${time}
                              </div>
                            </div>
                          </div>
                          <div class='mid_mid_message'>`
                    if (item.message.seen_at != null) {
                        list += `<i class="fas fa-check"></i>
                     <div class='last_message'>${item.message.content}</div>`
                    }
                    else {
                        list += `<div class='received_message_wrapper'><div class='received_message'></div></div>
                     <div class='last_message'>${item.message.content}</div>`
                    }
                    list += `          </div>
                        </div>
                      </div>
                    </div>`
                }

            })
            $('.m_box_mid').html(list)
        })
    })
    $(document).on('input', '.input-text', (e) => {
        let room_id = $(e.target).closest('.chat_boxes').attr('room_id')
        if ($(e.target).val() != '') {
            $(e.target).closest('.chat_boxes_bottom').find('path').attr('fill', '#0084ff')
            $(e.target).closest('.chat_boxes_bottom').find('path').attr('style', 'cursor:pointer')
            e.target.closest('form').onsubmit = (ee) => {
                ee.preventDefault()

                axios.post('/createMessage', {
                    room_id: $(e.target).closest('.chat_boxes').attr('room_id'),
                    message: $(e.target).val()
                }).then((res) => {
                })

                $(e.target).closest('.chat_boxes_bottom').find('path').attr('fill', '#BEC3C9')
                $(e.target).closest('.chat_boxes_bottom').find('path').attr('style', 'cursor:default')
                e.target.closest('form').onsubmit = (ee) => {
                    return false;
                }
                e.target.closest('form').querySelector('svg').onclick = (eee) => {
                    return false;
                }


                let $last_wrapper = $(e.target).closest('.chat_boxes').find('.chat_boxes_middle>div:last-child')
                if ($last_wrapper.hasClass('current_user_messages_wrapper')) {
                    let a = $(e.target).closest('.chat_boxes').find('.chatting_box').find('.current_user_messages , .friend_messages').eq(-1).attr('timestamp');
                    $last_wrapper.find('.current_user_messages_tail').removeClass('current_user_messages_tail');
                    if (new Date(a).getTime() < new Date().getTime() - 1800000) {
                        let b = new Date();
                        let created_at = new Date(b)
                        created_at = minimize_time_1(created_at)
                        $(e.target).closest('.chat_boxes').find('.chat_boxes_middle').append(`</div>
                                              <div class='half_h'><div class='inner_half_h'>${created_at}</div></div>
                                              <div class='current_user_messages_wrapper'>
                                              <div class='current_user_messages'>
                                                    <div class='current_user_messages_tail'>
                                                    </div>
                                                    <div>${$(e.target).val()}
                                                    </div>
                                              </div>
                                              </div>`)
                    }
                    else {
                        $last_wrapper.append(`<div class='current_user_messages'>
                                                    <div class='current_user_messages_tail'>
                                                    </div>
                                                    <div>${$(e.target).val()}
                                                    </div>
                                                  </div>`)
                    }
                    $(`.chat_boxes[room_id='${room_id}']`).find('.chat_boxes_middle')[0].scrollTop = $(`.chat_boxes[room_id='${room_id}']`).find('.chat_boxes_middle')[0].scrollHeight;

                }
                else if ($last_wrapper.hasClass('friend_messages_wrapper')) {
                    let a = $(e.target).closest('.chat_boxes').find('.chatting_box').find('.current_user_messages , .friend_messages').eq(-1).attr('timestamp');
                    let b = new Date();
                    let miliA = new Date(a).getTime()
                    let miliB = new Date(b).getTime()
                    let created_at = new Date(b)
                    created_at = minimize_time_1(created_at)
                    if (miliA < miliB - 1800000) {
                        $(e.target).closest('.chat_boxes').find('.chat_boxes_middle').append(`   </div>
                                                    </div>
                                                    <div class='half_h'><div class='inner_half_h'>${created_at}</div></div>
                                                    <div class='current_user_messages_wrapper'>
                                                        <div class='current_user_messages'>
                                                            <div class='current_user_messages_tail'>
                                                            </div>
                                                            <div>${$(e.target).val()}
                                                            </div>
                                                        </div>
                                                    </div>`)
                    }
                    else {
                        $last_wrapper.after(`<div class='current_user_messages_wrapper'>
                                                <div class='current_user_messages'>
                                                    <div class='current_user_messages_tail'>
                                                    </div>
                                                    <div>${$(e.target).val()}
                                                    </div>
                                                </div>
                                              </div>`)
                    }

                    $(`.chat_boxes[room_id='${room_id}']`).find('.chat_boxes_middle')[0].scrollTop = $(`.chat_boxes[room_id='${room_id}']`).find('.chat_boxes_middle')[0].scrollHeight;
                }
                else if ($last_wrapper.length == 0) {
                    let b = new Date();
                    let created_at = new Date(b)
                    created_at = minimize_time_1(created_at)
                    $(e.target).closest('.chat_boxes').find('.chat_boxes_middle').append(`  <div class='half_h'><div class='inner_half_h'>${created_at}</div></div>
                                                                                                <div class='current_user_messages_wrapper'>
                                                                                                    <div class='current_user_messages'>
                                                                                                        <div class='current_user_messages_tail'>
                                                                                                        </div>
                                                                                                        <div>${$(e.target).val()}
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>`)
                    $(`.chat_boxes[room_id='${room_id}']`).find('.chat_boxes_middle')[0].scrollTop = $(`.chat_boxes[room_id='${room_id}']`).find('.chat_boxes_middle')[0].scrollHeight;
                }

                // if (index == 0) {
                //     let b = new Date();
                //     let created_at = new Date(b)
                //     created_at = minimize_time_1(created_at)
                //     list += `<div class='half_h'><div class='inner_half_h'>${created_at}</div></div>`
                //     if (item.sent_id == friend_id) {
                //         list += `<div class='friend_messages_wrapper'>
                //                 <div class='friend_ava'></div>
                //                 <div class='friend_not_ava'>`
                //     }
                //     else {
                //         list += `<div class='current_user_messages_wrapper'>`
                //     }
                // }
                // else if (res.data.messages[index - 1].sent_id != res.data.messages[index].sent_id) {
                //     list += `</div>`
                //     if (item.sent_id != friend_id) {
                //         list += `</div>`
                //     }
                //     let a = res.data.messages[index - 1].created_at;
                //     let b = new Date();
                //     let miliA = new Date(a).getTime()
                //     let miliB = new Date(b).getTime()
                //     let created_at = new Date(b)
                //     created_at = minimize_time_1(created_at)
                //     if (miliA < miliB - 1800000) {
                //         list += `<div class='half_h'><div class='inner_half_h'>${created_at}</div></div>`
                //     }
                //     if (item.sent_id == friend_id) {
                //         list += `<div class='friend_messages_wrapper'>
                //                 <div class='friend_ava'></div>
                //                 <div class='friend_not_ava'>`
                //     }
                //     else {
                //         list += `<div class='current_user_messages_wrapper'>`
                //     }
                // }
                // else if (res.data.messages[index - 1].sent_id == res.data.messages[index].sent_id) {
                //     if (new Date(res.data.messages[index - 1].created_at).getTime() < new Date().getTime() - 1800000) {
                //         list += `</div>`
                //         if (item.sent_id == friend_id) {
                //             list += `</div>`
                //         }
                //         let b = new Date();
                //         let created_at = new Date(b)
                //         created_at = minimize_time_1(created_at)
                //         list += `<div class='half_h'><div class='inner_half_h'>${created_at}</div></div>`
                //         if (item.sent_id == friend_id) {
                //             list += `<div class='friend_messages_wrapper'>
                //                 <div class='friend_ava'></div>
                //                 <div class='friend_not_ava'>`
                //         }
                //         else {
                //             list += `<div class='current_user_messages_wrapper'>`
                //         }
                //     }
                // }
                e.target.value = ''
                $(e.target).closest('.chat_boxes').find('.chat_boxes_bottom').find('input').focus()
                if ($(`.chat_boxes[room_id='${room_id}']`).find('.chat_boxes_middle>div:last-child').find('.seen_at').length != 0) {
                    $(`.chat_boxes[room_id='${room_id}']`).find('.chat_boxes_middle>div:last-child').find('.seen_at').remove()
                }
            }
            e.target.closest('form').querySelector('svg').onclick = (eee) => {
                eee.target.closest('form').querySelector('.hidden_button').click()
            }
        }
        else {
            $(e.target).closest('.chat_boxes_bottom').find('path').attr('fill', '#BEC3C9')
            $(e.target).closest('.chat_boxes_bottom').find('path').attr('style', 'cursor:default')
            e.target.closest('form').onsubmit = (ee) => {
                return false;
            }
            e.target.closest('form').querySelector('svg').onclick = (eee) => {
                return false;
            }
        }
    })
    })
    function grown(e) {
        $(e.target).closest('.chat_boxes').find('.not_chatting_box').hide()
        $(e.target).closest('.chat_boxes').find('.chatting_box').show()
        $('.chat_wrapper').css('width', 'auto')
        let wrapper_length = $('.chat_boxes').length
        if (wrapper_length > 3) {
            $('.chat_wrapper').css('width', $('.chat_wrapper').width() + 104)
        }
    }
    function shrink(e) {
        $(e.target).closest('.chat_boxes').find('.not_chatting_box').attr('style', 'display:flex')
        $(e.target).closest('.chat_boxes').find('.chatting_box').hide()
        $('.chat_wrapper').css('width', 'auto')
        let wrapper_length = $('.chat_boxes').length
        if (wrapper_length > 3) {
            $('.chat_wrapper').css('width', $('.chat_wrapper').width() - 104)
        }
    }
    function close_box(e) {
        e.stopPropagation()
        $(e.target).closest('.chat_boxes').remove()
        let wrapper_length = $('.chat_boxes').length
        if (wrapper_length > 2) {
            let $last_box_1 = $('.chat_boxes').eq(wrapper_length - 3)
            let $last_box_2 = $('.chat_boxes').eq(wrapper_length - 1)
            let $last_box_3 = $('.chat_boxes').eq(wrapper_length - 2)
            let total = $last_box_1.width() + $last_box_2.width() + $last_box_3.width() + 48 - 2
            $('.chat_wrapper').css('width', total)
        }
        else {
            $('.chat_wrapper').css('width', 'auto')
        }
    }
    function display_chat_box(friend_id, room_id, data, is_seen, is_me, callback) {
        let wrapper_length = $('.chat_boxes').length
        $('.chat_wrapper').css('width', 'auto')
        if (wrapper_length > 2) {
            let $last_box_1 = 284
            let $last_box_2 = $('.chat_boxes').eq(wrapper_length - 1)
            let $last_box_3 = $('.chat_boxes').eq(wrapper_length - 2)
            let total = $last_box_1 + $last_box_2.width() + $last_box_3.width() + 48 - 2
            $('.chat_wrapper').css('width', total)
        }

        axios.post('/getMessage', {
            friend_id: friend_id,
            room_id: room_id,
            page: 1
        }).then((res) => {
            let current_user_id = <%= current_user&.id %>;
            if ($(`.chat_boxes[room_id='${room_id}']`).length != 0) {
                $(`.chat_boxes[room_id='${room_id}']`).find('.chat_boxes_bottom').find('input').focus()
                return;
            }
            if (!res.data.friend) return;
            if (!res.data.messages) return;
            let friend_name = res.data.friend.name
            let list = ''
            res.data.messages.forEach((item, index) => {
                // res.data.messages[0].created_at = "2019-08-01T19:37:04.650+07:00"
                // res.data.messages[1].created_at = "2019-08-05T19:37:04.650+07:00"
                // res.data.messages[2].created_at = "2019-08-15T19:37:04.650+07:00"
                // res.data.messages[res.data.messages.length - 1].created_at = "2019-08-21T20:37:04.650+07:00"
                if (index == 0) {
                    let b = res.data.messages[index].created_at;
                    let created_at = new Date(b)
                    created_at = minimize_time_1(created_at)
                    list += `<div class='half_h'><div class='inner_half_h'>${created_at}</div></div>`
                    if (item.sent_id == friend_id) {
                        list += `<div class='friend_messages_wrapper'>
                                    <div class='friend_ava'></div>
                                    <div class='friend_not_ava'>`
                    }
                    else {
                        list += `<div class='current_user_messages_wrapper'>`
                    }
                }
                else if (res.data.messages[index - 1].sent_id != res.data.messages[index].sent_id) {
                    list += `</div>`
                    if (item.sent_id != friend_id) {
                        list += `</div>`
                    }
                    let a = res.data.messages[index - 1].created_at;
                    let b = res.data.messages[index].created_at;
                    let miliA = new Date(a).getTime()
                    let miliB = new Date(b).getTime()
                    let created_at = new Date(b)
                    created_at = minimize_time_1(created_at)
                    if (miliA < miliB - 1800000) {
                        list += `<div class='half_h'><div class='inner_half_h'>${created_at}</div></div>`
                    }
                    if (item.sent_id == friend_id) {
                        list += `<div class='friend_messages_wrapper'>
                                    <div class='friend_ava'></div>
                                    <div class='friend_not_ava'>`
                    }
                    else {
                        list += `<div class='current_user_messages_wrapper'>`
                    }
                }
                else if (res.data.messages[index - 1].sent_id == res.data.messages[index].sent_id) {
                    if (new Date(res.data.messages[index - 1].created_at).getTime() < new Date(res.data.messages[index].created_at).getTime() - 1800000) {
                        list += `</div>`
                        if (item.sent_id == friend_id) {
                            list += `</div>`
                        }
                        let b = res.data.messages[index].created_at;
                        let created_at = new Date(b)
                        created_at = minimize_time_1(created_at)
                        list += `<div class='half_h'><div class='inner_half_h'>${created_at}</div></div>`
                        if (item.sent_id == friend_id) {
                            list += `<div class='friend_messages_wrapper'>
                                    <div class='friend_ava'></div>
                                    <div class='friend_not_ava'>`
                        }
                        else {
                            list += `<div class='current_user_messages_wrapper'>`
                        }
                    }
                }
                if (item.sent_id == friend_id) {
                    let time = new Date(item.seen_at)
                    time = minimize_time_1(time)
                    let created_at = new Date(item.created_at)
                    created_at = minimize_time_1(created_at)
                    if (res.data.messages.length - 1 == index) {
                        if (item.seen_at != null) {
                            list += `<div class='friend_messages' seen_at='${time}' created_at='${created_at}'  timestamp='${item.created_at}' message_id='${item.id}'><div class='friend_messages_tail'></div><div>${item.content}</div></div>`
                        }
                        else {
                            list += `<div class='friend_messages' created_at='${created_at}'  timestamp='${item.created_at}' message_id='${item.id}'><div class='friend_messages_tail'></div><div>${item.content}</div></div>`
                        }

                    }
                    else {
                        list += `<div class='friend_messages' created_at='${created_at}'  timestamp='${item.created_at}' message_id='${item.id}'><div class='friend_messages_tail' style='display:none'></div><div>${item.content}</div></div>`
                    }
                }
                else {
                    let time = new Date(item.seen_at)
                    time = minimize_time_1(time)
                    let created_at = new Date(item.created_at)
                    created_at = minimize_time_1(created_at)
                    if (res.data.messages.length - 1 == index) {
                        if (item.seen_at != null) {
                            // here
                            list += `<div class='current_user_messages' seen_at='${time}' created_at='${created_at}'  timestamp='${item.created_at}' message_id='${item.id}'><div class='current_user_messages_tail'></div><div>${item.content}</div></div> `
                        }
                        else {
                            list += `<div class='current_user_messages' created_at='${created_at}'  timestamp='${item.created_at}' message_id='${item.id}'><div class='current_user_messages_tail'></div><div>${item.content}</div></div> `
                        }
                    }
                    else {
                        list += `<div class='current_user_messages' created_at='${created_at}'  timestamp='${item.created_at}' message_id='${item.id}'><div class='current_user_messages_tail' style='display:none'></div><div>${item.content}</div></div> `
                    }
                }
                if (res.data.messages.length - 1 == index) {
                    if (item.sent_id == friend_id) {
                        list += `</div></div>`
                    }
                    else {
                        list += `</div>`
                    }
                }

            })
            let one_chat_box = `<%= escape_javascript(render('messages/messages')) %>`;
            $('.chat_wrapper').append(one_chat_box);
            if ($(`.chat_boxes[room_id='${room_id}']`).find('.chat_boxes_middle>div:last-child').find('.current_user_messages:last-child[seen_at]').length != 0) {
                let time = $(`.chat_boxes[room_id='${room_id}']`).find('.chat_boxes_middle>div:last-child').find('.current_user_messages:last-child[seen_at]').attr('seen_at');
                $(`.chat_boxes[room_id='${room_id}']`).find('.chat_boxes_middle>div:last-child').append(`<div class='seen_at'> <i class="fas fa-check"></i><div>Đã xem vào ${time}</div> </div>`)
            }
            $(`.chat_boxes[room_id='${room_id}']`).find('.chatting_box').find('.chat_name').attr('href', `http://localhost:3000/friend/${friend_id}`)

            let middle = $(`.chat_boxes[room_id='${room_id}']`).find('.chat_boxes_middle')[0]
            middle.scrollTop = middle.scrollHeight;
            $(`.chat_boxes[room_id='${room_id}']`).find('.chatting_box').find('.chat_boxes_top').attr('friend_id', res.data.friend.id)
            // setTimeout(() => {
            //     $(`.chat_boxes[room_id='${room_id}']`).find('.chat_boxes_middle')[0].addEventListener("scroll", middle_scroll)
            // }, 0)


            if (typeof is_me === 'undefined') {
                $(`.chat_boxes[room_id='${room_id}']`).find('.chat_boxes_bottom').find('input').focus()
            }
            $('.chat_boxes_middle').on('scroll', _.debounce((e) => {
                middle_scroll(e)
            }, 500))

            if (callback) {
                callback()
            }

        })

    }
    $(document).on('click', '.friends', (e) => {
        let t = $(e.target)
        if (!t.hasClass('friends')) {
            t = t.closest('.friends')
        }
        display_chat_box(t.attr('id'), t.attr('room_id'))
    })

    $(document).on('mouseenter', '.current_user_messages', (e) => {
        let $target = $(e.target)

        if (!$target.hasClass('current_user_messages')) {
            $target = $target.closest('.current_user_messages')
        }

        let created_at = $target.attr('created_at')
        let created_at_div
        let width = $target.outerWidth(true)
        let c = $target[0].getBoundingClientRect()
        let left = c.left
        let top = c.top
        let $hover_box = $('.current_user_messages_created_at')
        $hover_box.show()
        $hover_box.css('left', left + width + 15)
        $hover_box.css('top', top)
        $hover_box.find('div:last-child').html($target.attr('created_at'))
    })
    $(document).on('mouseleave', '.current_user_messages', (e) => {
        $('.current_user_messages_created_at').hide()
        let $hover_box = $('.current_user_messages_created_at')
        $hover_box.find('div>last-child').html('')
    })
    $(document).on('mouseenter', '.friend_messages', (e) => {
        let $target = $(e.target)

        if (!$target.hasClass('friend_messages')) {
            $target = $target.closest('.friend_messages')
        }

        let created_at = $target.attr('created_at')
        let created_at_div
        let width = $target.outerWidth(true)
        let c = $target[0].getBoundingClientRect()
        let left = c.left
        let top = c.top
        let $hover_box = $('.friend_messages_created_at')
        $hover_box.find('div:last-child').html($target.attr('created_at'))
        $hover_box.show()
        $hover_box.css('left', left - $hover_box.outerWidth(true) - 15)
        $hover_box.css('top', top)
    })
    $(document).on('mouseleave', '.friend_messages', (e) => {
        $('.friend_messages_created_at').hide()
        let $hover_box = $('.friend_messages_created_at')
        $hover_box.find('div>last-child').html('')
    })

</script>