
<div class='chat_bar'>
    <div class='friends_list'>
        <% @users_and_room.each do |user_and_room|%>
        <div class='friends' id=<%= user_and_room[:user].id%> room_id=<%= user_and_room[:room_id]%>>
            <div class='chat_bar_not_online_icon'>
                <div class='top_profile_ava friends_ava'>
                    <%= image_tag user_and_room[:user].avatar.url(:thumb), width:'28px', height:'28px' %>
                </div>
                <div class='friends_name'>
                    <%= user_and_room[:user].name.titleize%>
                </div>
            </div>
            <div class='mid_mid_status'>
                <div class='online_icon'></div>
            </div>
        </div>
        <%end%>
    </div>
    <div class='chat_search'>
        <i class="fas fa-search"></i>
        <input placeholder="Tìm kiếm">
    </div>
</div>
<div class='chat_wrapper'>
</div>
<div class='created_at_hover current_user_messages_created_at'>
    <div class='current_user_hover_tail'></div>
    <div>current</div>
</div>
<div class='created_at_hover friend_messages_created_at'>
    <div class='friend_hover_tail'></div>
    <div>friend</div>
</div>
<!-- if (res.data.messages.length - 1 == index ||
res.data.messages[index + 1].sent_id != res.data.messages[index].sent_id) {
if (res.data.messages.length - 1 == index && item.seen_at != null) { -->