<div class='main_bar'>
  <div class='main_bar_inside'>
    <div class='bar_search_side'>
      <a href="http://localhost:3000/home"><div class='bar_search_f_icon'></div></a>
      <input class='bar_search_place' placeholder='Tìm kiếm'>
      <button class='bar_search_icon'>
      <i class="fas fa-search"></i>
      </button>
    </div>
    <div class='bar_user_side'>
      <div class='bar_user_profile'>
        <div class='profile_ava'><%= image_tag current_user.avatar.url(:medium), width:'24px', height:'24px' %></div>
        <div class='profile_name'>
          <%= link_to "#{current_user&.name.titleize}", "http://localhost:3000/users" %>
        </div>
      </div>
      <div class='bar_user_home'>
        <a href='http://localhost:3000/home'>
          Trang chủ
        </a>
      </div>
      <div class='bar_user_icon_wrapper'>
        <div class='bar_user_f outside_icon'>
          <div class='bar_icons bar_user_f_icon'>
          <div class="fr_request_count"></div>
          </div>
          <div class='bar_arrows'>
          </div>
          <div class='bar_user_boxes f_box '>
          </div>
        </div>
        <div class='bar_user_m outside_icon'>
          <div class='bar_icons bar_user_m_icon'>
          </div>
          <div class='unknown_m'>
            <div class='number_of_unknown_m_10'></div>
          </div>
          <div class='bar_arrows'>
          </div>

          <div class='bar_user_boxes m_box '>
            <div class='m_box_top'>
              <div class='gan_day'>
                Gần đây
              </div>
            </div>
            <div class='m_box_mid'>


            </div>
            <div class='m_box_bot'>
              <div class='see_all'></div>
              <div class='mark_seen'></div>
            </div>
          </div>

        </div>
        <div class='bar_user_n outside_icon'>
          <div class='bar_icons bar_user_n_icon'>
          </div>
          <div class='bar_arrows'>
          </div>
          <div class='bar_user_boxes n_box '>
          </div>
        </div>
      </div>
      <div class='bar_user_s outside_icon'>
        <div class='bar_icons bar_user_s_icon'>
        </div>
        <div class='bar_arrows'>
        </div>
        <div class='bar_user_boxes s_box '>
          <a href='http://localhost:3000/users/settings' style="">Cài đặt</a>
          <a href='' class='logout_fake'>
            Đăng xuất
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
