<script>
$(document).off('click', '.hide_write_and_read_reply')
$(document).on('click', '.hide_write_and_read_reply', (e) => {
    let $t = $(e.target).hasClass('hide_write_and_read_reply') ? $(e.target) : $(e.target).closest('.hide_write_and_read_reply')
    let $comment = $t.closest('.comment')
    let $open = $comment.find('.open')
    let $not_open = $comment.find('.not_open')
    $open.removeClass('flex_without_z_index')
    $not_open.css('display', 'flex')
})
$(document).off('click', '.not_open')
$(document).on('click', '.not_open', (e) => {
    let $t = $(e.target).hasClass('not_open') ? $(e.target) : $(e.target).closest('.not_open')
    let $comment = $t.closest('.comment')
    let $open = $comment.find('.open')
    let $not_open = $comment.find('.not_open')
    $open.addClass('flex_without_z_index')
    $not_open.css('display', 'none')
    $comment.find('.user_cmt').focus()


    $comment.find('.reply_side').find('.show_comment_likes').each((index, item) => {
        let $t = $(item)
        let $reply = $t.closest('.reply')
        let reply_id = $reply.attr('reply_id')
        let $reply_box = $reply.find('.not_setting')
        let min_width = parseInt($reply.find('.not_ava_side_interact').width())
        let reply_box_width = parseInt($reply_box.css('width'))
        if (reply_box_width - 30 > min_width) {
            $t.addClass('bottom_right')
        }
    })



    $comment.find('.reply_side').find('.comment_not_text_right').each((index, item2) => {
        if ($(item2).closest('.reply').find('.show_comment_likes').length) {
            if ($(item2).closest('.reply').find('.show_comment_likes').hasClass('bottom_right')) {
                $(item2).css('margin-left', 6)
            }
            else {
                $(item2).css('margin-left', $(item2).closest('.reply').find('.show_comment_likes').width() + 6)
            }
        }
        else {
            $(item2).css('margin-left', 6)
        }
    })


})
$(document).off('click', '.rep')
$(document).on('click', '.rep', (e) => {
    let $t = $(e.target)
    let $comment = $t.closest('.comment')
    let $open = $comment.find('.open')
    let $not_open = $comment.find('.not_open')
    $open.addClass('flex_without_z_index')
    $not_open.css('display', 'none')
    $comment.find('.user_cmt').focus()
})
$(document).off('click', '.comment_not_text_right')
$(document).on('click', '.comment_not_text_right', (e) => {
    $('.comment_setting').removeClass('flex')
    let $t = $(e.target).hasClass('comment_not_text_right') ? $(e.target) : $(e.target).closest('.comment_not_text_right')
    let $p = $t.find('.comment_setting')
    $p.toggleClass('flex')
})

/*Reply*/
$(document).off('click', '.reply_side .delete_reply')
$(document).on('click', '.reply_side .delete_reply', (e) => {
    $('.delete_reply_div').addClass('flex')
    $('.delete_reply_div').attr('reply_id', $(e.target).closest('.reply').attr('reply_id'))

    let scrollTop = $(window).scrollTop()
    let scrollLeft = $(window).scrollLeft()
    function prevent_scroll() {
        $(window).scrollTop(scrollTop)
        $(window).scrollLeft(scrollLeft)
    }
    $(window).on('scroll', prevent_scroll)

})

$(document).off('click', '.reply_side .modify_comment')
$(document).on('click', '.reply_side .modify_comment', (e) => {

    if ($('.modifyCommentForm').length) {
        oldForm = $('.modifyCommentForm')
        oldForm.closest('.comment').find('.not_ava_side_comment').removeClass('none')
        oldForm.remove()
    }
    let $t = $(e.target)
    let $post = $t.closest('.post')
    let $reply = $t.closest('.reply')
    let $html_box = $reply.find('.not_ava_side_comment')
    $html_box.addClass('none')
    let html = $reply.find('.user_comment').html()
    let input = `
    <form class="modifyCommentForm">
       <input type="text" class="current_user_cmt_modify" placeholder="Viết bình luận..."
       value=${html}>
    </form>
    `
    $reply.find('.not_ava_side').prepend(input)

})

$(document).off('submit', '.reply_side .modifyCommentForm')
$(document).on('submit', '.reply_side .modifyCommentForm', (e) => {
    e.preventDefault()
    let $t = $(e.target)

    let $comment = $t.closest('.reply')
    let comment_id = $comment.attr('reply_id')

    let content = $comment.find('.current_user_cmt_modify').val()
    if (!/\S/.test(content)) return
    let $html_box = $comment.find('.not_ava_side_comment')

    axios.post('/modifyComment', {
        comment_id: comment_id,
        content: content
    }).then((res) => {
        if (res.status == 200) {
            $comment.find('.user_comment').html(content)

            $html_box.removeClass('none')
            $comment.find('.modifyCommentForm').remove()

            let $t = $comment.find('.show_comment_likes')
            let $reply = $comment
            let reply_id = $reply.attr('reply_id')
            let $reply_box = $reply.find('.not_setting')
            let reply_box_width = parseInt($reply_box.css('width'))
            let min_width = parseInt($reply.find('.not_ava_side_interact').width())
            if (reply_box_width - 30 > min_width) {
                $t.addClass('bottom_right')
            }
            else {
                $t.removeClass('bottom_right')
            }

            let $t1 = $comment.find('.comment_not_text_right')
            if ($t.length) {
                if ($t.hasClass('bottom_right')) {
                    $t1.css('margin-left', 6)
                }
                else {
                    $t1.css('margin-left', $t.width() + 6)
                }
            }
            else {
                $t1.css('margin-left', 6)
            }
        }
    })




})

$(document).off('click', '.reply_side .like')
$(document).on('click', '.reply_side .like', (e) => {
    let $t = $(e.target).hasClass('like') ? $(e.target) : $(e.target).closest('.like')
    $t.toggleClass('liked')

    let $post = $t.closest('.post')
    let post_id = $post.attr('post_id')
    let $comment = $t.closest('.reply')
    let comment_id = $comment.attr('reply_id')
    let comment_list = ''
    axios.post('/likeComment', {
        comment_id: comment_id
    }).then((res) => {
        let like_count = res.data.like_count
        if ($comment.find('.show_comment_likes').length) {
            if (like_count > 0) {
                $comment.find('.inner_comment_like_count').html(like_count)
            }
            else {
                $comment.find('.show_comment_likes').remove()
            }
        }
        else {
            if ($t.hasClass('liked')) {
                if (like_count > 0) {
                    comment_list = ` 
                                    <div class='show_comment_likes'>
                                        <div class='like_icon'>

                                        </div>
                                        <div class='comment_like_count'>
                                            <div inner_comment_like_count>
                                                ${like_count}
                                            </div>
                                        </div>
                                    </div>
        `
                    $comment.find('.not_setting').append(comment_list)
                }
            }
            else {
                if (like_count > 0) {
                    comment_list += ` 
                                <div class='show_comment_likes'>
                                    <div class='like_icon'>

                                    </div>
                                    <div class='comment_like_count'>
                                        <div inner_comment_like_count>
                                            ${like_count}
                                        </div>
                                    </div>
                                </div>
        `
                    $comment.find('.not_setting').append(comment_list)
                }
                else {
                    $comment.find('.not_setting').find('.comment_list').remove()

                }
            }
        }
        $t = $comment.find('.show_comment_likes')
        let $reply = $comment
        let reply_id = $reply.attr('reply_id')
        let $reply_box = $reply.find('.not_setting')
        let reply_box_width = parseInt($reply_box.css('width'))
        let min_width = parseInt($reply.find('.not_ava_side_interact').width())

        if (reply_box_width - 30 > min_width) {
            $t.addClass('bottom_right')
        }
        else {
            $t.removeClass('bottom_right')
        }

        let $t1 = $comment.find('.comment_not_text_right')
        if ($t.length) {
            if ($t.hasClass('bottom_right')) {
                $t1.css('margin-left', 6)
            }
            else {
                $t1.css('margin-left', $t.width() + 6)
            }
        }
        else {
            $t1.css('margin-left', 6)
        }
    })
})
$(document).off('click', '.reply_side .show_comment_likes')
$(document).on('click', '.reply_side .show_comment_likes', (e) => {
    console.log('aa')
    $('.reply_like_div').addClass('flex')
    let $parent = $('.reply_like_div')
    let $t = $(e.target)

    let comment_id = $t.closest('.reply').attr('reply_id')

    axios.post('/getCommentLike', {
        comment_id: comment_id
    }).then((res) => {
        let like_count = res.data.like_count
        let users = res.data.users
        let list = ''
        $parent.find('.react_side').find('.data').html(like_count)
        for (let one of users) {
            list += `
    <div class= 'users_who_like' >
    <div class='left_side'>
        <div class='user_ava'>

        </div>
    </div>
    <div class='right_side'>
        <a class='user_name' href='http://localhost:3000/friend/${one.id}'>
            ${one.name}
        </a>
    </div>
        </div >
            `
        }
        $('.reply_like_div').find('.user_side').html(list)
    })

    let scrollTop = $(window).scrollTop()
    let scrollLeft = $(window).scrollLeft()
    function prevent_scroll() {
        $(window).scrollTop(scrollTop)
        $(window).scrollLeft(scrollLeft)
    }
    $(window).on('scroll', prevent_scroll)
})

$('.delete_reply_div').find('.chinhsua_comment').click((e) => {

    if ($('.modifyCommentForm').length) {
        oldForm = $('.modifyCommentForm')
        oldForm.closest('.reply').find('.not_ava_side_comment').removeClass('none')
        oldForm.remove()
    }
    let reply_id = $('.delete_reply_div').attr('reply_id')
    let $reply = $(`.reply[reply_id=${reply_id}]`)
    let $html_box = $reply.find('.not_ava_side_comment')
    $html_box.addClass('none')
    let html = $reply.find('.user_comment').html()
    let input = `
            <form class="modifyCommentForm">
            <input type="text" class="current_user_cmt_modify" placeholder="Viết bình luận..."
            value=${html}>
            </form>
            `
    $reply.find('.not_ava_side').prepend(input)


    $('.delete_reply_div').find('.svgIcon').click()

})
$('.delete_reply_div').find('.xoadi_reply').click((e) => {
    let comment_id = $('.delete_reply_div').attr('reply_id')
    let $comment = $(`.comment[comment_id = ${comment_id}]`).closest('.comment')
    $('.delete_reply_div').find('.svgIcon').click()
    $(`.reply[reply_id = ${comment_id}]`).remove()
    axios.post('/deleteComment', {
        comment_id: comment_id
    }).then((res) => {
        let current_num = $comment.find('.count_num').html()
        if (parseInt(current_num) - 1 > 0) {
            $comment.find('.count_num').html(parseInt(current_num) - 1)
        }
        else {
            if ($comment.find('.like_num').length) {
                $comment.find('.comment_side').html('')
            }
            else {
                $comment.find('.likes_and_posts').remove()
            }
        }
    })
})

/*Comment*/
$(document).off('click', '.not_reply_side .delete_comment')
$(document).on('click', '.not_reply_side .delete_comment', (e) => {
    $('.delete_comment_div').addClass('flex')
    $('.delete_comment_div').attr('comment_id', $(e.target).closest('.comment').attr('comment_id'))

    let scrollTop = $(window).scrollTop()
    let scrollLeft = $(window).scrollLeft()
    function prevent_scroll() {
        $(window).scrollTop(scrollTop)
        $(window).scrollLeft(scrollLeft)
    }
    $(window).on('scroll', prevent_scroll)

})

$(document).off('click', '.not_reply_side .modify_comment')
$(document).on('click', '.not_reply_side .modify_comment', (e) => {
    if ($('.modifyCommentForm').length) {
        oldForm = $('.modifyCommentForm')
        oldForm.closest('.comment').find('.not_ava_side_comment').removeClass('none')
        oldForm.remove()
    }
    let $t = $(e.target)
    let $comment = $t.closest('.comment')
    let $html_box = $comment.find('.not_reply_side').find('.not_ava_side_comment')
    $html_box.addClass('none')
    let html = $comment.find('.not_reply_side').find('.user_comment').html()
    let input = `
    <form class="modifyCommentForm">
    <input type="text" class="current_user_cmt_modify" placeholder="Viết bình luận..."
    value=${html}>
    </form>
    `
    $comment.find('.not_reply_side').find('.not_ava_side').prepend(input)

})
$(document).off('submit', '.not_reply_side .modifyCommentForm')
$(document).on('submit', '.not_reply_side .modifyCommentForm', (e) => {
    e.preventDefault()
    let $t = $(e.target)
    let $post = $(e.target).closest('.post')
    let post_id = $post.attr('post_id')

    let $comment = $t.closest('.comment')
    let comment_id = $comment.attr('comment_id')
    let content = $comment.find('.not_reply_side').find('.current_user_cmt_modify').val()
    if (!/\S/.test(content)) return
    let $html_box = $comment.find('.not_reply_side').find('.not_ava_side_comment')

    $html_box.removeClass('none')
    $comment.find('.not_reply_side').find('.modifyCommentForm').remove()

    axios.post('/modifyComment', {
        comment_id: comment_id,
        content: content
    }).then((res) => {
        if (res.status == 200) {
            $comment.find('.not_reply_side').find('.user_comment').html(content)
        }
        modify_like_show(post_id, comment_id)

    })


})

$(document).off('click', '.not_reply_side .like')
$(document).on('click', '.not_reply_side .like', (e) => {

    let $t = $(e.target).hasClass('like') ? $(e.target) : $(e.target).closest('.like')
    $t.toggleClass('liked')

    let $post = $t.closest('.post')
    let post_id = $post.attr('post_id')
    let $comment = $t.closest('.comment')
    let comment_id = $comment.attr('comment_id')
    let comment_list = ''
    axios.post('/likeComment', {
        comment_id: comment_id
    }).then((res) => {
        let like_count = res.data.like_count
        if ($comment.find('.not_reply_side').find('.show_comment_likes').length) {
            if (like_count > 0) {
                $comment.find('.not_reply_side').find('.inner_comment_like_count').html(like_count)
            }
            else {
                $comment.find('.not_reply_side').find('.show_comment_likes').remove()
            }
        }
        else {
            if ($t.hasClass('liked')) {
                if (like_count > 0) {
                    comment_list = ` 
                    <div class='show_comment_likes'>
                        <div class='like_icon'>

                        </div>
                        <div class='comment_like_count'>
                            <div inner_comment_like_count>
                                ${like_count}
                            </div>
                        </div>
                    </div>
                                        `
                    $comment.find('.not_reply_side').find('.not_setting').append(comment_list)
                }
            }
            else {
                if (like_count > 0) {
                    comment_list += ` 
                    <div class='show_comment_likes'>
                        <div class='like_icon'>

                        </div>
                        <div class='comment_like_count'>
                            <div inner_comment_like_count>
                                ${like_count}
                            </div>
                        </div>
                    </div>
                                        `
                    $comment.find('.not_reply_side').find('.not_setting').append(comment_list)
                }
                else {
                    $comment.find('.not_reply_side').find('.not_setting').find('.comment_list').remove()

                }
            }
        }
        modify_like_show(post_id, comment_id)
    })
})
$(document).off('click', '.not_reply_side .show_comment_likes')
$(document).on('click', '.not_reply_side .show_comment_likes', (e) => {
    $('.comment_like_div').addClass('flex')
    let $parent = $('.comment_like_div')
    let $t = $(e.target)

    let comment_id = $t.closest('.comment').attr('comment_id')

    axios.post('/getCommentLike', {
        comment_id: comment_id
    }).then((res) => {
        let like_count = res.data.like_count
        let users = res.data.users
        let list = ''
        $parent.find('.react_side').find('.data').html(like_count)
        for (let one of users) {
            list += `
    <div class= 'users_who_like' >
    <div class='left_side'>
        <div class='user_ava'>

        </div>
    </div>
    <div class='right_side'>
        <a class='user_name' href='http://localhost:3000/friend/${one.id}'>
            ${one.name}
        </a>
    </div>
        </div >
            `
        }
        $('.comment_like_div').find('.user_side').html(list)
    })

    let scrollTop = $(window).scrollTop()
    let scrollLeft = $(window).scrollLeft()
    function prevent_scroll() {
        $(window).scrollTop(scrollTop)
        $(window).scrollLeft(scrollLeft)
    }
    $(window).on('scroll', prevent_scroll)
})

$('.delete_comment_div').find('.chinhsua_comment').click((e) => {

    if ($('.modifyCommentForm').length) {
        oldForm = $('.modifyCommentForm')
        oldForm.closest('.comment').find('.not_ava_side_comment').removeClass('none')
        oldForm.remove()
    }
    let comment_id = $('.delete_comment_div').attr('comment_id')
    let $comment = $(`.comment[comment_id=${comment_id}]`)
    let $html_box = $comment.find('.not_ava_side_comment')
    $html_box.addClass('none')
    let html = $comment.find('.user_comment').html()
    let input = `
    <form class="modifyCommentForm">
       <input type="text" class="current_user_cmt_modify" placeholder="Viết bình luận..."
       value=${html}>
    </form>
    `
    $comment.find('.not_ava_side').prepend(input)


    $('.delete_comment_div').find('.svgIcon').click()

})
$('.delete_comment_div').find('.xoadi_comment').click((e) => {
    let comment_id = $('.delete_comment_div').attr('comment_id')
    let $post = $(`.comment[comment_id = ${comment_id}]`).closest('.post')
    $('.delete_comment_div').find('.svgIcon').click()
    $(`.comment[comment_id = ${comment_id}]`).remove()
    axios.post('/deleteComment', {
        comment_id: comment_id
    }).then((res) => {
        let current_num = $post.find('.count_num').html()
        if (parseInt(current_num) - 1 > 0) {
            $post.find('.count_num').html(parseInt(current_num) - 1)
        }
        else {
            if ($post.find('.like_num').length) {
                $post.find('.comment_side').html('')
            }
            else {
                $post.find('.likes_and_posts').remove()
            }
        }
    })
})

/**/
$('.comment_like_div').on('click', '.overlay', (e) => {
    $('.comment_like_div').removeClass('flex')
    $(window).unbind('scroll')

})
$('.comment_like_div').find('svg').click((e) => {
    $('.comment_like_div').removeClass('flex')
    $(window).unbind('scroll')

})
$('.reply_like_div').on('click', '.overlay', (e) => {
    $('.reply_like_div').removeClass('flex')
    $(window).unbind('scroll')

})
$('.reply_like_div').find('svg').click((e) => {
    $('.reply_like_div').removeClass('flex')
    $(window).unbind('scroll')

})


$(document).ready(function () {
    $('.not_reply_side').find('.show_comment_likes').each((index, item) => {
        let $t = $(item)
        let $post = $t.closest('.post')
        let $comment = $t.closest('.comment')
        let comment_id = $comment.attr('comment_id')
        let $comment_box = $comment.find('.not_setting')
        let min_width = parseInt($comment.find('.not_ava_side_interact').width())
        let comment_box_width = parseInt($comment_box.css('width'))
        if (comment_box_width - 30 > min_width) {
            $t.addClass('bottom_right')
        }
    })
    $('.not_reply_side').find('.comment_not_text_right').each((index, item2) => {
        if ($(item2).closest('.comment').find('.show_comment_likes').length) {
            if ($(item2).closest('.comment').find('.show_comment_likes').hasClass('bottom_right')) {
                $(item2).css('margin-left', 6)
            }
            else {
                $(item2).css('margin-left', $(item2).closest('.comment').find('.show_comment_likes').width() + 6)
            }
        }
        else {
            $(item2).css('margin-left', 6)
        }
    })

})

function modify_like_show(post_id, comment_id) {
    if (!comment_id) {
        $(`.post[post_id=${post_id}]`).find('.show_comment_likes').each((index, item) => {
            let $t = $(item)
            let $post = $t.closest('.post')
            let $comment = $t.closest('.comment')
            let comment_id = $comment.attr('comment_id')
            let $comment_box = $comment.find('.not_setting')
            let min_width = parseInt($comment.find('.not_reply_side').find('.not_ava_side_interact').width())
            let comment_box_width = parseInt($comment_box.css('width'))
            let $a = $comment.find('.not_reply_side').find('.not_ava_side_interact')
            if (comment_box_width - 30 > min_width) {
                $t.addClass('bottom_right')
            }
            else {
                $t.removeClass('bottom_right')
            }
        })
        $(`.post[post_id=${post_id}]`).find('.comment_not_text_right').each((index, item2) => {
            if ($(item2).closest('.comment').find('.show_comment_likes').length) {
                if ($(item2).closest('.comment').find('.show_comment_likes').hasClass('bottom_right')) {
                    $(item2).css('margin-left', 6)
                }
                else {
                    $(item2).css('margin-left', $(item2).closest('.comment').find('.show_comment_likes').width() + 6)
                }
            }
            else {
                $(item2).css('margin-left', 6)
            }
        })
    }
    else {
        let item1 = $(`.post[post_id=${post_id}]`).find(`.comment[comment_id=${comment_id}]`).find('.not_reply_side').find('.show_comment_likes')
        if (item1.length) {
            let $t = item1
            let $post = $t.closest('.post')
            let $comment = $t.closest('.comment')
            let $comment_box = $comment.find('.not_reply_side').find('.not_setting')
            let min_width = parseInt($comment.find('.not_reply_side').find('.not_ava_side_interact').width())
            let comment_box_width = parseInt($comment_box.css('width'))
            let $a = $comment.find('.not_reply_side').find('.not_ava_side_interact')
            if (comment_box_width - 30 > min_width) {
                $t.addClass('bottom_right')
            }
            else {
                $t.removeClass('bottom_right')
            }
        }


        let item2 = $(`.post[post_id=${post_id}]`).find(`.comment[comment_id=${comment_id}]`).find('.comment_not_text_right')[0]
        if ($(item2).closest('.comment').find('.not_reply_side').find('.show_comment_likes').length) {
            if ($(item2).closest('.comment').find('.not_reply_side').find('.show_comment_likes').hasClass('bottom_right')) {
                $(item2).css('margin-left', 6)
            }
            else {
                $(item2).css('margin-left', $(item2).closest('.comment').find('.not_reply_side').find('.show_comment_likes').width() + 6)
            }
        }
        else {
            $(item2).css('margin-left', 6)
        }
    }
}


autosize($('.content_content_taobaiviet'));

$('.show_comment_likes').each((index, item) => {
    let $t = $(item)
    let $post = $t.closest('.post')
    let $comment = $t.closest('.comment')
    let comment_id = $comment.attr('comment_id')
    let $comment_box = $comment.find('.not_setting')
    let min_width = parseInt($comment.find('.not_ava_side_interact').width())
    let comment_box_width = parseInt($comment_box.css('width'))
    let $a = $comment.find('.not_ava_side_interact')
    if (comment_box_width - 30 > min_width) {
        $t.addClass('bottom_right')
    }
    else {
        $t.removeClass('bottom_right')
    }
})
$('.comment_not_text_right').each((index, item) => {
    if (!$(item).closest('.comment').find('.show_comment_likes.bottom_right').length) {
        $(item).css('margin-left', $(item).closest('.comment').find('.show_comment_likes').width() + 6)
    }
})

$(document).off('mouseenter', '.comment .not_reply_side')
$(document).on('mouseenter', '.comment .not_reply_side', (e) => {
    let $t = $(e.target).hasClass('not_reply_side') ? $(e.target) : $(e.target).closest('.not_reply_side')
    $('.comment_not_text_right').removeClass('flex')
    $('.comment_setting').removeClass('flex')
    $t.find('.comment_not_text_right').addClass('flex')
})
$(document).off('mouseleave', '.comment .not_reply_side')
$(document).on('mouseleave', '.comment .not_reply_side', (e) => {
    let $t = $(e.target).hasClass('not_reply_side') ? $(e.target) : $(e.target).closest('.not_reply_side')
    let $post = $t.closest('.post')
    let $box = $post.find('.comment_setting')
    if ($box.hasClass('flex')) return;
    $t.find('.comment_not_text_right').removeClass('flex')
})

$(document).off('mouseenter', '.comment .reply')
$(document).on('mouseenter', '.comment .reply', (e) => {
    let $t = $(e.target).hasClass('reply') ? $(e.target) : $(e.target).closest('.reply')
    $('.comment_not_text_right').removeClass('flex')
    $('.comment_setting').removeClass('flex')
    $t.find('.comment_not_text_right').addClass('flex')
})
$(document).off('mouseleave', '.comment .reply')
$(document).on('mouseleave', '.comment .reply', (e) => {
    let $t = $(e.target).hasClass('reply') ? $(e.target) : $(e.target).closest('.reply')
    let $post = $t.closest('.post')
    let $box = $post.find('.comment_setting')
    if ($box.hasClass('flex')) return;
    $t.find('.comment_not_text_right').removeClass('flex')
})

$(document).off('click', '.post_cmt')
$(document).on('click', '.post_cmt', (e) => {
    let $t = $(e.target)
    if (!$t.hasClass('post_cmt')) {
        $t = $t.closest('.post_cmt')
    }
    $t.closest('.post').find('.current_user_cmt').focus()
})
$(document).off('click', '.comment_paginate')
$(document).on('click', '.comment_paginate', (e) => {
    let $t = $(e.target)
    if (!$t.hasClass('comment_paginate')) {
        $t = $t.closest('.comment_paginate')
    }
    let $post = $t.closest('.post')
    let post_id = $post.attr('post_id')
    let current_comment_num = $post.find('.comment').length
    let first_comment_id = $post.find('.comment').attr('comment_id')
    axios.post('/getMoreComments', {
        post_id: post_id,
        current_comment_num: current_comment_num,
        first_comment_id: first_comment_id
    }).then((res) => {
        let comments_and_users = res.data.comments_and_users
        let comment_left = res.data.comment_left
        let comment_list = ''
        comments_and_users.forEach((one,index)=>{
            let comment_id = one.comment.id
            let comment_created_at = post_minimize_time(one.comment.created_at)
            let comment_content = one.comment.content
            let origin_created_at = one.comment.created_at
            let user_name = one.user.name
            let user_id = one.user.id
            comment_list += `                                
            <div class='comment' comment_id=${comment_id}>
            <div class='not_reply_side'>
                        <div class='ava_side'>

                        </div>
                        <div class='not_ava_side'>
                            <div class='not_ava_side_comment'>
                                <div class='not_setting'>
                                    <a class='user_name' href="http://localhost:3000/friend/${user_id}">
                                        ${user_name}
                                    </a>
                                    <div class='user_comment'>
                                        ${comment_content}
                                    </div>`
            if (one.like_count > 0) {
                comment_list += ` 
                    <div class='show_comment_likes'>
                        <div class='like_icon'>

                        </div>
                        <div class='comment_like_count'>
                            <div inner_comment_like_count>
                                ${one.like_count}
                            </div>
                        </div>
                    </div>
                                        `
            }
            comment_list += `</div>
                                <div class="comment_not_text_right">
                                    <div class="comment_setting">
                                        <div class="setting modify_comment">
                                            Chỉnh sửa bài viết
                                        </div>
                                        <div class="setting delete_comment ">
                                            Xoá
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='not_ava_side_interact'>`
            if (one.liked) {
                comment_list += `
                                    <div class='like liked'>
                                        Thích
                                    </div>
                                    `
            }
            else {
                comment_list += `
                                    <div class='like '>
                                         Thích
                                    </div>
                                    `
            }
            comment_list += `<div class='rep'>
                                    Trả lời
                                </div>
                                <div class='time' created_at=${origin_created_at}>
                                    ${post_minimize_time(origin_created_at)}
                                </div>
                            </div>

                        </div>
                        </div>
                                <div class='reply_side'>`
            one.replies_and_users.forEach((one1,index1)=>{
                console.log(index1 +1 )
                console.log(one.replies_and_users.length)
            if(index1+1==one.replies_and_users.length){
                comment_list +=`
                                        <div class='not_open'>
                                            <i>

                                            </i>
                                            <div class='reply_ava'>

                                            </div>
                                            <div class='reply_name'>
                                                ${one1.user.name} đã trả lời &nbsp&nbsp
                                                ${one.replies_and_users.length} phản
                                                hồi
                                            </div>
                                            <div class='last_reply_date' created_at=${one1.reply.created_at}>
                                                ${post_minimize_time(one1.reply.created_at)}
                                            </div>
                                        </div>                
                `
                }
            })

            comment_list +=         `<div class='open'>`
            if(one.replies_and_users.length > 0 ){
                comment_list +=`
                                            <div class='hide_write_and_read_reply'>
                                                <i>

                                                </i>
                                                <div>
                                                    Ẩn ${one.replies_and_users.length} phản hồi
                                                </div>
                                            </div>
                `
            }
            comment_list +=             `<div class='write_and_read_reply'>
                                            <div class='read_reply'>`
            one.replies_and_users.forEach((item2,index2)=>{
                comment_list +=                     `<div class='reply' reply_id=${item2.reply.id}>
                                                        <div class="ava_side">
                                                        </div>
                                                        <div class="not_ava_side">
                                                            <div class="not_ava_side_comment">
                                                                <div class="not_setting">
                                                                    <a class='user_name' href="http://localhost:3000/friend/${item2.user.id}">
                                                                        ${item2.user.name}
                                                                    </a>
                                                                    <div class="user_comment">
                                                                        ${item2.reply.content}
                                                                    </div>`

            if(item2.like_count>0){
                comment_list +=                                    `<div class="show_comment_likes">
                                                                        <div class="like_icon">

                                                                        </div>
                                                                        <div class="comment_like_count">
                                                                            <div class="inner_comment_like_count">
                                                                                ${item2.like_count}
                                                                            </div>
                                                                        </div>
                                                                    </div>`
            }                                                       
                comment_list +=                               ` </div>
                                                                <div class="comment_not_text_right">
                                                                    <div class=" comment_setting">
                                                                        <div class="setting modify_comment">
                                                                            Chỉnh sửa bình luận
                                                                        </div>
                                                                        <div class="setting delete_reply ">
                                                                            Xoá
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="not_ava_side_interact">`

            if(item2.liked==true){
                comment_list +=`
                                                                <div class='like liked'>
                                                                    Thích
                                                                </div>
                `
            }   
            else{
                comment_list +=`
                                                                <div class='like'>
                                                                    Thích
                                                                </div>
                `
            }                                                      
            comment_list +=`
                                                                <div class="rep">
                                                                    Trả lời
                                                                </div>
                                                                <div class="time"
                                                                    created_at=${item2.reply.created_at}>
                                                                ${post_minimize_time(item2.reply.created_at)}
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>    `
                                                })                                    



        comment_list +=                         `</div>
                                                <div class='write_reply'>
                                                    <div class="user_ava">

                                                    </div>
                                                    <form class="createReplyForm">
                                                        <input type="text" class="user_cmt"
                                                            placeholder="Viết bình luận...">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>`
        })
        $post.find('.comment_show').prepend(comment_list)
        if (comment_left > 0) {
            if (comment_left < 10) {
                $post.find('.inner_panigate').html(`Xem thêm ${comment_left} bình luận`)
            }
            else {
                $post.find('.inner_panigate').html(`Xem thêm 10 bình luận`)
            }
        }
        else {
            $post.find('.comment_paginate').remove()
        }
        modify_like_show(post_id)
    })
})

$(document).off('submit', '.createReplyForm')
$(document).on('submit', '.createReplyForm', (e) => {
    e.preventDefault()
    let $t = $(e.target)
    let $post = $t.closest('.post')
    let post_id = $post.attr('post_id')
    let $comment = $t.closest('.comment')
    let comment_id = $comment.attr('comment_id')
    let content = $t.find('.user_cmt').val()
    if (!/\S/.test(content)) return
    axios.post('/createReply', {
        post_id: post_id,
        comment_id: comment_id,
        content: content
    }).then((res) => {
        let reply_id = res.data.id
        let reply_created_at = post_minimize_time(res.data.created_at)
        let reply_content = $t.find('.user_cmt').val()
        let user_name = '<%=current_user.name%>'
        let user_id = '<%=current_user.id%>'
        let origin_created_at = res.data.created_at
        let new_comment_div = `
        <div class='reply' reply_id=${reply_id}>
        <div class="ava_side">

        </div>
        <div class="not_ava_side">
            <div class="not_ava_side_comment">
                <div class="not_setting">
                    <a class='user_name' href="http://localhost:3000/friend/${user_id}">
                        ${user_name}
                    </a>
                    <div class="user_comment">
                        ${content}
                    </div>

                </div>
                <div class="comment_not_text_right">
                    <div class=" comment_setting">
                        <div class="setting modify_comment">
                            Chỉnh sửa bình luận
                        </div>
                        <div class="setting delete_comment ">
                            Xoá
                        </div>
                    </div>
                </div>
            </div>
            <div class="not_ava_side_interact">
                <div class="like">
                    Thích
                </div>
                <div class="rep">
                    Trả lời
                </div>
                <div class="time"
                    created_at=${origin_created_at}>
                    ${post_minimize_time(origin_created_at)}
                </div>
            </div>

        </div>
    </div>
        `;


        $comment.find('.read_reply').append(new_comment_div)
        $comment.find('.user_cmt').val('')
        if ($comment.find('.count_num').length) {
            $comment.find('.count_num').html((index, oldHtml) => {
                return parseInt(oldHtml) + 1
            })
        }
        else if (!$comment.find('.count_num').length && $comment.find('.like_num').length) {
            let comment_side = `<div class='comment_count'>
                            <div class="count_num">1</div>
                            <div class="count_text">
                                Bình luận
                            </div>
                            </div>
            `
            $comment.find('.comment_side').append(comment_side)
        }
        else if (!$comment.find('.count_num').length && !$comment.find('.like_num').length) {
            let likes_and_posts_html = `
            <div class="likes_and_posts">
                    <div class="like_side">
                    </div>
                    <div class="comment_side">
                        <div class="comment_count">
                            <div class="count_num">1</div>
                            <div class="count_text">
                                Bình luận
                            </div>
                        </div>

                    </div>
                </div>
            `
            $comment.find('.post_content').append(likes_and_posts_html)
        }

    })
})


$(document).off('submit', '.createCommentForm')
$(document).on('submit', '.createCommentForm', (e) => {
    e.preventDefault()
    let $post = $(e.target).closest('.post')
    let post_id = $post.attr('post_id')
    let content = $post.find('.current_user_cmt').val()
    if (!/\S/.test(content)) return
    axios.post('/createComment', {
        post_id: post_id,
        content: content
    }).then((res) => {
        let comment_id = res.data.id
        let comment_created_at = post_minimize_time(res.data.created_at)
        let comment_content = $post.find('.current_user_cmt').val()
        let user_name = '<%=current_user.name%>'
        let user_id = '<%=current_user.id%>'
        let origin_created_at = res.data.created_at
        let new_comment_div = `
        <div class='comment' comment_id=${comment_id}>
    <div class='not_reply_side'>
        <div class='ava_side'>

        </div>
        <div class='not_ava_side'>
            <div class='not_ava_side_comment'>
                <div class='not_setting'>
                    <a class='user_name' href="http://localhost:3000/friend/${user_id}">
                        ${user_name}
                    </a>
                    <div class='user_comment'>
                        ${comment_content}
                    </div>
                </div>
                <div class="comment_not_text_right">
                    <div class="comment_setting">
                        <div class="setting modify_comment">
                            Chỉnh sửa bài viết
                        </div>
                        <div class="setting delete_comment ">
                            Xoá
                        </div>
                    </div>
                </div>
            </div>
            <div class='not_ava_side_interact'>
                <div class='like'>
                    Thích
                </div>
                <div class='rep'>
                    Trả lời
                </div>
                <div class='time' created_at=${origin_created_at}>
                    ${post_minimize_time(origin_created_at)}
                </div>
            </div>
        </div>
    </div>
        `;
        new_comment_div+=`
                                    <div class='reply_side'>
                                        <div class='open'>
                                            <div class='write_and_read_reply'>
                                                <div class='read_reply'>

                                                </div>
                                                <div class='write_reply'>
                                                    <div class="user_ava">

                                                    </div>
                                                    <form class="createReplyForm">
                                                        <input type="text" class="user_cmt"
                                                            placeholder="Viết bình luận...">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
        </div>

        `
        $post.find('.comment_show').append(new_comment_div)
        $post.find('.current_user_cmt').val('')
        if ($post.find('.count_num').length) {
            $post.find('.count_num').html((index, oldHtml) => {
                return parseInt(oldHtml) + 1
            })
        }
        else if (!$post.find('.count_num').length && $post.find('.like_num').length) {
            let comment_side = `<div class='comment_count'>
                            <div class="count_num">1</div>
                            <div class="count_text">
                                Bình luận
                            </div>
                            </div>
            `
            $post.find('.comment_side').append(comment_side)
        }
        else if (!$post.find('.count_num').length && !$post.find('.like_num').length) {
            let likes_and_posts_html = `
            <div class="likes_and_posts">
                    <div class="like_side">
                    </div>
                    <div class="comment_side">
                        <div class="comment_count">
                            <div class="count_num">1</div>
                            <div class="count_text">
                                Bình luận
                            </div>
                        </div>

                    </div>
                </div>
            `
            $post.find('.post_content').append(likes_and_posts_html)
        }

    })
})

$('.new_post').on('click', '.post_upload_button', () => {
    $("#post_image_form").submit(function (e) {
    console.log('a')
    e.preventDefault();
    let data = new FormData();
    let file = $('input[type=file]')[0].files
    let post_file = file[0]
    let content = $('.content_content_taobaiviet').val()
    let status = $('.post_status').attr('post_mode')
    data.append('avatar', post_file);
    data.append('content', content);
    data.append('status', status);
    if (!/\S/.test(content)) return
    axios({
        method: 'post',
        url: '/createPost',
        data: data,
        config: {
            headers: {
            'Content-Type': 'multipart/form-data',
            }
        }
    }).then((res) => {
        location.reload()
        let new_post_div = `
        <form id="post_image_form" enctype="multipart/form-data" action="/createPost" accept-charset="UTF-8"
            method="post">
            <input type="hidden" name="authenticity_token"
                value="VQ0Kl4heG67vHZQq7APTSHABAyQp/HwldEoPAd5GQTkBoJ8mm1dGBYXBw8KryKQkxjoE3t/pz3PLjuuUl13a5Q==">
            <div class='taobaiviet'>
                <div class='inner_taobaiviet'>
                    Tạo bài viết
                </div>
            </div>
                <div class='noi_taobaiviet'>
                    <div class='inner_noi_taobaiviet'>
                        <div class='content_taobaiviet'>
                            <div class='inner_content_taobaiviet'>
                                <div class='ava_content_taobaiviet'>
                                </div>
                                <textarea class='content_content_taobaiviet'
                                    placeholder='<%= current_user.name %> ơi,bạn đang nghĩ gì?'></textarea>
                            </div>
                            <div class="post_image_contain">
                                <div id="post_image"></div>
                            </div>
                        </div>
                        <div class='attach_taobaiviet'>
                            <div class='inner_attach'>
                                <label for="post_image_input" class='attach'>
                                <div class='inner_attach'>
                                    <div class='attach_ava'></div>
                                    <div class='attach_text'>
                                        Ảnh/Video
                                    </div>
                                </div>
                                </label>
                                <input type="file" as="file" id="post_image_input" accept="image/*" style="display: none"
                                name="post[avatar]">
                                <div class='post_status c' post_mode='to_public'>
                                    <div class='post_status_select'>
                                        <div class='aisenhinthay_out'>
                                            <div class='aisenhinthay_in'>
                                                Ai sẽ nhìn thấy nội dung này?
                                            </div>
                                        </div>
                                        <div class='status_modes'>
                                            <div class='mode mode_1' post_mode='to_public'>
                                                <div class='mode_main_icon'>

                                                </div>
                                                <div class='mode_main_not_icon'>
                                                    <div class='mode_main_text'>
                                                        Công khai
                                                    </div>
                                                    <div class='mode_detail'>
                                                        Mọi người trên hoặc ngoài Fakebook
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='mode mode_2' post_mode='to_friends'>
                                                <div class='mode_main_icon'>
                                                </div>
                                                <div class='mode_main_not_icon'>
                                                    <div class='mode_main_text'>
                                                        Bạn bè
                                                    </div>
                                                    <div class='mode_detail'>
                                                        Bạn bè của bạn trên Fakebook
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='mode mode_3' post_mode='to_me'>
                                                <div class='mode_main_icon'>

                                                </div>
                                                <div class='mode_main_not_icon'>
                                                    <div class='mode_main_text'>
                                                        Chỉ mình tôi
                                                    </div>
                                                    <div class='mode_detail'>
                                                        Chỉ mình tôi
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='post_status_icon'>

                                    </div>
                                    <div class='post_status_text'>
                                        Công khai
                                    </div>
                                    <div class='post_status_arrow'>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='post_upload'>
                    <label for="post_btn" class='post_upload_button'>
                        <div class='post_upload_button_text'>
                            Đăng
                        </div>
                    </label>
                    <input id="post_btn" type="submit" style="display: none"></input>
                </div>`;
            $('.new_post').html(new_post_div)

                watch_post = $('.watch_post')
                let user_name = '<%= current_user.name.titleize  %>'
                let user_id = '<%= current_user.id  %>'
                let post = res.data.post

                let one_post = `
                <div class='post' post_id=${post.id}>
                <div class='post_side'>
                <div class='post_content'>
                    <div class='post_not_text'>
                        <div class='post_not_text_left'>
                            <div class='post_ava'>
                                <%= image_tag current_user.avatar.url(:medium) %>
                            </div>
                            <div class='post_not_ava'>
                                <a class='post_user_name' href='http://localhost:3000/friend/${user_id}'>
                                    ${user_name}
                                </a>
                                <div class='post_time_and_mode'>
                                    <a class='post_time' created_at='${post.created_at
                        }'>
                                        ${ post_minimize_time(post.created_at)
                        }
                                        
                                    </a >
                <div class='post_mode_setting c' post_mode=${post.status}>
                    `
                    if (post.status == "to_public") {
                        one_post += `<div class='post_mode_icon post_mode_icon_0'>`
                    }
                    else if (post.status == "to_friends") {
                        one_post += `<div class='post_mode_icon post_mode_icon_1'>`
                    }
                    else {
                        one_post += `<div class='post_mode_icon post_mode_icon_2'>`
                    }
                    one_post += `</div>
                <div class='post_status_arrow'>

                </div>
                <div class='post_mode_setting_setting'>
                    <div class='aisenhinthay_out'>
                        <div class='aisenhinthay_in'>
                            Ai sẽ nhìn thấy nội dung này?
                                                </div>
                    </div>
                    <div class='status_modes'>
                        <div class='mode1 mode_1' post_mode='to_public'>
                            <div class='mode_main_icon'>

                            </div>
                            <div class='mode_main_not_icon'>
                                <div class='mode_main_text'>
                                    Công khai
                                                        </div>
                                <div class='mode_detail'>
                                    Mọi người trên hoặc ngoài Fakebook
                                                        </div>
                            </div>
                        </div>
                        <div class='mode1 mode_2' post_mode='to_friends'>
                            <div class='mode_main_icon'>
                            </div>
                            <div class='mode_main_not_icon'>
                                <div class='mode_main_text'>
                                    Bạn bè
                                                        </div>
                                <div class='mode_detail'>
                                    Bạn bè của bạn trên Fakebook
                                                        </div>
                            </div>
                        </div>
                        <div class='mode1 mode_3' post_mode='to_me'>
                            <div class='mode_main_icon'>

                            </div>
                            <div class='mode_main_not_icon'>
                                <div class='mode_main_text'>
                                    Chỉ mình tôi
                                                        </div>
                                <div class='mode_detail'>
                                    Chỉ mình tôi
                                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
                                    </div >
                                    </div >
                                </div >
                            </div >
                <div class='post_not_text_right'>
                    <div class='post_setting'>
                        <div class='setting modify_post'>
                            Chỉnh sửa bài viết
                                </div>
                        <div class='setting delete_post'>
                            Xoá
                                </div>
                    </div>
                </div>
                    </div >
                <div class='post_text'>${post.content}</div>`

                if(res.data.avatar_exist==true){
                    one_post+=`
                    <div class="post_image_contain">
                        <image src= "${res.data.avatar}">
                    </div>
                    `
                }
                one_post+=            `</div >
                <div class='post_interact'>
                    <div class='post_like'>
                        <div class='post_like_inner'>
                            <div class='post_like_inner_icon'>

                            </div>
                            <div class='post_like_inner_text'>
                                Thích
                                        </div>
                        </div>
                    </div>
                    <div class='post_cmt'>
                        <div class='post_cmt_inner'>
                            <div class='post_cmt_inner_icon'>

                            </div>
                            <div class='post_cmt_inner_text'>
                                Bình luận
                                        </div>
                        </div>
                    </div>
                </div>
                        </div >
                <div class='cmt_side'>
                    <div class='read_comment'>
                        <div class='comment_show'>
                        </div>
                    </div>
                    <div class='write_comment'>
                        <div class='current_user_ava'>

                        </div>
                        <form class='createCommentForm'>
                            <input type='text' class='current_user_cmt' placeholder="Viết bình luận...">
                                    </form>
                                </div>
                    </div>
                </div>
            </div >
            </form>`;
        $('.watch_post').prepend(one_post)
        autosize($('.content_content_taobaiviet'));
    })
    })
})
// ---------------------------
$('.post_time').html((blabla, oldhtml) => {
    return post_minimize_time(oldhtml)
})
$('.time').html((blabla, oldhtml) => {
    return post_minimize_time(oldhtml)
})
$('.last_reply_date').html((blabla, oldhtml) => {
    return post_minimize_time(oldhtml)
})


setInterval(() => {
    $('.time').each((index, item) => {
        let $item = $(item)
        $item.html(post_minimize_time($item.attr('created_at')))
    })
    $('.post_time').each((index, item) => {
        let $item = $(item)
        $item.html(post_minimize_time($item.attr('created_at')))
    })
}, 1000 * 60)
function lighten(element, position) {
    let x_axis = position.split(" ");
    if (element.hasClass("lighting") || element.hasClass("icon_noti_1")) {
        x_axis[0] = (parseInt(x_axis[0]) - 25) + "px"
    }
    else {
        x_axis[0] = (parseInt(x_axis[0]) + 25) + "px"
    }
    return x_axis.join(" ");
}
$(document).off('click', '.post_status')
$(document).on('click', '.post_status', (e) => {
    let $t = $(e.target)
    if (!$t.hasClass('post_status')) {
        $t = $t.closest('.post_status')
    }
    let $p = $t.find('.post_status_select')

    $p.toggleClass('flex')
    $t.toggleClass('afterclick')
    if ($t.hasClass('afterclick')) {
        if ($t.attr('post_mode') == 'to_public') {
            $t.find('.post_status_icon').css('background-position', '-44px -1592px')
        }
        else if ($t.attr('post_mode') == 'to_friends') {
            $t.find('.post_status_icon').css('background-position', '-44px -1484px')
        }
        else {
            $t.find('.post_status_icon').css('background-position', '-18px -1780px')
        }

        $t.find('.post_status_arrow').css('background-position-x', '-38px')
    }
    else {
        if ($t.attr('post_mode') == 'to_public') {
            $t.find('.post_status_icon').css('background-position', '-44px -1574px')
        }
        else if ($t.attr('post_mode') == 'to_friends') {
            $t.find('.post_status_icon').css('background-position', '-44px -1466px')
        }
        else {
            $t.find('.post_status_icon').css('background-position', '0 -1780px')
        }
        $t.find('.post_status_arrow').css('background-position-x', '-47px')
    }
})

$(window).click((ee) => {
    let $t = $('.post_status')
    let $p = $('.post_status_select')
    let $tt = $(ee.target)
    if ($(ee.target).hasClass('post_status')) {
        return;
    }
    else if ($(ee.target).closest('.post_status').length) {
        return;
    }
    if (!$t.hasClass('afterclick')) return;
    if ($t.attr('post_mode') == 'to_public') {
        $t.find('.post_status_icon').css('background-position', '-44px -1574px')
    }
    else if ($t.attr('post_mode') == 'to_friends') {
        $t.find('.post_status_icon').css('background-position', '-44px -1466px')
    }
    else {
        $t.find('.post_status_icon').css('background-position', '0 -1780px')
    }
    $t.find('.post_status_arrow').css('background-position-x', '-47px')
    $t.removeClass('afterclick')
    $p.removeClass('flex')

})


$(document).off('click', '.post_not_text_right')
$(document).on('click', '.post_not_text_right', (e) => {
    let $t = $(e.target)
    if (!$t.hasClass('post_not_text_right')) {
        $t = $t.closest('.post_not_text_right')
    }
    console.log($t)
    let $p = $t.find('.post_setting')

    $p.toggleClass('flex')

})


$(document).off('click', '.post_mode_setting')
$(document).on('click', '.post_mode_setting', (e) => {
    let $t = $(e.target)
    if (!$t.hasClass('post_mode_setting')) {
        $t = $t.closest('.post_mode_setting')
    }
    let $p = $t.find('.post_mode_setting_setting')


    $t.toggleClass('afterclick')
    $p.toggleClass('flex')


    if ($t.hasClass('afterclick')) {

        $icon = $t.find('.post_mode_icon')
        if ($t.attr('post_mode') == 'to_public') {
            $icon.removeAttr('class');
            $icon.addClass('post_mode_icon')
            $icon.addClass('post_mode_icon_0_clicked')
            $('.post_mode_setting').attr('post_mode', 'to_public')
        }
        else if ($t.attr('post_mode') == 'to_friends') {
            $icon.removeAttr('class');
            $icon.addClass('post_mode_icon')
            $icon.addClass('post_mode_icon_1_clicked')
            $('.post_mode_setting').attr('post_mode', 'to_friends')
        }
        else {
            $icon.removeAttr('class');
            $icon.addClass('post_mode_icon')
            $icon.addClass('post_mode_icon_2_clicked')
            $('.post_mode_setting').attr('post_mode', 'to_me')
        }

        $t.find('.post_status_arrow').css('background-position-x', '-38px')
    }
    else {
        let $icon = $t.find('.post_mode_icon')
        if ($t.attr('post_mode') == 'to_public') {
            $icon.removeAttr('class');
            $icon.addClass('post_mode_icon')
            $icon.addClass('post_mode_icon_0')
            $('.post_mode_setting').attr('post_mode', 'to_public')
        }
        else if ($t.attr('post_mode') == 'to_friends') {
            $icon.removeAttr('class');
            $icon.addClass('post_mode_icon')
            $icon.addClass('post_mode_icon_1')
            $('.post_mode_setting').attr('post_mode', 'to_friends')
        }
        else {
            $icon.removeAttr('class');
            $icon.addClass('post_mode_icon')
            $icon.addClass('post_mode_icon_2')
            $('.post_mode_setting').attr('post_mode', 'to_me')
        }
        $t.find('.post_status_arrow').css('background-position-x', '-47px')
    }
})

$(window).click((ee) => {

    let $tt = $(ee.target)
    if ($tt.hasClass('post_mode_setting')) {
        return;
    }
    else if ($tt.closest('.post_mode_setting').length) {
        return;
    }

    if ($('.post_mode_setting.afterclick').length) {
        let $t = $('.post_mode_setting.afterclick');
        let $p = $t.find('.post_mode_setting_setting')
        $p.removeClass('flex')
        $t.removeClass('afterclick')
        $icon = $t.find('.post_mode_icon')
        if (!$t.hasClass('afterclick')) {
            if ($t.attr('post_mode') == 'to_public') {
                $icon.removeAttr('class');
                $icon.addClass('post_mode_icon')
                $icon.addClass('post_mode_icon_0')
                $('.post_mode_setting').attr('post_mode', 'to_public')
            }
            else if ($t.attr('post_mode') == 'to_friends') {
                $icon.removeAttr('class');
                $icon.addClass('post_mode_icon')
                $icon.addClass('post_mode_icon_1')
                $('.post_mode_setting').attr('post_mode', 'to_friends')
            }
            else {
                $icon.removeAttr('class');
                $icon.addClass('post_mode_icon')
                $icon.addClass('post_mode_icon_2')
                $('.post_mode_setting').attr('post_mode', 'to_me')
            }
            $t.find('.post_status_arrow').css('background-position-x', '-47px')
        }
    }

})

$(window).click((ee) => {
    let $tt = $(ee.target)
    if ($tt.hasClass('post_not_text_right')) {
        return;
    }
    else if ($tt.closest('.post_not_text_right').length) {
        return;
    }
    if ($('.post_setting.flex').length) {
        $('.post_setting.flex').removeClass('flex')
    }
})

$(window).click((ee) => {
    let $tt = $(ee.target)
    if ($tt.hasClass('comment_not_text_right')) {
        return;
    }
    else if ($tt.closest('.comment_not_text_right').length) {
        return;
    }
    if ($('.comment_setting.flex').length) {
        $('.comment_setting.flex').removeClass('flex')
    }
})


$(document).off('click', '.mode')
$(document).on('click', '.mode', (e) => {
    let $t = $(e.target)
    if (!$(e.target).hasClass('mode')) {
        $t = $(e.target).closest('.mode')
    }
    if ($t.closest('.c').hasClass('post_status')) {
        let $text = $t.closest('.c').find('.post_status_text')
        let $icon = $t.closest('.c').find('.post_status_icon')
        if ($t.attr('post_mode') == 'to_public') {
            $text.html('Công khai')
            $icon.css('background-position', '-44px -1574px')
            $('.post_status').attr('post_mode', 'to_public')
        }
        else if ($t.attr('post_mode') == 'to_friends') {
            $text.html('Bạn bè')
            $icon.css('background-position', '-44px -1466px')
            $('.post_status').attr('post_mode', 'to_friends')
        }
        else {
            $text.html('Chỉ mình tôi')
            $icon.css('background-position', '0 -1780px')
            $('.post_status').attr('post_mode', 'to_me')
        }
    }
})

$(document).off('click', '.mode1')
$(document).on('click', '.mode1', (e) => {
    let $t = $(e.target)
    if (!$(e.target).hasClass('mode1')) {
        $t = $(e.target).closest('.mode1')
    }
    let $post = $t.closest('.post')
    let post_id = $post.attr('post_id')
    let $icon = $t.closest('.post').find('.post_mode_icon')
    if ($t.attr('post_mode') == 'to_public') {
        $icon.removeAttr('class');
        $icon.addClass('post_mode_icon')
        $icon.addClass('post_mode_icon_0')
        $('.post_mode_setting').attr('post_mode', 'to_public')
    }
    else if ($t.attr('post_mode') == 'to_friends') {
        $icon.removeAttr('class');
        $icon.addClass('post_mode_icon')
        $icon.addClass('post_mode_icon_1')
        $('.post_mode_setting').attr('post_mode', 'to_friends')
    }
    else {
        $icon.removeAttr('class');
        $icon.addClass('post_mode_icon')
        $icon.addClass('post_mode_icon_2')
        $('.post_mode_setting').attr('post_mode', 'to_me')
    }
    let status = $('.post_mode_setting').attr('post_mode')

    $t.find('.post_status_arrow').css('background-position-x', '-38px')
    axios.post('/changeStatusPost', {
        post_id: post_id,
        status: status
    }).then((res) => {

    })
})

$(document).off('click', '.modify_post')
$(document).on('click', '.modify_post', (e) => {
    let $t = $(e.target)
    let $parent = $t.closest('.post')
    let mode = $parent.find('.post_mode_setting c').attr('.post_mode')
    let post_id = $parent.attr('post_id')
    let post_mode = $parent.find('.post_mode_setting').attr('post_mode')
    let $modify_parent = $('.modify_post_div')
    let html = $parent.find('.post_text').html()
    $modify_parent.addClass('flex')

    $modify_parent.find('.content_content_taobaiviet').keypress((e) => {
    })


    $modify_parent.find('.content_content_taobaiviet').val(html)

    autosize.update($modify_parent.find('.content_content_taobaiviet'));

    $modify_parent.find('.content_content_taobaiviet').focus()

    autosize($('.content_content_taobaiviet'));
    let scrollTop = $(window).scrollTop()
    let scrollLeft = $(window).scrollLeft()
    function prevent_scroll() {
        $(window).scrollTop(scrollTop)
        $(window).scrollLeft(scrollLeft)
    }
    $(window).on('scroll', prevent_scroll)

    $modify_parent.attr('post_id', post_id)
    let $text = $modify_parent.find('.post_status_text')
    let $icon = $modify_parent.find('.post_status_icon')
    $modify_parent.find('.post_status').attr('post_mode', post_mode)
    if (post_mode == 'to_public') {
        $text.html('Công khai')
        $icon.css('background-position', '-44px -1574px')
    }
    else if (post_mode == 'to_friends') {
        $text.html('Bạn bè')
        $icon.css('background-position', '-44px -1466px')
    }
    else {
        $text.html('Chỉ mình tôi')
        $icon.css('background-position', '0 -1780px')
    }


})


function reset_modify_post() {
    $('.modify_post_div').removeClass('flex')
    let reset_noi_taobaiviet = `
    <div class='inner_noi_taobaiviet'>
    <div class='content_taobaiviet'>
        <div class='inner_content_taobaiviet'>
            <div class='ava_content_taobaiviet'>

            </div>
            <textarea class='content_content_taobaiviet'></textarea>
        </div>
    </div>
    <div class='attach_taobaiviet'>
        <div class='inner_attach'>
            <div class='attach'>
                <div class='inner_attach'>
                    <div class='attach_ava'>

                    </div>
                    <div class='attach_text'>
                        Ảnh/Video
                    </div>
                </div>
            </div>
            <div class='post_status c' post_mode='to_public'>
                <div class='post_status_select'>
                    <div class='aisenhinthay_out'>
                        <div class='aisenhinthay_in'>
                            Ai sẽ nhìn thấy nội dung này?
                        </div>
                    </div>
                    <div class='status_modes'>
                        <div class='mode mode_1' post_mode='to_public'>
                            <div class='mode_main_icon'>

                            </div>
                            <div class='mode_main_not_icon'>
                                <div class='mode_main_text'>
                                    Công khai
                                </div>
                                <div class='mode_detail'>
                                    Mọi người trên hoặc ngoài Fakebook
                                </div>
                            </div>
                        </div>
                        <div class='mode mode_2' post_mode='to_friends'>
                            <div class='mode_main_icon'>
                            </div>
                            <div class='mode_main_not_icon'>
                                <div class='mode_main_text'>
                                    Bạn bè
                                </div>
                                <div class='mode_detail'>
                                    Bạn bè của bạn trên Fakebook
                                </div>
                            </div>
                        </div>
                        <div class='mode mode_3' post_mode='to_me'>
                            <div class='mode_main_icon'>

                            </div>
                            <div class='mode_main_not_icon'>
                                <div class='mode_main_text'>
                                    Chỉ mình tôi
                                </div>
                                <div class='mode_detail'>
                                    Chỉ mình tôi
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='post_status_icon'>

                </div>
                <div class='post_status_text'>
                    Công khai
                </div>
                <div class='post_status_arrow'>
                </div>
            </div>
        </div>
    </div>
</div>
    `
    $('.modify_post_div').find('.noi_taobaiviet').html(reset_noi_taobaiviet)
    $(window).unbind('scroll')
}
$('.modify_post_div').on('click', '.overlay', (e) => {
    reset_modify_post()
})
$('.modify_post_div').find('.svgIcon').click((e) => {
    reset_modify_post()
})

$('.modify_post_div').on('click', '.post_upload_button', (e) => {
    let $modify_parent = $('.modify_post_div')

    let post_id = $modify_parent.attr('post_id')
    let content = $modify_parent.find('.content_content_taobaiviet').val()
    if (!/\S/.test(content)) return
    let status = $modify_parent.find('.post_status').attr('post_mode')
    reset_modify_post()

    axios.post('/modifyPost', {
        post_id: post_id,
        content: content,
        status: status
    }).then((res) => {
            let $updated_post = $(`.post[post_id = ${post_id}]`)
            $updated_post.find('.post_text').html(content)
            $updated_post.find('.post_mode_setting').attr('post_mode', status)

            let $icon = $updated_post.find('.post_mode_icon')
            if ($updated_post.find('.post_mode_setting').attr('post_mode') == 'to_public') {
                $icon.removeAttr('class');
                $icon.addClass('post_mode_icon')
                $icon.addClass('post_mode_icon_0')
            }
            else if ($updated_post.find('.post_mode_setting').attr('post_mode') == 'to_friends') {
                $icon.removeAttr('class');
                $icon.addClass('post_mode_icon')
                $icon.addClass('post_mode_icon_1')
            }
            else {
                $icon.removeAttr('class');
                $icon.addClass('post_mode_icon')
                $icon.addClass('post_mode_icon_2')
            }

    })

})
$(document).off('click', '.delete_post')
$(document).on('click', '.delete_post', (e) => {
    $('.delete_post_div').addClass('flex')
    $('.delete_post_div').attr('post_id', $(e.target).closest('.post').attr('post_id'))
    let scrollTop = $(window).scrollTop()
    let scrollLeft = $(window).scrollLeft()
    function prevent_scroll() {
        $(window).scrollTop(scrollTop)
        $(window).scrollLeft(scrollLeft)
    }
    $(window).on('scroll', prevent_scroll)
})

$('.delete_post_div').on('click', '.overlay', (e) => {
    $('.delete_post_div').removeClass('flex')
    $(window).unbind('scroll')
    $('.delete_post_div').removeAttr('post_id')

})
$('.delete_post_div').find('.svgIcon').click((e) => {
    $('.delete_post_div').removeClass('flex')
    $(window).unbind('scroll')
    $('.delete_post_div').removeAttr('post_id')
})
$('.delete_comment_div').on('click', '.overlay', (e) => {
    $('.delete_comment_div').removeClass('flex')
    $(window).unbind('scroll')
    $('.delete_comment_div').removeAttr('comment_id')

})
$('.delete_comment_div').find('.svgIcon').click((e) => {
    $('.delete_comment_div').removeClass('flex')
    $(window).unbind('scroll')
    $('.delete_comment_div').removeAttr('comment_id')
})
$('.delete_reply_div').on('click', '.overlay', (e) => {
    $('.delete_reply_div').removeClass('flex')
    $(window).unbind('scroll')
    $('.delete_reply_div').removeAttr('reply_id')

})
$('.delete_reply_div').find('.svgIcon').click((e) => {
    $('.delete_reply_div').removeClass('flex')
    $(window).unbind('scroll')
    $('.delete_reply_div').removeAttr('reply_id')
})

$('.chinhsua').click((e) => {
    let post_id = $('.delete_post_div').attr('post_id')
    $(`.post[post_id = ${post_id}]`).find(`.modify_post`).click()
    $('.delete_post_div').find('.svgIcon').click()
    $(`.post[post_id = ${post_id}]`).find(`.post_not_text_right`).click()
})

$('.delete_post_div').find('.xoadi').click((e) => {
    let post_id = $('.delete_post_div').attr('post_id')
    $('.delete_post_div').find('.svgIcon').click()
    $(`.post[post_id = ${post_id}]`).remove()
    axios.post('/deletePost', {
        post_id: post_id
    }).then((res) => {

    })
})


$(document).off('click', '.post_like')
$(document).on('click', '.post_like', (e) => {
    let $t = $(e.target)
    if (!$t.hasClass('.post_like')) {
        $t = $t.closest('.post_like')
    }
    let $post = $t.closest('.post')
    let html
    if (!$t.find('.post_like_inner_text').hasClass('blue_text')) {
        html = `
    <svg aria - labelledby="js_115" preserveAspectRatio = "xMinYMax meet" version = "1.1"
        viewBox = "0 0 16 16" xmlns = "http://www.w3.org/2000/svg" height = "16" width = "16" >
    <g style="fill:rgb(0, 132, 355)">
        <path
            d="M16,9.1c0-0.8-0.3-1.1-0.6-1.3c0.2-0.3,0.3-0.7,0.3-1.2c0-1-0.8-1.7-2.1-1.7h-3.1c0.1-0.5,0.2-1.3,0.2-1.8 c0-1.1-0.3-2.4-1.2-3C9.3,0.1,9,0,8.7,0C8.1,0,7.7,0.2,7.6,0.4C7.5,0.5,7.5,0.6,7.5,0.7L7.6,3c0,0.2,0,0.4-0.1,0.5L5.7,6.6 c0,0-0.1,0.1-0.1,0.1l0,0l0,0L5.3,6.8C5.1,7,5,7.2,5,7.4v6.1c0,0.2,0.1,0.4,0.2,0.5c0.1,0.1,1,1,2,1h5.2c0.9,0,1.4-0.3,1.8-0.9 c0.3-0.5,0.2-1,0.1-1.4c0.5-0.2,0.9-0.5,1.1-1.2c0.1-0.4,0-0.8-0.2-1C15.6,10.3,16,9.9,16,9.1z">
        </path>
        <path
            d="M3.3,6H0.7C0.3,6,0,6.3,0,6.7v8.5C0,15.7,0.3,16,0.7,16h2.5C3.7,16,4,15.7,4,15.3V6.7C4,6.3,3.7,6,3.3,6z">
        </path>
    </g>
        </svg >
    <div class='post_like_inner_text blue_text'>
        Thích
        </div>
        `
    }
    else {
        html = `
    <div class= 'post_like_inner_icon' >
        </div >
    <div class='post_like_inner_text'>
        Thích
        </div>
        `

    }
    $t.find('.post_like_inner').html(html)
    let post_id = $post.attr('post_id')
    axios.post('/likePost', {
        post_id: post_id
    }).then((res) => {
        let like_count = res.data.like_count
        let $like_side = $post.find('.like_side')
        let html
        if ($post.find('.likes_and_posts').length) {
            if (like_count > 0) {
                html = `
    <i class= "count_icon" ></i >
    <div class="like_count">
        <div class="like_num">
            ${like_count}
        </div>
    </div>
            `
                $like_side.html(html)
            }
            else {
                if ($post.find('.comment_count').length) {
                    html = ``
                    $like_side.html(html)
                }
                else {
                    $post.find('.likes_and_posts').remove()
                }
            }
        }
        else {

            if (like_count > 0) {
                let $likes_and_posts = `
    <div class= "likes_and_posts" >
    <div class="like_side">
        <i class="count_icon"></i>
        <div class="like_count">
            <div class="like_num">
                ${like_count}
            </div>
        </div>
    </div>
    <div class="comment_side">
    </div>
                </div >
    `
                $post.find('.post_content').append($likes_and_posts)
            }
        }
    })
})
$(document).off('click', '.count_icon')
$(document).on('click', '.count_icon', (e) => {
    $('.post_like_div').addClass('flex')

    let $t = $(e.target)
    let $parent = $('.post_like_div')
    let post_id = $t.closest('.post').attr('post_id')

    axios.post('/getPostLike', {
        post_id: post_id
    }).then((res) => {
        let like_count = res.data.like_count
        let users = res.data.users
        let list = ''
        $parent.find('.react_side').find('.data').html(like_count)
        for (let one of users) {
            list += `
    <div class= 'users_who_like' >
    <div class='left_side'>
        <div class='user_ava'>

        </div>
    </div>
    <div class='right_side'>
        <a class='user_name' href='http://localhost:3000/friend/${one.id}'>
            ${one.name}
        </a>
    </div>
        </div >
            `
        }
        $('.post_like_div').find('.user_side').html(list)
    })

    let scrollTop = $(window).scrollTop()
    let scrollLeft = $(window).scrollLeft()
    function prevent_scroll() {
        $(window).scrollTop(scrollTop)
        $(window).scrollLeft(scrollLeft)
    }
    $(window).on('scroll', prevent_scroll)
})

$('.post_like_div').on('click', '.overlay', (e) => {
    $('.post_like_div').removeClass('flex')
    $(window).unbind('scroll')

})
$('.post_like_div').find('svg').click((e) => {
    $('.post_like_div').removeClass('flex')
    $(window).unbind('scroll')

})
$(document).off('click', '.like_count')
$(document).on('click', '.like_count', (e) => {
    $('.post_like_div').addClass('flex')

    let $t = $(e.target)

    let post_id = $t.closest('.post').attr('post_id')

    axios.post('/getPostLike', {
        post_id: post_id
    }).then((res) => {
        let like_count = res.data.like_count
        let users = res.data.users
        let list = ''
        $('.react_side').find('.data').html(like_count)
        for (let one of users) {
            list += `
<div class= 'users_who_like' >
<div class='left_side'>
<div class='user_ava'>

</div>
</div>
<div class='right_side'>
<a class='user_name' href='http://localhost:3000/friend/${one.id}'>
${one.name}
</a>
</div>
</div >
`
        }
        $('.post_like_div').find('.user_side').html(list)
    })

    let scrollTop = $(window).scrollTop()
    let scrollLeft = $(window).scrollLeft()
    function prevent_scroll() {
        $(window).scrollTop(scrollTop)
        $(window).scrollLeft(scrollLeft)
    }
    $(window).on('scroll', prevent_scroll)
})
</script>
<script>
    $(function () {
        $('#post_image_form').on('change', function (event) {
            let files = event.target.files;
            let image = files[0]
            let reader = new FileReader();
            reader.onload = function (file) {
                let img = new Image();
                img.src = file.target.result;
                $('#post_image').html(img);
            }
            reader.readAsDataURL(image);
        });
    });
</script>