<html>

<head>
  <title>SocialMedia</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css" rel="stylesheet">
  <script src="https://www.gstatic.com/firebasejs/6.3.5/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.3.5/firebase-database.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/autosize@4.0.2/dist/autosize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.5/cropper.min.js"></script>
  <%= render 'partials/friend_request_respond' %>

  <script>
      const ref = firebase.database().ref("users/" + <%= current_user.id %> +"/rooms/");
    ref.on('child_added', data => {
        onFireBase(data)
        onFireBaseIcon(data)
    })
    ref.on('child_changed', data => {
        onFireBase(data)
        onFireBaseIcon(data)
    })
  </script>
</head>
<script>
  function minimize_time_1(time) {
    let hour = time.getHours()
    if (hour < 10) {
      hour = "0" + hour
    }
    let minute = time.getMinutes()
    if (minute < 10) {
      minute = "0" + minute
    }
    let date = time.getDate()
    let month = time.getMonth() + 1
    let year = time.getFullYear()
    let day = time.getDay()
    switch (day) {
      case 0:
        day = 'Chủ nhật'
        break;
      case 1:
        day = 'Thứ hai'
        break;
      case 2:
        day = 'Thứ ba'
        break;
      case 3:
        day = 'Thứ tư'
        break;
      case 4:
        day = 'Thứ năm'
        break;
      case 5:
        day = 'Thứ sáu'
        break;
      case 6:
        day = 'Thứ bảy'
        break;
    }

    let current_time = new Date()
    current_time.setHours(0, 0, 0, 0);
    let oneDay = 24 * 60 * 60 * 1000;
    time.setHours(0, 0, 0, 0);
    let diffDays = Math.round(Math.abs((current_time.getTime() - time.getTime()) / (oneDay)));
    if (diffDays == 0) {
      return `${hour}:${minute}`
    }
    else if (diffDays < 7) {
      return `${day}, ${hour}:${minute}`
    }
    else if (diffDays < 365) {
      return `${hour}:${minute},&nbsp${date} Tháng ${month}, ${year}`
    }


  }

  function minimize_time_2(time) {
    let hour = time.getHours()
    if (hour < 10) {
      hour = "0" + hour
    }
    let minute = time.getMinutes()
    if (minute < 10) {
      minute = "0" + minute
    }
    let date = time.getDate()
    let month = time.getMonth() + 1
    let year = time.getFullYear()
    let day = time.getDay()
    switch (day) {
      case 0:
        day = 'CN'
        break;
      case 1:
        day = 'T2'
        break;
      case 2:
        day = 'T3'
        break;
      case 3:
        day = 'T4'
        break;
      case 4:
        day = 'T5'
        break;
      case 5:
        day = 'T6'
        break;
      case 6:
        day = 'T7'
        break;
    }

    let current_time = new Date()
    current_time.setHours(0, 0, 0, 0);
    let oneDay = 24 * 60 * 60 * 1000;
    time.setHours(0, 0, 0, 0);
    let diffDays = Math.round(Math.abs((current_time.getTime() - time.getTime()) / (oneDay)));

    let start = new Date(current_time.getFullYear(), 0, 0);
    let diff = (current_time - start) + ((start.getTimezoneOffset() - current_time.getTimezoneOffset()) * 60 * 1000);
    let days = Math.floor(diff / oneDay);



    if (diffDays == 0) {
      return `${hour}:${minute}`
    }
    else if (diffDays < 7) {
      return `${day}`
    }
    else if (diffDays < days) {
      return `${date} Tháng ${month}`
    }
    else if (diffDays >= days) {
      return `${date}/${month}/${year}`
    }


  }

  function post_minimize_time(time) {
    time = new Date(time)
    let hour = time.getHours()
    if (hour < 10) {
      hour = "0" + hour
    }
    let minute = time.getMinutes()
    let no_0_minute = minute;
    if (minute < 10) {
      minute = "0" + minute
    }
    let date = time.getDate()
    let month = time.getMonth() + 1
    let year = time.getFullYear()
    let day = time.getDay()
    switch (day) {
      case 0:
        day = 'CN'
        break;
      case 1:
        day = 'T2'
        break;
      case 2:
        day = 'T3'
        break;
      case 3:
        day = 'T4'
        break;
      case 4:
        day = 'T5'
        break;
      case 5:
        day = 'T6'
        break;
      case 6:
        day = 'T7'
        break;
    }

    let current_time = new Date()
    let oneMinute = 60 * 1000;
    let oneHour = 60 * 60 * 1000;
    let diffMins = Math.floor(Math.abs((current_time.getTime() - time.getTime()) / (oneMinute)));
    let oneDay = 24 * 60 * 60 * 1000;
    let diffHours = Math.floor(Math.abs((current_time.getTime() - time.getTime()) / (oneHour)));
    let diffDays = Math.floor(Math.abs((current_time.getTime() - time.getTime()) / (oneDay)));

    let start = new Date(current_time.getFullYear(), 0, 0);
    let diff = (current_time - start) + ((start.getTimezoneOffset() - current_time.getTimezoneOffset()) * 60 * 1000);
    let days = Math.floor(diff / oneDay);

    if (diffDays < 1) {
      if (diffHours < 1) {
        if (diffMins < 1) {
          return `Vừa xong`
        }
        return `${diffMins} Phút`
      }
      else {
        return `${diffHours} Giờ`
      }
    }
    else if (diffDays < days) {
      return `${date} Tháng ${month} lúc ${hour}:${minute}`
    }
    else if (diffDays >= days) {
      return `${date} Tháng ${month} Năm ${year} lúc ${hour}:${minute}`
    }


  }

</script>

<body>
  <%= render 'layouts/mainBar' %>
  <%= render 'layouts/chatBar' %>
  <%= yield %>
</body>
<%= render 'partials/friend_follow_function' %>

</html>
  <%= render 'layouts/chatBar_script' %>
  <%= render 'layouts/mainBar_script' %>
  <%= render 'layouts/post' %>
  
